---
# ğŸ“ Hyun's Code collection (Built-In Modules) 
---
- Glob
- Re
- Os
- Json
- Pickle
- Collections
- Itertools
### <h3 align="right">ğŸ¥‡ Authored by <strong>Hyun</strong></h3>

# âœï¸ **Built-In** Modules

## ğŸ”  What is **Glob**?

- Glob ëª¨ë“ˆì€ ê·œì¹™ì— ë”°ë¼ ì§€ì •ëœ íŒ¨í„´ê³¼ ì¼ì¹˜í•˜ëŠ” ëª¨ë“  ê²½ë¡œëª… ë° íŒŒì¼ë“¤ì„ ì°¾ì•„ì¤€ë‹¤.
- íŒŒì¼ë“¤ì˜ ëª©ë¡ì„ ë½‘ì„ ë•Œ ìœ ìš©í•œ ëª¨ë“ˆì´ë‹¤.

## ğŸ”  What is **Re**?

- ì •ê·œì‹ í‘œí˜„ì‹(Regular Expression)ì„ ì§€ì›í•˜ëŠ” ëª¨ë“ˆì´ë‹¤.

## ğŸ”  What is **Os**?

- ìš´ì˜ì²´ì œì™€ ìƒí˜¸ì‘ìš©ì„ í•˜ê¸° ìœ„í•œ í•¨ìˆ˜ ë° ê¸°ëŠ¥ì„ ì§€ì›í•´ì£¼ëŠ” ëª¨ë“ˆì´ë‹¤.

## ğŸ”  What is **Json**?

- json(JavaScript Object Notation) íŒŒì¼ì„ ì¸ì½”ë”©í•˜ê±°ë‚˜ ë””ì½”ë”©í•  ë•Œ ì‚¬ìš©í•˜ëŠ” ëª¨ë“ˆì´ë‹¤.
- ìë°”ìŠ¤í¬ë¦½íŠ¸ë¥¼ ìœ„í•œ ê²ƒì´ê³  ê°ì²´ í˜•ì‹ìœ¼ë¡œ ìë£Œë¥¼ í‘œí˜„í•˜ëŠ” ê²ƒ.  
- ì„œë¡œë‹¤ë¥¸ ì–¸ì–´ê°„ì— ë°ì´í„°ë¥¼ ì£¼ê³ ë°›ì„ ìˆ˜ ìˆë„ë¡ ë§Œë“¤ì–´ì§„ í…ìŠ¤íŠ¸ê¸°ë°˜ í˜•ì‹ì´ë‹¤.  
- í”„ë¡œê·¸ë˜ë° ì–¸ì–´ëŠ” ì•„ë‹ˆê³ , ë‹¨ìˆœíˆ ë°ì´í„° í¬ë§·! ë°ì´í„°ë¥¼ í‘œì‹œí•˜ëŠ” ë°©ë²• !  
- íŠ¹ì • ì–¸ì–´ì— ì¢…ì†ë˜ì§€ ì•Šê³ , ëŒ€ë¶€ë¶„ì˜ í”„ë¡œê·¸ë˜ë° ì–¸ì–´ì—ì„œ JSON í¬ë§·ì„ í•¸ë“¤ë§í•  ìˆ˜ ìˆëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì œê³µí•©ë‹ˆë‹¤.  
  

> Structure of Json
-  name - value í˜•ì‹ì˜ pair<br>
- {object}ëŠ” ì¤‘ê´„í˜¸ë¡œ ê°ì‹¸ê³  ìˆìŒ. {ë¡œ ì‹œì‘í•´ì„œ }ë¡œ ëë‚¨. 
- ê°ê°ì˜ ì´ë¦„ì€ ':'ì™€ ',' ë¡œ êµ¬ë¶„ëœ name/valueí˜•ì‹ì„ ë”°ë¦„
- name(string) : value<br>
- nameì€ stringìœ¼ë¡œ ë˜ì–´ ìˆê³  : ì´í›„ì— valueê°’ì„ ë‘  <br>
- valueëŠ” ""ì•ˆì— string, number, true, false, null, object, arrayë“±ì´ ì˜¬ ìˆ˜ ìˆìŒ

## ğŸ”  What is **Pickle**?

- ì¼ë°˜ í…ìŠ¤íŠ¸ë¥¼ íŒŒì¼ë¡œ ì €ì¥í•  ë•ŒëŠ” pickle í˜•íƒœë¡œ ì €ì¥í•˜ëŠ” ëª¨ë“ˆì´ë‹¤.
- íŒŒì´ì¬ì—ì„œë§Œ ì‚¬ìš©ê°€ëŠ¥í•˜ë©° jsonê³¼ ë‹¤ë¥´ê²Œ ë°”ì´ë„ˆë¦¬ ì§ë ¬í™” í˜•ì‹ìœ¼ë¡œ ì‚¬ëŒì´ ì½ì„ ìˆ˜ ì—†ëŠ” í˜•íƒœë¡œ ì €ì¥í•œë‹¤.
- ì•ˆì •ì„±ì´ ë³´ì¥ë˜ì§€ê°€ ì•ŠëŠ”ë‹¤.
- í•˜ì§€ë§Œ ë¦¬ìŠ¤íŠ¸ë‚˜ í´ë˜ìŠ¤ê°™ì€ í…ìŠ¤íŠ¸ê°€ ì•„ë‹Œ ìë£Œí˜•ì€ ì¼ë°˜ì ì¸ íŒŒì¼ ì…ì¶œë ¥ ë°©ë²•ìœ¼ë¡œëŠ” ë°ì´í„°ë¥¼ ì €ì¥í•˜ê±°ë‚˜ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ì—†ë‹¤.
- íŒŒì´ì¬ì—ì„œëŠ” ì´ì™€ ê°™ì€ í…ìŠ¤íŠ¸ ì´ì™¸ì˜ ìë£Œí˜•ì„ íŒŒì¼ë¡œ ì €ì¥í•˜ê¸° ìœ„í•˜ì—¬ pickleì´ë¼ëŠ” ëª¨ë“ˆì„ ì œê³µí•œë‹¤.
- pickleë¡œ ë°ì´í„°ë¥¼ ì €ì¥í•˜ê±°ë‚˜ ë¶ˆëŸ¬ì˜¬ë•ŒëŠ” íŒŒì¼ì„ ë°”ì´íŠ¸í˜•ì‹ìœ¼ë¡œ ì½ê±°ë‚˜ ì¨ì•¼í•œë‹¤. (wb, rb)

> [reference](https://wayhome25.github.io/cs/2017/04/04/cs-04/)

## ğŸ”  What is **Collections**?

- ë°ì´í„° ì²˜ë¦¬ë¥¼ ìœ„í•œ ë‹¤ì–‘í•œ ê°ì²´ë¥¼ ì§€ì›í•´ì£¼ëŠ” ëª¨ë“ˆì´ë‹¤.
- ìœ ìš©í•œ ëª¨ë“ˆë¡œëŠ” Counter, Deque, Ordered Dictionary ë“±ì„ ì§€ì›í•´ì¤€ë‹¤.

## ğŸ”  What is **Itertools**?

- íš¨ìœ¨ì ì¸ loopingì„ ë„ì™€ì£¼ëŠ” ëª¨ë“ˆì´ë‹¤.
- itertoolsëŠ” pythonì—ì„œ ì œê³µí•˜ëŠ” ìì‹ ë§Œì˜ ë°˜ë³µìë¥¼ ë§Œë“œëŠ” ìœ ìš©í•œ ëª¨ë“ˆì„!

# âœï¸ Importing Libraries

In [ ]:
# Built-in modules
from glob import glob
import re
import os
import json
from pandas.io.json import json_normalize
import pickle
import collections
import itertools

# âœï¸  Methods and Examples

## ğŸ” Glob

- **import glob** : importí•˜ê¸°
- **glob .glob( ' . ' )**: íŒŒì¼ë“¤ ë¶ˆëŸ¬ì˜¤ê¸°

### ğŸ“” Examples

In [ ]:
# Find fils recursively in directory and save in one file
import glob
first = True
for filename in sorted(glob.iglob(dir_ + '**/*.sql', recursive=True)):
    content = open(filename, 'r').read()
    if first:
        content_concat = content
        first = False
    else:
        content_concat = content_concat +'\n\n' + content 

save_dir = '/Users/Downloads/'
with open(save_dir + 'SQL concated.sql', 'w') as file:
    file.write(content_concat)

In [ ]:
# directory ë‚´ì— ìˆëŠ” ëª¨ë“  directoryë¥¼ ë’¤ì§€ë©° .txt íŒŒì¼ printí•˜ê¸°
import os
for root, dirs, files in os.walk("/mydir"):
    for file in files:
        if file.endswith(".txt"):
             print(os.path.join(root, file))

In [ ]:
# ë””ë ‰í† ë¦¬ì— ìˆëŠ” íŒŒì¼ë“¤ ì „ë¶€ dictionaryì— ì €ì¥í•˜ê¸°
file_list = sorted(glob('*.csv'))
dict_data = {}
num=0
for itr in file_list:
    num += 1
    dict_data[num] = pd.read_csv(itr, encoding="euc-kr")

In [ ]:
# glob ì˜ˆì‹œ
## ê°€ì¥ ë§ˆì§€ë§‰ì— í¬ë¡¤ë§ëœ íŒŒì¼ì„ ê°€ì ¸ì˜¤ëŠ” ë°©ë²•
os.chdir("/Users/á„‹á…´á„‹á…¡á†«á„Œá…¥á†¼á„‡á…©á„‰á…µá„‰á…³á„á…¦á†· crawling/")
latest_file = glob.glob("*.json")[-1]

with open(latest_file, "r") as f:
    data = json.load(f)

In [ ]:
## .glob ì˜ˆì‹œ
# ëª¨ë“  íŒŒì¼ ê¸ì–´ì˜¤ê¸°
>>> glob.glob('*.*')
['INSTALL.LOG', 'LICENSE.txt', 'NEWS.txt', 'py.ico', 'pyc.ico',
'pycon.ico', 'python.exe', 'pythonw.exe', 'readme.txt',
'UNWISE.EXE', 'w9xpopen.exe']

# ëª¨ë“  txt ê¸ì–´ì˜¤ê¸°
>>> glob.glob('*.txt')
['LICENSE.txt', 'NEWS.txt', 'readme.txt']

## ğŸ” Re

<h2> ğŸˆ regex metacharacter </h2>

- **ï¼¼d**: ìˆ«ìì™€ ë§¤ì¹˜, [0-9]ì™€ ê°™ìŒ
- **ï¼¼D**: ìˆ«ì ì•„ë‹Œ ê²ƒê³¼ ë§¤ì¹˜, [^0-9]
- **ï¼¼s**: whitespace ë¬¸ìì™€ ë§¤ì¹˜
- **ï¼¼S**: whitespace ì•„ë‹Œ ê²ƒê³¼ ë§¤ì¹˜
- **ï¼¼w**: ë¬¸ì+ìˆ«ìì™€ ë§¤ì¹˜
- **ï¼¼W**: ë¬¸ì+ìˆ«ìê°€ ì•„ë‹Œ ë¬¸ìì™€ ë§¤ì¹˜
- **[ ]**: [ ] ì‚¬ì´ì˜ ë¬¸ìë“¤ê³¼ ë§¤ì¹˜
- **ï¼¼b**: ë‹¨ì–´ì˜ ê²½ê³„. ê³µë°±, íƒ­, ì»´ë§ˆ, ëŒ€ì‹œ ë“±ì´ ì˜¬ ìˆ˜ ìˆìŒ
- **ï¼¼B**: ï¼¼bê°€ ì•„ë‹Œ ê²ƒ.
- **ï¼¼**: ì´ìŠ¤ì¼€ì´í”„ìš© ë¬¸ì. ì •ê·œì‹ ìƒì˜ íŠ¹ë³„í•œ ì˜ë¯¸ê°€ ìˆëŠ” ê¸°í˜¸ë“¤ì„ ë¬¸ì ê·¸ëŒ€ë¡œ ì‚¬ìš©í•  ë•Œ ì“´ë‹¤. 
e.g ï¼¼. ï¼¼* ï¼¼$ ï¼¼

- **^**: ë°˜ëŒ€ë¥¼ ì˜ë¯¸           ì˜ˆì‹œ) [^0-9]: ìˆ«ìê°€ ì•„ë‹Œ ë¬¸ìë§Œ ë§¤ì¹˜
- **.**: ì¤„ë°”ê¿ˆ ë¬¸ìì¸ \nì„ ì œì™¸í•œ ëª¨ë“  ë¬¸ìì™€ ë§¤ì¹˜
- *: * ë°”ë¡œ ì•ì— ìˆëŠ” ë¬¸ìê°€ 0ë¶€í„° ë¬´í•œëŒ€ë¡œ ë°˜ë³µë  ìˆ˜ ìˆìŒ
- **+**: * ë°”ë¡œ ì•ì— ìˆëŠ” ë¬¸ì ì†Œ 1ë²ˆ ì´ìƒ ë°˜ë³µë  ë•Œ ì‚¬ìš©
- **{m, n}**: më¶€í„° nê¹Œì§€ ë°˜ë³µíšŸìˆ˜ë¥¼ ë§¤ì¹˜í•  ìˆ˜ ìˆìŒ
- **{m}**: ë°˜ë³µíšŸìˆ˜ê°€ ë°˜ë“œì‹œ míšŒ
- **?**: {0, 1}ì„ ì˜ë¯¸, ìˆì–´ë„ ë˜ê³  ì—†ì–´ë„ ë˜ê³ ë¥¼ ì˜ë¯¸, *ì˜ íƒìš•ì„ ì œí•œí•  ìˆ˜ ìˆë‹¤. 
- **^**: ë¬¸ìì—´ì˜ ì²˜ìŒì„ ì˜ë¯¸
- **$**: ë¬¸ìì—´ì˜ ë§ˆì§€ë§‰ì„ ì˜ë¯¸
- **|**: orê³¼ ê°™ì€ ì˜ë¯¸
- **( )**: ê·¸ë£¹ì„ ë§Œë“¤ì–´ì£¼ëŠ” ë©”íƒ€ë¬¸ì
- **(?=...)**: ê¸ì •í˜• ì „ë°© íƒìƒ‰

<h2> ğŸˆ regex methods </h2>

- **re .compile ( ' ì •ê·œì‹ ' )**: ì£¼ì–´ì§„ ì •ê·œí‘œí˜„ì‹ì„ ì»´íŒŒì¼í•œë‹¤.
- **re .compile ( ' ì •ê·œì‹ ' ) .match ( " ì›í•˜ëŠ” ë¬¸êµ¬ " )**: ë¬¸ìì—´ì˜ ì²˜ìŒë¶€í„° ëê¹Œì§€ ì •ê·œì‹ê³¼ ë§¤ì¹˜ë˜ëŠ”ì§€ ì¡°ì‚¬
  
  **group ( )**: ë§¤ì¹˜ëœ ë¬¸ìì—´ ë°˜í™˜
  
  **start ( )**: ë§¤ì¹˜ëœ ë¬¸ìì—´ì˜ ì‹œì‘ ìœ„ì¹˜ ë°˜í™˜
  
  **end ( )**: ë§¤ì¹˜ëœ ë¬¸ìì—´ì˜ ë ìœ„ì¹˜ ë°˜í™˜
  
  **span ( )**: ë§¤ì¹˜ëœ ë¬¸ìì—´ì˜ (ì‹œì‘, ë)ì„ íŠœí”Œë¡œ ë°˜í™˜
  
  **sub( ' old str ' , ' new str ' , count = )**: ì²« ë²ˆì§¸ strëŠ” ë°”ê¿€ ë¬¸ìì—´, ë‘ ë²ˆì§¸ ë§¤ê°œë³€ìˆ˜ëŠ” ëŒ€ìƒ ë¬¸ìì—´. ë°”ê¾¸ê³  ì‹¶ì€ íšŸìˆ˜ë¥¼ countì— ë„£ê¸°
  
  **subn( , )**: subì™€ ìœ ì‚¬í•˜ë‚˜ ë°˜í™˜ ê²°ê³¼ë¥¼ tupleê³¼ ë°”ê¾¼ íšŸìˆ˜ë¡œ ë°˜í™˜
- **re .compilt ( ' ì •ê·œì‹ ' ) .search ( " ì›í•˜ëŠ” ë¬¸êµ¬ " )**: ë¬¸ìì—´ ì „ì²´ë¥¼ ê²€ìƒ‰í•˜ì—¬ ì •ê·œì‹ê³¼ ë§¤ì¹˜ë˜ëŠ”ì§€ ì¡°ì‚¬ 
- **re .compilt ( ' ì •ê·œì‹ ' ) .findall ( " ì›í•˜ëŠ” ë¬¸êµ¬ " )**: ì •ê·œì‹ê³¼ ë§¤ì¹˜ë˜ëŠ” ë¬¸ìì—´ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜
- **re .compilt ( ' ì •ê·œì‹ ' ) .finditer ( " ì›í•˜ëŠ” ë¬¸êµ¬ " )**: ì •ê·œì‹ê³¼ ë§¤ì¹˜ë˜ëŠ” ë¬¸ìì—´ì„ iterableë¡œ ë°˜í™˜
- **re .DOTALL**, **re.S**: \n ì¤„ë°”ê¿ˆê¹Œì§€ ë§¤ì¹˜í•˜ê³  ì‹¶ì„ ë•Œ
- **re.MULTILINE**, **re.M**: ^ ë©”íƒ€ ë¬¸ìë¥¼ ë¬¸ìì—´ ê° ë¼ì¸ì˜ ì²˜ìŒìœ¼ë¡œ ì¸ì‹ì‹œí‚¬ ë•Œ ì‚¬ìš©
- **re.VERBOSE**, **re.X**: ë¬¸ìì—´ì— ì‚¬ìš©ëœ whitespaceëŠ” ì»´íŒŒì¼í•  ë•Œ ì œê±°
- **re.IGNORECASE**, **re.I**: ëŒ€, ì†Œë¬¸ìì— ê´€ê³„ ì—†ì´ ë§¤ì¹˜

### ğŸ“” Examples

In [ ]:
# regex examples
re.sub(r'\(]^)]*\)', '', sentence)    # ê´„í˜¸ë¡œ ë‹«íŒ ë¬¸ìì—´ ì œê±°
re.sub('"', '', sentence)             # ìŒë”°ì˜´í‘œ "" ì œê±°
re.sub(r"'s\b", "", sentence)         # ì†Œìœ ê²© ì œê±°
re.sub("[^a-zA-Z]", "", sentence)     # ì˜ì–´ ì™¸ ë¬¸ì ê³µë°±ìœ¼ë¡œ ë³€í™˜
re.sub('[m]{2,}', 'mm', sentence)     # mì´ 3ê°œ ì´ìƒì´ë©´ 2ê°œë¡œ ë³€ê²½

In [ ]:
# ëŒ€ì „ì‹œê³µëª¨ì „ì—ì„œ ì¼ë˜ ì˜ˆì œ
text = node['í–‰ì •ë™'].iloc[0][0]
re.compile(' \w+ë™').findall(text)[0].strip()

In [ ]:
# re ì—ì‹œ
df_test['Title']= df_test.Name.str.extract('([A-Za-z]+)\.')

In [ ]:
# sub( , ), | ì˜ˆì‹œ
p = re.compile('(blue|white|red)')
print(p.sub('colour', 'blue socks and red shoes', count=2))

colour socks and colour shoes

In [ ]:
# ê¸ì •í˜• ì „ë°© íƒìƒ‰ (?=...)
p = re.compile(".+(?=:)")
m = p.search("http://google.com")
print(m.group())

In [ ]:
# compile ë©”ì†Œë“œ
## ì˜ˆì œ1 match()
p = re.compile('[a-z]+')
m = p.match("python")
print(m)

## ì—ì¡”2 search()
p = re.compile('[a-z]+')
m = p.search("python")
print(m)

p = re.compile('[a-z]+')
m = p.search("3 python")
print(m)

## ì˜ˆì œ3 findall()
p = re.compile('[a-z]+')
m = p.findall("3 Life is ì‹œë°œ too short python")
print(m)
['ife', 'is', 'too', 'short', 'python']

## ì˜ˆì œ4 finditer
p = re.compile('[a-z]+')r
result = p.finditer("3 Life is ì‹œë°œ too short python")
for r in result: print(r)
<re.Match object; span=(3, 6), match='ife'>
<re.Match object; span=(7, 9), match='is'>
<re.Match object; span=(13, 16), match='too'>
<re.Match object; span=(17, 22), match='short'>
<re.Match object; span=(23, 29), match='python'>

In [ ]:
# re 
## ì˜ˆì œ1
p = re.compile(r"(\w+)\s+\d+[-]\d+[-]\d+")
m = p.search("park 010-1234-1234")
print(m.group(1))

## ì˜ˆì œ2
p = re.compile(r"(?P<name>\w+)\s+((\d+)[-]\d+[-]\d+)")
m = p.search("park 010-1234-1234")
print(m.group("name"))
park

## ì˜ˆì œ3 ì´ë©”ì¼ ì£¼ì†Œ ë§¤ì¹˜í•˜ê¸°
/^([a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6})$/

## ì˜ˆì œ4
p = re.compile(r'\bclass\b')				# r = Raw stringì„ì„ ì•Œë ¤ì£¼ëŠ” ê¸°í˜¸ì„
print(p.search('no class at all'))

<img src='https://blog.outsider.ne.kr/attach/1/550x458x1166620169.jpg.pagespeed.ic.v1tivqVmq1.webp' >

In [ ]:
# ì •ê·œì‹ ì˜ˆì‹œ, ì „í™”ë²ˆí˜¸ ë§¤ì¹˜í•˜ê¸°
01[016789]\D?\d{3,4}\D?\d{4}
01[016789]    # 010, 011 ë“±ì˜ ì‹ë³„ë²ˆí˜¸ë¡œ ì‹œì‘í•˜ë©°
    \D?\d{3,4}    # ìˆ«ìê°€ ì•„ë‹Œ êµ¬ë¶„ê¸°í˜¸ëŠ”ã…¡ ìˆì„ ìˆ˜ë„ ì—†ì„ ìˆ˜ë„ ìˆê³  ê·¸ ë’¤ì—ëŠ” 3ìë¦¬ì—ì„œ 4ìë¦¬ ìˆ«ìì´ë©°
        \D?\d{4}    # ê·¸ ë’¤ì— êµ¬ë¶„ê¸°í˜¸ê°€ ìˆì„ ìˆ˜ë„ ì—†ì„ ìˆ˜ë„ ìˆê³  ë’¤ì—ëŠ” 4ìë¦¬ ìˆ«ìê°€ ì˜¨ë‹¤.

In [ ]:
# re.VERBOSE
charref = re.compile(r"""
 &[#]                # Start of a numeric entity reference
 (
     0[0-7]+         # Octal form
   | [0-9]+          # Decimal form
   | x[0-9a-fA-F]+   # Hexadecimal form
 )
 ;                   # Trailing semicolon
""", re.VERBOSE)

In [ ]:
s = '<html><head><title>TItle</title>'
print(len(s))
print(re.match('<.*?>', s).span())
print(re.match('<.*?>', s).group())

32
(0, 6)
<html>

In [ ]:
# ì •ê·œì‹
## ì˜ˆì œ1
s = '<html><head><title>TItle</title>'
print(len(s))
print(re.match('<.*?>', s).span())
print(re.match('<.*?>', s).group())

## ì˜ˆì œ2
df_train['Title']= df_train.Name.str.extract('([A-Za-z]+)\.')
df_test['Title']= df_test.Name.str.extract('([A-Za-z]+)\.')

## ì˜ˆì œ3
a.b    # ì˜ë¯¸: a + ëª¨ë“  ë¬¸ì + b
[a-zA-Z]    # ì˜ë¯¸: ì•ŒíŒŒë²³ ëª¨ë‘
[0-9]    # ì˜ë¯¸: ìˆ«ì ëª¨ë‘
ca*t    # ì˜ë¯¸: aê°€ 0ë¶€í„° ë¬´í•œëŒ€ê¹Œì§€ ë°˜ë³µë˜ëŠ” ë¬¸ìì—´ e.g ct, cat, caaaat
ca+t    # ì˜ë¯¸: aê°€ 1ë¶€í„° ë¬´í•œëŒ€ê¹Œì§€ ë°˜ë³µë˜ëŠ” ë¬¸ìì—´ e.g cat, caaat
ca{2}t    # ì˜ë¯¸: c, t ì‚¬ì´ì— aê°€ ë°˜ë“œì‹œ 2ë²ˆ ë°˜ë³µ e.g caat
ca{2,5}    # ì˜ë¯¸: aëŠ” 2íšŒì—ì„œ 5íšŒê¹Œì§€ ë°˜ë³µ ê°€ëŠ¥ e.g caat, caaaat, caaaaat
ab?c    # ì˜ë¯¸: bê°€ ìˆì–´ë„ ë˜ê³  ì—†ì–´ë„ ë˜ê³  e.g. abc, ac
^python    # ì˜ë¯¸: ë¬¸ìì—´ì˜ ì²˜ìŒì€ pythonìœ¼ë¡œ ì‹œì‘í•´ì•¼ ë§¤ì¹­
python$    # ì˜ë¯¸: ë¬¸ìì—´ì˜ ë§ˆì§€ë§‰ì´ pythonìœ¼ë¡œ ëë‚˜ì•¼ ë§¤ì¹­
\bplay\b    # ì˜ë¯¸: playì˜ ì–‘ ëì— ë‹¨ì–´ ê²½ê³„ê°€ ì˜¤ëŠ” ê²½ìš°ë©”ë§Œ playì— ë§¤ì¹˜. playgroundëŠ” ë§¤ì¹˜ ã„´ã„´

In [ ]:
# re ì˜ˆì œ
## ì˜ˆì œ
p = re.compile('[a-z]+')

## .match
m = p.match("python")

## .search
m = p.search("python")
  
## .findall
m = p.findall("life is too short")

## .finditer
m = p.finditer("life is too short")

In [ ]:
# match ë©”ì„œë“œ ì˜ˆì œ
m = p.match("python")
m.group()
m.start()
m.end()
m.span()

In [ ]:
# re.DOTALL
p = re.compile('a.b', re.DOTALL)
m = p.match('a\nb')
print(m)

In [ ]:
# re.MULTILINE
p = re.compile("^python\s\w+", re.MULTILINE)

data = """python one
life is too short
python two
you need python
python three"""

print(p.findall(data))

['python one', 'python two', 'python three']

## ğŸ” Os

[More methods](https://devanix.tistory.com/298)
- **os .getcwd()**: í˜„ì¬ ì‘ì—…ì¤‘ì¸ directoryë¥¼ ë°˜í™˜
- **os .chdir('/ / ' )**: í˜„ì¬ ì‘ì—…ì¤‘ì¸ directoryë¥¼ ë³€ê²½
- **os .listdir()**: íŠ¹ì • ê²½ë¡œì— ì¡´ì¬í•˜ëŠ” íŒŒì¼ê³¼ directory ëª©ë¡ì„ êµ¬í•´ì£¼ëŠ” ì•„ê°€
- **os .path.abspath( )**: íŠ¹ì • ê²½ë¡œì— ëŒ€í•´ ì ˆëŒ€ ê²½ë¡œ ì–»ê¸°
- **os .path .dirname( )** : ê²½ë¡œ ì¤‘ì— ë””ë ‰í† ë¦¬ëª…ë§Œ ì–»ê¸°
- **os .path .isfile( )**: ê²½ë¡œ ì¤‘ íŒŒì¼ëª…ë§Œ ì–»ê¸°
- **os .path .split( )**: ê²½ë¡œ ì¤‘ ë””ë ‰í† ë¦¬ëª…ê³¼ íŒŒì¼ëª… ë‚˜ëˆ ì„œ ì–»ê¸°
- **os .path .join( )** : ê²½ë¡œë¥¼ ë³‘í•©í•˜ì—¬ ìƒˆ ê²½ë¡œ ìƒì„±
- **os .path .exists( )** : íŒŒì¼ í˜¹ì€ ë””ë ‰í† ë¦¬ ê²½ë¡œê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì²´í¬
- **os .path .isdir( )** : ë””ë ‰í† ë¦¬ ê²½ë¡œê°€ ì¡´ì¬í•˜ëŠ”ì§€ ì²´í¬
- **os .path .getsize( )** : íŒŒì¼ì˜ í¬ê¸°
- **os .path .basename( )** : ì…ë ¥ë°›ì€ ê²½ë¡œì˜ ê¸°ë³¸ ì´ë¦„ì„ ë°˜í™˜. abspath()ì™€ ë°˜ëŒ€ë˜ëŠ” ê¸°ëŠ¥ì´ë‹¤.

### ğŸ“” Examples

In [ ]:
# í•˜ìœ„ directory ê²€ìƒ‰í•˜ê¸°
import os

def search(dirname):
    filenames = os.listdir(dirname)
    for filename in filenames:
        full_filename = os.path.join(dirname, filename)
        ext = os.path.splitext(full_filename)[-1]
        if ext == '.py': 
            print(full_filename)

search("c:/")

In [ ]:
# directory ë‚´ íŒŒì¼ ê²€ìƒ‰í•˜ê¸°
files = [file_name for file_name in os.listdir("./data") if file_name.endswith("xlsx")] 

# ê±°ê¸°ì— ì†í•´ìˆëŠ” excel íŒŒì¼ ì½ê¸°
df_list = [pd.read_excel("data/"+df_filename) for df_filename in files]

## ğŸ” Json

 - **json_normalize(data, error = , max_level = , meta= , record_path = )**: json ë°ì´í„°ë¥¼ í’€ì–´ì“°ëŠ” ë°©ë²•. ë³´í†µ data, meta, meta_prefixë¥¼ ì‚¬ìš©!!!

### ğŸ“” Examples

In [ ]:
# Import jsonl file
with open('train.jsonl', 'r') as json_file:
    json_list = list(json_file)
    
list_result = []
for json_str in json_list:
    result = json.loads(json_str)
    list_result.append(result)

df_news = pd.DataFrame(list_result)

In [ ]:
# Example 1
from numpyencoder import NumpyEncoder

with open(json_file, 'w') as file:
    json.dump(numpy_data, file, indent=4, sort_keys=True,
              separators=(', ', ': '), ensure_ascii=False,
              cls=NumpyEncoder)
    
# Example 2
with open("file name.json", "w") as json_file:
    json.dump(dict_result, json_file, 
             cls=NumpyEncoder)

In [ ]:
# í•œê¸€ ê¹¨ì§€ëŠ” ë¬¸ì œ í•´ê²°
with open("bills 180 ver2.1.json", "w", encoding='utf-8') as file_name:
    json.dump(data, file_name, indent='\t', ensure_ascii=False)

In [ ]:
# json ì˜ˆì‹œ1
{
  "member" : [
    {                        # object 1
      "id" : "jaewon94",
      "blog" : "naver",
      "from" : "korea",
      "major" : ["Statistics", "Industrial Engineering"]
    },
    {                        # object 2
      "id" : "gunwook1234",
      "blog" : "github",
      "from" : "korea",
      "major" : "Statistics"
    }
  ]
}

### ğŸ“” Json to DataFrame

In [ ]:
price = {"S&P 500":
    {
    "2019-01-15" : 20555.29,
    "2019-01-01" : 20359.80,
    "2019-01-10" : 23533.48
    },
 "Nasdaq 100":
     {
    "2019-01-15" : 1534.29,
    "2019-01-11" : 1646.80,
    "2019-01-10" : 1543.48
     }
}

In [ ]:
pd.DataFrame(price)

             S&P 500  Nasdaq 100
2019-01-15  20555.29     1534.29
2019-01-01  20359.80         NaN
2019-01-10  23533.48     1543.48
2019-01-11       NaN     1646.80

With height_data

In [ ]:
height_data = {"results" : [
       {
          "elevation" : 243.3462677001953,
          "location" : {
             "lat" : 42.974049,
             "lng" : -81.205203
          },
          "resolution" : 19.08790397644043
       },
       {
         "elevation" : 244.1318664550781,
         "location" : {
             "lat" : 42.974298,
            "lng" : -81.19575500000001
          },
          "resolution" : 19.08790397644043
       }
    ]
   , "status" : "OK",
 }

In [ ]:
pd.DataFrame(height_data['results'])

    elevation                               location  resolution
0  243.346268  {'lat': 42.974049, 'lng': -81.205203}   19.087904
1  244.131866  {'lat': 42.974298, 'lng': -81.195755}   19.087904

In [ ]:
json_normalize(height_data['results'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

    elevation  resolution  location.lat  location.lng
0  243.346268   19.087904     42.974049    -81.205203
1  244.131866   19.087904     42.974298    -81.195755

With mountain data

In [ ]:
mountain = [{"name" : "ë´‰ì„œì‚°",
          "elevation" : 243.3462677001953,
          "location" : {
             "lat" : 42.974049,
             "lng" : -81.205203},
          "resolution" : 19.08790397644043},
         {"name" : "ë¶í•œì‚°",
         "elevation" : 244.1318664550781,
         "location" : {
             "lat" : 42.974298,
            "lng" : -81.19575500000001},
          "resolution" : 19.08790397644043},
        {"name" : "ë´‰ì„œì‚°",
         "elevation" : 234.1246364550781,
         "location" : {
             "lat" : 32.935544298,
            "lng" : -41.63500000001},
          "resolution" : 19.08790397644043}]

In [ ]:
pd.DataFrame(mountain)

  name   elevation                                       location  resolution
0  ë´‰ì„œì‚°  243.346268          {'lat': 42.974049, 'lng': -81.205203}   19.087904
1  ë¶í•œì‚°  244.131866          {'lat': 42.974298, 'lng': -81.195755}   19.087904
2  ë´‰ì„œì‚°  234.124636  {'lat': 32.935544298, 'lng': -41.63500000001}   19.087904

In [ ]:
json_normalize(mountain)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

  name   elevation  resolution  location.lat  location.lng
0  ë´‰ì„œì‚°  243.346268   19.087904     42.974049    -81.205203
1  ë¶í•œì‚°  244.131866   19.087904     42.974298    -81.195755
2  ë´‰ì„œì‚°  234.124636   19.087904     32.935544    -41.635000

### ğŸ“” Practice with another data

In [ ]:
data = [ {'state': 'Florida',
          'shortname': 'FL',
          'info': {
               'governor': 'Rick Scott',
               'í˜€ëˆ„':'ì¡¸ê·€íƒ±'
          },
          'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        
         {'state': 'Ohio',
          'shortname': 'OH',
          'info': {
               'governor': 'John Kasich',
               'í˜€ëˆ„':'ì¡´ë©‹íƒ±'
          },
          'counties': [{'name': 'Summit', 'population': 1234},
                       {'name': 'Cuyahoga', 'population': 1337}]}]

In [ ]:
# ì˜ˆì‹œë¥¼ ë³´ë©´ì„œ ì„¤ëª…ì„ í•˜ìë©´
json_normalize(data,  'counties',  ['state', 'shortname',['info', 'governor']])
'''
dataë§Œ ì…ë ¥í•˜ë©´ ë°‘ì—ì²˜ëŸ¼ keyê°€ column nameì´ ë˜ê³ , valueê°€ rowì— ë“¤ì–´ê°„ë‹¤.
'''

In [ ]:
json_normalize(data)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

     state shortname  ... info.governor info.í˜€ëˆ„
0  Florida        FL  ...    Rick Scott     ì¡¸ê·€íƒ±
1     Ohio        OH  ...   John Kasich     ì¡´ë©‹íƒ±

[2 rows x 5 columns]

ë§Œì•½ ë°ì´í„°ì—ì„œ ì›í•˜ëŠ” keyë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì‹¶ìœ¼ë©´ data ë’¤ì— key ì´ë¦„ì„ ì ì–´ì£¼ë©´ ëœë‹¤.

In [ ]:
json_normalize(data, 'counties')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

ì›í•˜ëŠ” keyì— í•´ë‹¹í•˜ëŠ” ë‹¤ë¥¸ ì •ë³´ë„ ë³´ê³  ì‹¶ìœ¼ë©´ key ë’¤ì— [  ]ì†ì— key ì´ë¦„ì„ ë„£ì–´ì£¼ë©´ ëœë‹¤

In [ ]:
json_normalize(data, 'counties', ['state','shortname'] )

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

         name  population    state shortname
0        Dade       12345  Florida        FL
1     Broward       40000  Florida        FL
2  Palm Beach       60000  Florida        FL
3      Summit        1234     Ohio        OH
4    Cuyahoga        1337     Ohio        OH

key ì†ì— ë‹¤ë¥¸ keyë¥¼ ë³´ê³  ì‹¶ìœ¼ë©´ [ ] ì†ì— ë˜ [ ]ì— ë„£ì–´ì£¼ë©´ ëœë‹¤!

In [ ]:
json_normalize(data,  'counties',  ['state', 'shortname', 'info'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

         name  population  ... shortname                                      info
0        Dade       12345  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
1     Broward       40000  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
2  Palm Beach       60000  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
3      Summit        1234  ...        OH  {'governor': 'John Kasich', 'í˜€ëˆ„': 'ì¡´ë©‹íƒ±'}
4    Cuyahoga        1337  ...        OH  {'governor': 'John Kasich', 'í˜€ëˆ„': 'ì¡´ë©‹íƒ±'}

[5 rows x 5 columns]

In [ ]:
json_normalize(data, 'counties', ['state', 'shortname',['info']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

         name  population  ... shortname                                      info
0        Dade       12345  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
1     Broward       40000  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
2  Palm Beach       60000  ...        FL   {'governor': 'Rick Scott', 'í˜€ëˆ„': 'ì¡¸ê·€íƒ±'}
3      Summit        1234  ...        OH  {'governor': 'John Kasich', 'í˜€ëˆ„': 'ì¡´ë©‹íƒ±'}
4    Cuyahoga        1337  ...        OH  {'governor': 'John Kasich', 'í˜€ëˆ„': 'ì¡´ë©‹íƒ±'}

[5 rows x 5 columns]

In [ ]:
json_normalize(data, 'counties', ['state', 'shortname',['info', 'governor']])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

### ğŸ“” Save Data as Json format

In [ ]:
# ìš°ì„  dict in list í˜•íƒœë¡œ json íŒŒì¼ ë§Œë“¤ê¸°
petreat_data = []
for num in range(pet.shape[0]):
    dict_temp = dict()
    dict_temp['id'] = num
    dict_temp['name'] = pet.iloc[num][0]
    dict_temp['BOW'] = pet.iloc[num][8]
    dict_temp['similarity'] = cosine_sim[num].tolist()   # np.arrayëŠ” json ì €ì¥ ë¶ˆê°€í•˜ê¸° ë•Œë¬¸!
    petreat_data.append(dict_temp)

In [ ]:
# ì €ì¥í•˜ê¸°
with open("petreat.json", "w") as json_file:
    json.dump(petreat_data, json_file)

In [ ]:
# ë¶ˆëŸ¬ì˜¤ê¸°
with open("petreat.json", "r") as st_json:
    data = json.load(st_json)
    score_series = np.array(item['similarity'])   # ë‹¤ì‹œ np.arrayë¡œ ë°”ê¾¸ëŠ” ë°©ë²•

### ğŸ“” Crawl data as Json format

In [ ]:
### Json íŒŒì¼ í˜•ì‹ìœ¼ë¡œ í¬ë¡¤ë§ ì„±ê³µ!
# 21ëŒ€ êµ­íšŒì˜ì› ë‹¹ì„ ìë“¤
import time
import numpy as np
import pandas as pd
import urllib.request
import json
from tqdm import tqdm
import time
from selenium import webdriver
from collections import OrderedDict
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

class Crawler():
    def __init__(self):
        self.path = r"/Users/junghyunwoo/á„’á…§á„‚á…®á„‹á…¦-á„‹á…´á„’á…¡á†«-á„’á…§á„‚á…®á„…á…³á†¯-á„‹á…±á„’á…¡á†«-á„’á…§á„‚á…®á„‹á…´/á„‹á…µá†¯ á„€á…ªá†«á„…á…§á†«/OXO politics/chromedriver"
        
    def crawl_whom(self):
        user_input = input("êµ­íšŒì˜ì› or ë¹„ë¡€ëŒ€í‘œ?: ")
        final_members = []
        if user_input == "êµ­íšŒì˜ì›":
            driver = webdriver.Chrome(self.path)
            driver.get('http://info.nec.go.kr/main/showDocument.xhtml?electionId=0020200415&topMenuId=EP&secondMenuId=EPEI01') 
            for num in tqdm(list(range(2,19))):
                driver.find_element_by_xpath('//*[@id="electionId2"]').click()     # êµ­íšŒì˜ì› ì„ ê±° í´ë¦­
                driver.find_element_by_xpath('//*[@id="cityCode"]').click() # drop box ì—´ê³ 
                time.sleep(0.5)
                driver.find_element_by_xpath('//*[@id="cityCode"]/option['+str(num)+']').click() # ì„œìš¸ì‹œ í´ë¦­
                driver.find_element_by_xpath('//*[@id="spanSubmit"]/input').click() # í´ë¦­ ëˆ„ë¥´ê¸°
                members = driver.find_elements_by_css_selector('#table01 > tbody > tr')
                for i in list(range(1, len(members)+1)):
                    dict_member = dict()
                    dict_member['ì„ ê±°êµ¬'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td.firstTd.alignL')[0].text
                    dict_member['ì •ë‹¹'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(2)')[0].text
                    dict_member['ì´ë¦„'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(4)')[0].text.replace('\n', ' ')
                    dict_member['ì„±ë³„'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(5)')[0].text
                    dict_member['ìƒë…„ì›”ì¼'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(6)')[0].text.split('\n')[0]
                    dict_member['ì£¼ì†Œ'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(7)')[0].text
                    dict_member['ì§ì—…'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(8)')[0].text
                    dict_member['í•™ë ¥'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(9)')[0].text
                    dict_member['ê²½ë ¥'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(10)')[0].text.replace('\n', ', ')
                    dict_member['ë“í‘œìœ¨'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(11)')[0].text.split('\n')[1][1:-1]
                    final_members.append(dict_member)
                    
        elif user_input == "ë¹„ë¡€ëŒ€í‘œ":
            driver = webdriver.Chrome(self.path)
            driver.get('http://info.nec.go.kr/main/showDocument.xhtml?electionId=0020200415&topMenuId=EP&secondMenuId=EPEI01') 
            driver.find_element_by_xpath('//*[@id="electionId7"]').click()
            driver.find_element_by_xpath('//*[@id="spanSubmit"]/input').click()
            members = driver.find_elements_by_css_selector('#table01 > tbody > tr')
            final_members = []
            for i in tqdm(list(range(1, len(members)+1))):
                dict_member = dict()
                dict_member['ì„ ê±°êµ¬'] = 'ë¹„ë¡€ëŒ€í‘œ'
                dict_member['ì •ë‹¹'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(1)')[0].text
                dict_member['ì´ë¦„'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(4)')[0].text.replace('\n', ' ')
                dict_member['ì„±ë³„'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(5)')[0].text
                dict_member['ìƒë…„ì›”ì¼'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(6)')[0].text.split('\n')[0]
                dict_member['ì£¼ì†Œ'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(7)')[0].text
                dict_member['ì§ì—…'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(8)')[0].text
                dict_member['í•™ë ¥'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(9)')[0].text
                dict_member['ê²½ë ¥'] = driver.find_elements_by_css_selector('#table01 > tbody > tr:nth-child('+str(i)+') > td:nth-child(10)')[0].text.replace('\n', ', ')
                dict_member['ë“í‘œìœ¨'] = 'ë¹„ë¡€ëŒ€í‘œ'
                final_members.append(dict_member)
        return final_members

## ğŸ” Pickle

- **pickle .dump ( data , file )**: ë°ì´í„° ì…ë ¥
- **pickle .load ( file )**: ë°ì´í„° ë¡œë“œ. ë¡œë“œë¥¼ í•´ì˜¤ë ¤ë©´ pickle.dumpë¡œ ì…ë ¥í•œ íŒŒì¼ì´ì–´ì•¼ í•œë‹¤.

### ğŸ“” Examples

In [ ]:
## Pickleë¡œ ëª¨ë¸ ì €ì¥í•˜ê³  ë¶€ë¥´ëŠ” ë°©ë²•
import pandas
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
import pickle
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

dataframe = pandas.read_csv(url, names=names)
array = dataframe.values
X = array[:,0:8]
Y = array[:,8]
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size, random_state=seed)

# Fit the model on training set
model = LogisticRegression()
model.fit(X_train, Y_train)

# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)

In [ ]:
# pickle.dump()
import pickle
list = ['a', 'b', 'c']
with open('list.txt', 'wb') as f:
    pickle.dump(list, f)

In [ ]:
# íŒŒì¼ ì „ì²´ ë‚´ìš© ë¡œë“œ
with open('abc2.bin', 'rb') as file:
    data_list = []
    while True:
        try:d
            data = pickle.load(file)
        except EOFError:
            break
        data_list.append(data)

In [ ]:
# pickle.dumpë¡œ ë°ì´í„° ë‚´ë³´ë‚´ê¸°
import pickle
with open('noun.txt', 'wb') as f:
    pickle.dump(tokens_noun, f)
    
# pickle loadë¡œ txt íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°
with open('noun.txt', 'rb') as f:
    tokens_noun = pickle.load(f)
    
tokens_noun

## ğŸ” Collections

- **.elements ( )**: ì…ë ¥ëœ ê°’ì˜ ìš”ì†Œì— í•´ë‹¹í•˜ëŠ” ê°’ì„ í’€ì–´ì„œ ë°˜í™˜
- **.update ( )**: Counterì˜ ê°’ì„ ê°±ì‹ í•˜ëŠ” ê²ƒ
- **.most_common ( ìˆ«ì )**: ë¹ˆë„ìˆ˜ê°€ ë†’ì€ ìƒìœ„ Top 'ìˆ«ì'ë¥¼ ë°˜í™˜
- **.subtract ( )**: ìš”ì†Œë¥¼ ë¹¼ëŠ” ê²ƒ.
- **+**, **-**: ë§ì…ˆê³¼ ëº„ì…ˆ
- **&**: êµì§‘í•©
- **|**: í•©ì§‘í•©

### ğŸ“” Examples

In [ ]:
# .subtract()
c3 = collections.Counter('hello python')
c4 = collections.Counter('i love python')
c3.subtract(c4)
print(c3)

Counter({'h': 1, 'l': 1, 'e': 0, 'o': 0, 'p': 0, 'y': 0, 't': 0, 'n': 0, ' ': -1, 'i': -1, 'v': -1})

In [ ]:
# most_common()
## ì˜ˆì œ1
Counter(nouns).most_common(100)

## ì˜ˆì œ2
c2 = collections.Counter('apple, orange, grape')
print(c2.most_common())
print(c2.most_common(3))

In [ ]:
# elements()
c = collections.Counter("Hello Python")
print(list(c.elements()))
print(sorted(c.elements()))

['H', 'e', 'l', 'l', 'o', 'o', ' ', 'P', 'y', 't', 'h', 'n']
[' ', 'H', 'P', 'e', 'h', 'l', 'l', 'n', 'o', 'o', 't', 'y']

In [ ]:
# collectionì˜ ì…ë ¥ê°’ ì˜ˆì œ
## ì˜ˆì œ1
import collections
lst = ['aa', 'cc', 'dd', 'aa', 'bb', 'ee']
print(collections.Counter(lst))

## ì˜ˆì œ2
print(collections.Counter({'ê°€': 3, 'ë‚˜': 2, 'ë‹¤': 4}))


## ì˜ˆì œ3
c = collections.Counter(a=2, b=3, c=2)
print(collections.Counter(c))
print(sorted(c.elements()))

## ì˜ˆì œ4
container = collections.Counter()
container.update("aabcdeffgg")
print(container)

Counter({'aa': 2, 'cc': 1, 'dd': 1, 'bb': 1, 'ee': 1})

## ğŸ” Itertools

- **itertools .combinations ( " ìë£Œí˜• " , num )**: ëª‡ ê°œ(num)ë¡œ combinationì„ ë§Œë“¤ì§€ ì„¤ì •í•˜ê³  ìë£Œí˜•ì„ ë„£ì–´ì£¼ë©´ ì™„ì„±~

### ğŸ“” Examples

In [ ]:
# itertools.combinations
links = []
a = list(set(temp[index_s[1]+1:index_s[2]+1].chatter.tolist()))
links.append(list(itertools.combinations(a,2)))