---
# ğŸ“ Hyun's Code collection (Pymongo) 
---

### <h3 align="right">ğŸ¥‡ Authored by <strong>Hyun</strong></h3>

# âœï¸ What is **Pymongo**?

- Mongo DBì™€ ì—°ë™í•´ì„œ ë°ì´í„°ë¥¼ ì½ê³  ì €ì¥í•˜ëŠ” ì¿¼ë¦¬ ì‹¤í–‰ì„ ë„ì™€ì£¼ëŠ” ë¼ì´ë¸ŒëŸ¬ë¦¬

# âœï¸ Import Libraries

In [ ]:
import pymongo
from pymongo import MongoClient

# âœï¸ Methods and Examples

## ğŸ” Connect to MongoDB

In [ ]:
# ì ‘ì† ì •ë³´ë¥¼ ë³€ìˆ˜ë¡œ ë§Œë“¤ì–´ ì¤€ë‹¤.aa
# connection 
client = MongoClient("mongodb://localhost:27017")

## ğŸ” DB created and connect

In [ ]:
# ê¸°ì¡´ ìƒì„±ëœ DBê°€ ìˆë‹¤ë©´ ì—°ê²°ì´ë˜ê³ , ì—†ë‹¤ë©´ ìƒˆë¡œ ìƒì„±í•´ì¤Œ
db = client['team_k']
print(db)

In [ ]:
## collection ìƒì„±
team = db['dtream_team']
team

In [ ]:
## ë°ì´í„° ê°¯ìˆ˜ í™•ì¸
team.estimated_document_count()

## ğŸ” Insert Data

In [ ]:
## 1. í•˜ë‚˜ì”© ë„£ê¸° insert_one
## 2. ì—¬ëŸ¬ê°œ ë„£ê¸° insert_many

# 1. í•˜ë‚˜ì”© ë„£ê¸° 
# query ë§Œë“¤ê¸°
insertData = {
    "team_name" : "Jamong United",
    "team_rank" : 1,
    "team_squad" : ["Luckey Jamong", "Tom Watermelon", "Zack Mango"]
}
# insert_one
team.insert_one(insertData)

# ì¿¼ë¦¬ë¥¼ ë°”ë¡œ ì‚½ì…í•´ë„ ë¨
team.insert_one({
    "team_name" : "Wooju United",
    "team_rank" : 4,
    "team_squad" : ["Wooju Kim", "Youngju Yoon", "Yonsei Eagle"]
})

# 2. ì—¬ëŸ¬ê°œ ë™ì‹œì— ë„£ê¸°
# query ë°ì´í„° ìƒì„±
team_data = list()
team_data.append({
    "team_name" : "Apple FC",
    "team_rank" : 2,
    "team_squad" : ["Jimmy Apple", "Gary Pineapple", "David Kiwi"]
})
team_data.append({
    "team_name" : "Grape United",
    "team_rank" : 3,
    "team_squad" : ["John Grape", "Larry Pair", "Evan Peach"]
})
team_data.append({
    "team_name" : "Mongo United",
    "team_rank" : 2,
    "team_squad" : ["Intsert Grape", "Update Pair", "Delete Peach"]
})

# insert_many
team.insert_many(team_data)

## ğŸ” Find Data by condition

In [ ]:
## ëª¨ë‘ í™•ì¸ => find(), í•˜ë‚˜ë§Œ í™•ì¸ => find_one() 

# í•˜ë‚˜ì˜ ë°ì´í„°ë§Œ í™•ì¸ => ì²«ë²ˆì§¸ ë°ì´í„° ë³´ì—¬ì¤Œ*
team.find_one()

from pprint import pprint

# ëª¨ë“  ë°ì´í„° í™•ì¸
result = team.find()

for row in result:
    print(row)
    
pprint(row)

In [ ]:
# fine_one(ì¡°ê±´) ì‚¬ìš©ì‹œ í•˜ë‚˜ë§Œ ì¶œë ¥
# find(ì¡°ê±´) ì‚¬ìš©ì‹œ ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” ë°ì´í„° ëª¨ë‘ë¥¼ ë³´ì—¬ì¤Œ

# ì¡°ê±´ 1: Wooju Unitedë¥¼ ì°¾ì•„ì¤˜ 
team.find_one({"team_name": "Wooju United"})

# ì¡°ê±´ 2: team_rankê°€ 2ìœ„ì¸ íŒ€
result = team.find({"team_rank":2})

for row in result:
    print(row)
    
# ì¡°ê±´ 3: team_rankê°€ 2ìœ„ ë³´ë‹¤ ë†’ì€ íŒ€ ë³´ê¸° $lt
result = team.find({"team_rank" : {"$lt" : 2}})
for row in result:
    print(row)
    
# ì¡°ê±´ 4: team_rankê°€ 2ìœ„ ì´ìƒ íŒ€ ë³´ê¸° $lte
result = team.find({"team_rank" : {"$lte" : 2}})
for row in result:
    print(row)
    
# ì¡°ê±´ 5: team_rankê°€ 2ìœ„ ë³´ë‹¤ ë‚®ì€ íŒ€ ë³´ê¸° $gt
result = team.find({"team_rank" : {"$gt" : 2}})
for row in result:
    print(row)
    
# ì¡°ê±´ 4: team_rankê°€ 2ìœ„ ë³´ë‹¤ ë‚®ì€ íŒ€ ë³´ê¸° $gte
result = team.find({"team_rank" : {"$gte" : 2}})
for row in result:
    print(row)
    
# ì¡°ê±´ 5: team_rankê°€ 2ìœ„, Mongo íŒ€ ë³´ê¸°  $and
team.find_one({"team_rank": 2, "team_name": "Mongo United"})

# ì¡°ê±´ 6: team_rankê°€ 1ìœ„ì™€ 4ìœ„ ë³´ê¸° $or
result = team.find({"$or": [{"team_rank": 1}, {"team_rank": 4}]})
for row in result:
    print(row)
    
result = team.find()

for row in result:
    print(row)

## ğŸ” Update Data

In [ ]:
## 1. í•˜ë‚˜ì”© ìˆ˜ì • update_one
## 2. ì—¬ëŸ¬ê°œ ìˆ˜ì • update_many

# 1. í•˜ë‚˜ì”© ìˆ˜ì • update_one
# ìˆ˜ì • ë‚´ìš© : Wooju Unitedë¥¼ 1ìœ„ë¡œ ë³€ê²½ 
team.update_one({"team_name": "Wooju United"}, {"$set":{"team_rank": 1}})

# 4ìœ„ì—ì„œ 1ìœ„ë¡œ ë³€ê²½ë¨
team.find_one({"team_name": "Wooju United"})

# 2. ì—¬ëŸ¬ê°œ ìˆ˜ì • update_many
# ì¡°ê±´ ìˆœìœ„ê°€ 2ìœ„ì¸ íŒ€ë“¤ì„ 3ìœ„ë¡œ ë³€ê²½
team.update_many({"team_rank":2},{"$set": {"team_rank": 3}})

result = team.find({"team_rank":3})

for row in result:
    print(row)
    
result = team.find()

for row in result:
    print(row)

## ğŸ” Delete Data

In [ ]:
## 1. í•˜ë‚˜ì”© ì‚­ì œ delete_one
## 2. ì—¬ëŸ¬ê°œ ì‚­ì œ delete_many

# 1. í•˜ë‚˜ì”© ì‚­ì œ delete_one
# ì¡°ê±´: mongo Unitedë¥¼ ì‚­ì œ
team.delete_one({"team_name": "Mongo United"})

team.find_one({"team_name": "Mongo United"})

# 2. ì—¬ëŸ¬ê°œ ì‚­ì œ delete_many
# ì¡°ê±´ : íŒ€ ìˆœìœ„ 3ìœ„ì¸ íŒ€ ëª¨ë‘ ì‚­ì œ
team.delete_many({"team_rank": 3})