---
# üìÅ Hyun's Code collection (Pandas) 
---

### <h3 align="right">ü•á Authored by <strong>Hyun</strong></h3>

# ‚úèÔ∏è  What is **Pandas**?

- PandasÎäî Îç∞Ïù¥ÌÑ∞ Ï°∞Ïûë Î∞è Î∂ÑÏÑùÏùÑ ÏúÑÌï¥ Python ÌîÑÎ°úÍ∑∏ÎûòÎ∞ç Ïñ∏Ïñ¥Î°ú ÏûëÏÑ±Îêú ÏÜåÌîÑÌä∏Ïõ®Ïñ¥ ÎùºÏù¥Î∏åÎü¨Î¶¨
- ÌñâÍ≥º Ïó¥Î°ú Ïù¥Î£®Ïñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞ Í∞ùÏ≤¥Î•º ÎßåÎì§Ïñ¥ Îã§Î£∞ Ïàò ÏûàÏñ¥ Î≥¥Îã§ ÏïàÏ†ïÏ†ÅÏúºÎ°ú ÎåÄÏö©ÎüâÏùò Îç∞Ïù¥ÌÑ∞Îì§ÏùÑ Ï≤òÎ¶¨ÌïòÎäîÎç∞ Îß§Ïö∞ Ìé∏Î¶¨Ìïú ÎèÑÍµ¨
- ÎåÄÎî∞ÎåÄÎî∞ÎåÄÎî∞ ÎßéÏù¥ Ïì∞ÏûÑ

# ‚úèÔ∏è Importing Libraries

In [ ]:
# Basic Setting
import openpyxl
import pandas as pd
from pandas import Series, DataFrame
import pandas_profiling

# Time Series Data
import calendar
import dateutil
from dateutil.parser import parse
import datetime

# tqdm thing
from tqdm.notebook import tqdm
import time

# row, column setting
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# ‚úèÔ∏è  Methods and Examples

## üîé Basic Methods

- **pd. Series ( data , index= [ index names ] )**: series data ÎßåÎì§Í∏∞
- **pd. DataFrame ( data , columns = [ " column1 " , " column2 " ] )**: dataframe ÎßåÎì§Í∏∞
- **.array** : Change to array
- **.to_numpy( )** : Change to Numpy Array
- **np .asarray( <Dataframe> )** : Change to Numpy Array
- **series.name**: Show name for Series
- **series.rename( < New Name > )**: Rename Series's name attribute
- **type ( )**: typeÏùÑ Î≥¥Ïó¨Ï§å
- **.shape**: Ìï¥Îãπ dataframeÏùò row, column ÏàòÎ•º Î∞òÌôò
- **.columns**: columnsÎ•º Î≥¥Ïó¨Ï§å 
- **.info ( )**: index, columns Í∞ØÏàò, type Îì±ÏùÑ Î∞òÌôò
- **.dtypes**: ColumnsÎì§Ïùò typeÏùÑ Î≥¥Ïó¨Ï§å
- üåü**.describe ( )**: Í∏∞Ïà†ÌÜµÍ≥ÑÎ•º Î≥¥Ïó¨Ï§å
- **.describe ( include = [ " object " ] )**: Categorial dataÏùò ÌÜµÍ≥ÑÎ•º Î≥¥Ïó¨Ï§å
- **pandas_profiling.ProfileReport()**: pandas profiling Î≥¥Í∏∞
- **.corr ( )**: ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Î≥¥Ïó¨Ï§å
- **a.corrwith ( b )**: aÏôÄ bÏùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Î≥¥Ïó¨Ï§å
- **.index**: indexÎ•º Î≥¥Ïó¨Ï§å
- **.values**: Í∞Å indexÏùò value Í∞íÎì§ÏùÑ Î≥¥Ïó¨Ï§å
- **.tolist ( )**: Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Î¶¨Ïä§Ìä∏Î°ú Î∞òÌôò
- **.to_dict ( )**: dataframeÏùÑ dictionary ÌòïÌÉúÎ°ú Î∞òÌôò
- **.sum ( )**: Ìï©
- **.mean ( )**: mean (Column perspective)
- üåü**.mean ( 1 )**: mean (row perspective)
- **.median ( )**: Ï§ëÏïôÍ∞í
- **.std ( )**: ÌëúÏ§ÄÌé∏Ï∞®
- **.max ( )**: ÏµúÎåÄÍ∞í
- **.min ( )**: ÏµúÏÜåÍ∞í
- **.idxmin()** : return index of minimum value
- **.idxmax()** : return index of maximum value
- **.corr( )**: ÌîºÏñ¥Ïä® ÏÉÅÍ¥ÄÍ≥ÑÏàò Íµ¨ÌïòÍ∏∞
- **.DESCR**: Îç∞Ïù¥ÌÑ∞ ÎåÄÎûµÏ†ÅÏù∏ Î¨òÏÇ¨
- **inplace=True**: Î∞òÌôò Î∞õÏßÄ ÏïäÍ≥† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Î∞îÎ°ú Î≥ÄÌòïÌïòÍ≤å ÌïòÎäî Í≤É

- **divmod ( <pd.Sereis>, <num> ) **: Takes floor division and modulo operation at the same time. Return two-tuple

- **.eq()** : Same (==)
- **.ne()** : Different (!=)
- **.lt()** : less than (<)
- **.gt()** : greater than (>)
- **.le()** : less or equal (<=)
- **.ge()** : grater or equal (>=)

- **.to_numpy()**: numpy array ÌòïÌÉúÎ°ú Î∞îÍøîÏ§ÄÎã§. Îã® index, column labelÏùÄ ÏóÜÏùå.
- üåü**.sort_index(axis=1)**: Sort by columns
- üåü**.iat[ ]**: Fast iloc. Get Scalar value
- üåü**.at[ ]**: Fast loc. Get Scalar value

- **df .at[ dates[0], < Column > ] = 0**: Setting values by label
- **df .iat[ 1, 1 ] = 0**: Setting values by position

- **.cat** : Select series as Categorical values
- üåü**pd .Categorical( < Column Name > )**: Changing Column type to Categorical 

- **.insert( < Location >, < Column Name >, < Column Value > )**: How to insert new column using insert method

- **pd .set_option ( ' display .max_columns ' , 500 )** : Set max column upto 500
- **pd .set_option ( ' display .max_rows ' , 500 )** : Set max rows upto 500
- **pd .set_option ( ' compute .use_bottleneck ' , False)** : Don't use bottleneck
- **pd .set_option ( ' compute .use_numexpr ' , False)** : don't use numexpr

### üìî Examples

In [ ]:
# Ignoring pandas warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Reading multiple files
import glob
import os

files = glob.glob("file_*.csv")
result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

In [ ]:
# Comparision between Dataframes
df.gt(df2)

df.ne(df2)

In [ ]:
# divmod function example
s = pd.Series(np.arange(10))

div, rem = divmod(s, 3)
print("div", '\n', div)
print("rem", '\n', rem)

div
 0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
dtype: int64
rem
 0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: int64

In [ ]:
div, rem = divmod(s, 3)

In [ ]:
# Using Boolean operators with dataframes
df1 & df2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creating MultiIndexed Frame
pd.DataFrame(np.arange(16).reshape(4,4),

                         index = [[1,1,2,2],['s1','s2','s1','s2']],

                         columns = [['apple','apple','banana','banana'], ['price','qty','price','qty']],

                         )

     apple     banana
     price qty  price qty
1 s1     0   1      2   3
  s2     4   5      6   7
2 s1     8   9     10  11
  s2    12  13     14  15

In [ ]:
# Creating MultiIndexed Frame
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [ ]:
# Change ojbect column to Categorical Column
'''
Categorical Column consumes less data and performs much faster than plain text data
'''
df['BILL_NAME'] = pd.Categorical(df['BILL_NAME'])

In [ ]:
# Group by Categorical column
df.groupby("grade").size()

In [ ]:
# Rename categories
df['grade'].cat.categories = ['Top', "Middle", "Bottom"]

In [ ]:
# Setting with Numpy Array
df.loc[:, "Column1"] = np.array([5] * len(df))

In [ ]:
# Using iat
df.iat[1, 1]

0.17319709573267061

In [ ]:
# Select by locations
df.iloc[[0,1,2,5], [0,1,3]]

                   Í∞Ä         ÎÇò         Îùº
2021-01-01  0.431141  0.090399  0.228538
2021-01-02  0.752557  0.173197  0.943318
2021-01-03  0.989908  0.003252  0.815100
2021-01-06  0.982183  0.907697  0.027438

In [ ]:
# Dataframe slicing by rows
df = pd.DataFrame(np.random.rand(6, 4), index=pd.date_range("20210101", periods=6), columns=list("Í∞ÄÎÇòÎã§Îùº"))
df[0:3], df['20210101':"20210104"]

(                   Í∞Ä         ÎÇò         Îã§         Îùº
 2021-01-01  0.431141  0.090399  0.808965  0.228538
 2021-01-02  0.752557  0.173197  0.166219  0.943318
 2021-01-03  0.989908  0.003252  0.468438  0.815100,
                    Í∞Ä         ÎÇò         Îã§         Îùº
 2021-01-01  0.431141  0.090399  0.808965  0.228538
 2021-01-02  0.752557  0.173197  0.166219  0.943318
 2021-01-03  0.989908  0.003252  0.468438  0.815100
 2021-01-04  0.294465  0.886099  0.652429  0.935328)

In [ ]:
# Create column index with list
df = pd.DataFrame(np.random.rand(6, 4), index=pd.date_range("20210101", periods=6), columns=list("Í∞ÄÎÇòÎã§Îùº"))
df

                   Í∞Ä         ÎÇò         Îã§         Îùº
2021-01-01  0.834211  0.094163  0.683797  0.265670
2021-01-02  0.906947  0.640139  0.216136  0.567177
2021-01-03  0.291280  0.625926  0.864745  0.133311
2021-01-04  0.494852  0.650316  0.539068  0.698920
2021-01-05  0.178426  0.173516  0.915425  0.777598
2021-01-06  0.803201  0.995424  0.952416  0.511463

In [ ]:
# Create Time Datarange
pd.date_range("20210101", periods=15)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Creating Series data
pd.Series([6,1,5, np.nan, 11, 2])

## üîé Handle data by columns, rows, boolean

- **df [ [ ' ' , ' ' ] ]** : column ÏÑ†ÌÉùÌïòÍ∏∞
- **df .loc [ [ ' ' , ' ' ] ]** : row ÏÑ†ÌÉùÌïòÍ∏∞
- **df .loc [ [ ' ' ] , [ ' ' ] ]** : column/row ÏÑ†ÌÉùÌïòÍ∏∞
- **df mul( , axis = )**: rowÏóê Í∞ÅÍ∞Å Îã§Î•∏ Í∞íÏùÑ Í≥±Ìï† Îïå
- **.sample ( frac = , random_state = )**: sample ÎΩëÍ∏∞
- **df [ ' column ' ]**: ÏõêÌïòÎäî column Î≥¥Í∏∞
- **df [ ' column Ïù¥Î¶Ñ ' ] = np.nan** : ÌÖÖ Îπà column ÎßåÎì§Ïñ¥Ï£ºÍ∏∞
- **df [ ' new column ' ]**: column Ï∂îÍ∞ÄÌïòÍ∏∞
- **df [ [ 'column1' , 'column2' , 'column3' ] ]**: ÏõêÌïòÎäî columnÎì§ Î∂àÎü¨Ïò§Í∏∞

- üåü **.pipe( )**: Ìï®ÏàòÎ•º Ïó∞ÏÜçÌï¥ÏÑú Ïã§ÌñâÌïòÍ≥†Ïûê Ìï† Îïå

- **.set_index ( [ ' column ' ] )**: Ìï¥Îãπ columnÏùÑ indexÎ°ú Î∞îÍøîÏ§å

  **.set_index ( [ ' index1 ' , ' index2 ' ] )**: indexÎ•º Ïó¨Îü¨ Í∞úÎ°ú ÏÑ§Ï†ïÌïòÍ∏∞
- **.reset_index ( name = ' ' )**: Í∏∞Ï°¥Ïùò Ìñâ indexÎ•º Ï†úÍ±∞ÌïòÍ≥† indexÎ•º Îç∞Ïù¥ÌÑ∞ Ïó¥Î°ú Ï∂îÍ∞Ä
- **.loc [ 'index', 'columns' ]**: locÏùÄ IndexÍ∞Ä Í∞ÄÏßÄÍ≥† ÏûàÎäî Í∞íÏùÑ Î∞òÌôò. selection by label

  **.loc [ ' index1 ' , ' index2 ' ,  [ ' columns1 ' , ' columns2 ' ] ]**: Ïó¨Îü¨ Í∞úÏùò indexÎ•º Í∞ÄÏ†∏Ïò§Î†§Î©¥ Ïù¥Îü¨Î°úÏΩ§. indexÏûêÎ¶¨Ïóê Ï°∞Í±¥ÏùÑ ÎÑ£Ïñ¥Ï§òÎèÑ Îê®
  
  **df.loc [ 'index' , ' column ' ] = 'value'**: Ïù¥Î†áÍ≤å Ìï¥Îãπ valueÎ•º Î∞îÍøîÏ§Ñ ÏàòÎèÑ ÏûàÏùå

  **df .loc [ Ï°∞Í±¥, ' columns ' ] = value** : Ïù¥Î†áÍ≤å Ï°∞Í±¥Ïóê Ìï¥ÎãπÌïòÎäî Í∞íÏùÑ Î∞îÍøÄ Ïàò ÏûàÏùå
- **chain indexing**

  **df [ ' column ' ]  [ ' index ' ] = 'value'**: Ïù¥Î†áÍ≤å Ìï¥Îãπ valueÎ•º Î∞îÍøîÏ§Ñ ÏàòÎèÑ ÏûàÏùå. Ïù¥ Î∞©Î≤ïÎ≥¥Îã§Îäî locÏùÑ Ï∂îÏ≤ú
  
- **df [ ' index1 ' : ' index2 ']**: ÏõêÌïòÎäî indexÎì§ slicingÌïòÍ∏∞

- **.iloc [ ]**: ilocÏùÄ indexÏùò ÏúÑÏπò Í∏∞Ï§ÄÏúºÎ°ú ÎèôÏûëÌï©ÎãàÎã§.(Ï†ïÏàòÎßå ÏÇ¨Ïö©). selection by position
- **str .contain( 'Ï†ïÍ∑úÏãù', na = False )**: columnÏóê strÏùÑ Îß§Ïπ≠ÏãúÌÇ§Îäî ÎäêÎÇå
- **.drop ( )**: Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú

  **.drop ( index )**: Ìï¥Îãπ row, indexÎ•º ÏÇ≠Ï†ú. axis=0Ïù¥ defaultÏûÑ
  
  **.drop ( columns = [ ' column1 ' , ' column2 ' ] )**: Ìï¥Îãπ columnÏùÑ ÏÇ≠Ï†ú
 
  üåü **.drop ( [ <indexName> ] , axis = 0 )**: Delete rows
  
  **.drop ( [ <ColumnName> ] , axis = 1 )**: Delete columns

  **.drop ( ' column1 ' , axis = 1)**: Ïù¥Î†áÍ≤å column ÏÇ≠Ï†úÎèÑ Í∞ÄÎä•
- **.isnull ( ) .sum ( ) / len ( )**: nullÍ∞í ÎπÑÏú® Íµ¨ÌïòÍ∏∞
- **.dropna ( axis = 0 )**: Í≤∞Ï∏°Í∞í ÏûàÎäî ÌñâÏùÑ ÏÇ≠Ï†ú
  
  **.dropna ( axis = 1 )**: Í≤∞Ï∏°Í∞í ÏûàÎäî Ïó¥ÏùÑ ÏÇ≠Ï†ú
 
  **.dropna ( how = ' all ' )**: Í≤∞Ï∏°Í∞í ÏûàÎäî Î™®Îì† ÌñâÍ≥º Ïó¥ÏùÑ ÏÇ≠Ï†ú

  **.dropna ( subset = [ 'column1' , 'column2' ] )** : ÌäπÏ†ï columnÏùò nanÍ∞íÏù¥ ÏûàÎäî rowÎ•º ÎÇ†Î†§Ï£ºÍ∏∞
- **.unique ( )**: Ìï¥Îãπ column, dataframeÏùò valueÎì§ÏùÑ Î≥¥Ïó¨Ï§å
- **.nunique ( )**: ÏÑúÎ°ú Îã§Î•∏ valueÏùò Í∞ØÏàòÎ•º Î∞òÌôò
- **.value_counts( )**: valueÏùò Ï¥ù Í∞ØÏàòÎ•º Î∞òÌôò. column ÎÇ¥ ÏõêÌïòÎäî valueÏùò ÏàòÎ•º Î∞òÌôò
- **del**: ÏÇ≠Ï†úÏãúÌÇ¥
- **.repeat( )**: Í∞ÄÎ°ú ÏïàÏóê Îì§Ïñ¥Í∞ÄÎäî Í∞íÎßåÌÅº Î∞òÎ≥µÌï®
- **.index = df [ ' column1e ' ]** : Ìï¥Îãπ columnÏùÑ indexÎ°ú 
 
  **.index = list ( range ( a , b ) )** : Ïù¥Î†áÍ≤å indexÎ•º ÏÑ§Ï†ïÌï† ÏàòÎèÑ ÏûàÏùå
- **.rename ( columns = { ' column name ' : ' new name ' } )** : column Ïù¥Î¶Ñ Î≥ÄÍ≤ΩÌïòÍ∏∞

  **.columns = [ ' ÏõêÌïòÎäî columns name 1 ' , ' ÏõêÌïòÎäî column name 2 ' , ... ]** : Ïù¥Î†áÍ≤å Î∞îÍøîÏ§Ñ ÏàòÎèÑ ÏûàÏùå
- **.duplicated ( [ ' columns1' ] )** : boolean ÌòïÌÉúÎ°ú Ï§ëÎ≥µÍ∞íÏóê TrueÎ•º Î∞òÌôò
- **.drop_duplicates ( [ ' column1 ' , ' column2 ' ] )**: Ï§ëÎ≥µÍ∞íÏùÑ ÏÇ≠Ï†ú (ÎÇòÎäî Ïù¥ Î∞©Î≤ï ÎπÑÏ∂îÏ≤ú)
- **df = df [ [ ' my_order1 ' , 'my_oder2' , 'my_order3' , 'my_order4' ] ]**: column ÏàúÏÑú Î∞îÍæ∏Í∏∞
- **df.copy ( )**: dfÎ•º ÎòëÍ∞ôÏù¥ Î≥µÏÇ¨Ìï®
- **.isnull( ).sum( )**: Í≤∞Ï∏°Ïπò Í∞úÏàòÎ•º Î∞òÌôò
- **.notnull( ).sum( )**: Í≤∞Ï∏°ÏπòÍ∞Ä ÏïÑÎãå Í∞íÎì§ ÏàòÎ•º Î∞òÌôò
- **.add_prefix ( " prefix " )**: column Ïù¥Î¶ÑÏóê Î™®Îëê Ï†ëÎëêÏÇ¨Î•º Ï∂îÍ∞Ä
- **.astype ( type )**: ÏûÖÎ†•Ìïú typeÏúºÎ°ú Î≥ÄÍ≤ΩÌï¥Ï§ÄÎã§.
- **.isdigit( )**: Ïà´ÏûêÏù∏ÏßÄ ÏïÑÎãåÏßÄ ÌåêÎ≥ÑÌï¥Ï£ºÎäî Î©îÏÜåÎìú
- **get_dummies ( [ " column name " ] , prefix = " prefix ")**: ÎçîÎØ∏Î≥ÄÏàò ÏÉùÏÑ±
- **Boolean indexing**
 
 **df. column + Ï°∞Í±¥**: Ï°∞Í±¥ÏùÑ ÎÑ£Ïñ¥Ï£ºÎ©¥ Îê®. e.g.>, ==, !=, >=

 **df [ df .column + Ï°∞Í±¥ ]** ÏïÑÎãàÎ©¥ **df [ df [ ' column ' ] + Ï°∞Í±¥ ]**: Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ Îî∞Î°ú ÎπºÍ∏∞
- **. fillna ( )**: Í≤∞Ï∏°Ïπò Ï±ÑÏö∞Í∏∞

  **.filnna( Ï°∞Í±¥ , inplace = True)**: Ï°∞Í±¥Ïóê ÎßûÍ≤å Í≤∞Ï∏°ÏπòÎ•º Ï±ÑÏõÄ
- **inplace = True** : Î≥ÄÏàòÎ•º ÏßÅÏ†ë Î≥ÄÍ≤ΩÌïúÎã§Îäî Îúª
- **df [ ' column ' ] . replace ( [ ' Í∏∞Ï°¥ value ' ] , [ ' Î∞îÍæ∏Í≥† Ïã∂ÏùÄ value ' ] , inplace = True)**: ÏõêÌïòÎäî Í∞íÏúºÎ°ú Î∞îÍæ∏Í∏∞

 **df [ ' column ' ] . replace ( { " Í∏∞Ï°¥ value " : int, "Í∏∞Ï°¥ value" : "str" } , inplace = True)**: Ïù¥Î†áÍ≤å Ìï¥ÎèÑ Îê®
 
 **df [ ' column ' ] = df. column. map ( { " Í∏∞Ï°¥ value1 " : ÏÉà Í∞í ( int ) , " Í∏∞Ï°¥ value2 " : " ÏÉà Í∞í ( str ) " } )**: ÏõêÌïòÎäî Í∞íÏúºÎ°ú Î∞îÍæ∏Îäî Îã§Î•∏ Î∞©Î≤ï
 
- **apply, applymap** : ÏõêÌïòÎäî Ìï®ÏàòÎ•º Ï†ÅÏö©Ìï† Îïå ÏÇ¨Ïö©
- **df [ lambda x : x. column ‚Ä¶ ]**: Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞Îßå ÎΩëÏïÑ Î≥¥Í∏∞
- **df [ ( df .column1 + Ï°∞Í±¥) & ( df [ ' column2 '] + Ï°∞Í±¥ ) ]**: Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ ÎΩëÍ∏∞
- **.isin( [ ' value1 ', ' value2 ' ] )**: value1Ïù¥Í±∞ÎÇò value2Ïù∏ Í∞íÎì§ÏùÑ Î∞òÌôò
- **.str .startswith ( ' str ' )**: strÎ°ú ÏãúÏûëÌïòÎäî valueÎì§ÏùÑ Î∞òÌôò
- **.endswith ( ' str ' )**: strÎ°ú ÎÅùÎÇ† Îïå
- **.str .contains ( ' str ' )**: strÎ•º Ìè¨Ìï®ÌïòÎäî valueÎì§ÏùÑ Î∞òÌôò
- **df .sort ( ' column ' )**: ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ†¨
- **pd.cut(data, bins, labels= )**: Ïã§ÏàòÍ∞íÏùÑ Îã§ÏùåÏ≤òÎüº Ïπ¥ÌÖåÍ≥†Î¶¨ Í∞íÏúºÎ°ú Î∞îÍøÄ Ïàò ÏûàÏùå!! bins Ïù∏ÏàòÎäî Ïπ¥ÌÖåÍ≥†Î¶¨Î•º ÎÇòÎàÑÎäî Í∏∞Ï§ÄÍ∞íÏù¥Í≥† ÏòÅÏó≠ÏùÑ ÎÑòÎäî Í∞íÏùÄ NaNÏúºÎ°ú Ï≤òÎ¶¨ÎêúÎã§.
- **.cut( Îç∞Ïù¥ÌÑ∞, [ Î≤îÏúÑ , Î∞è , Íµ¨Í∞Ñ ] , labels = [ Î†àÏù¥Î∏î , ÏÑ§Ï†ï, Ìï¥Ï£ºÎ©¥ Îê® ] )**: ÏõêÌïòÎäî Íµ¨Í∞ÑÎ≥ÑÎ°ú categoric Î≥ÄÏàòÎ°ú ÎßåÎì§Ïñ¥ Ï§Ñ Ïàò ÏûàÏùå
- **.contains ( ' str, int' , regex=False  )** : valueÏóêÏÑú ÌäπÏ†ï Î¨∏Ïûê ÌòπÏùÄ Ïà´ÏûêÎ•º Ìè¨Ìï® Ïó¨Î∂ÄÏóê Îî∞Îùº BooleanÏúºÎ°ú Î∞òÌôò. regex=TrueÏù¥Î©¥ Ï†ïÍ∑úÏãùÏúºÎ°ú Ïù∏Ïãù
- **.factorize()**: Ïπ¥ÌÖåÍ≥†Î¶¨Î•º Îã§Î•∏ Ï†ïÏà´Í∞íÏúºÎ°ú Îß§Ìïë. Label encoding
- **.lower( )** : Change to lowercase


> Differnece btw map, apply methods
- Map: Can be used only with Series Type
- Apply: Can be also used with Dataframe Type

### üìî Examples

In [ ]:
# Using query methods for filtering
df[(df['a'] < df['b']) & (df['b'] < df['c'])]
df.query('(a < b) & (b < c)')
df.query('a < b and b < c')

# Example 2
df[~df['a'].isin(df['b'])]
df.query('a not in b')

# Example 3
df[df['b'].isin(["a", "b", "c"])]
df.query('c == [1, 2]')

In [ ]:
# Seleting by label
df.loc['c':]

# Selecting Rows and Columns
df.loc[['a', 'b', 'd'], :]

In [ ]:
# Setting value by slicing
df[:5] = 0

In [ ]:
# Slicing 2n rows
df[::2]

In [ ]:
# Changing Column value by iloc and dictionary
df.iloc[1] = {'Column_A': 9, 'Column_B': 99}

In [ ]:
# nlargest, nssmallest example
df = pd.DataFrame(
     {
         "a": [-2, -1, 1, 10, 8, 11, -1],
         "b": list("abdceff"),
         "c": [1.0, 2.0, 4.0, 3.2, np.nan, 3.0, 4.0],
     }
 )

In [ ]:
df

    a  b    c
0  -2  a  1.0
1  -1  b  2.0
2   1  d  4.0
3  10  c  3.2
4   8  e  NaN
5  11  f  3.0
6  -1  f  4.0

In [ ]:
df.nlargest(3, "a")

    a  b    c
5  11  f  3.0
3  10  c  3.2
4   8  e  NaN

In [ ]:
df.nlargest(5, ["a", "c"])

    a  b    c
5  11  f  3.0
3  10  c  3.2
4   8  e  NaN
2   1  d  4.0
6  -1  f  4.0

In [ ]:
df.nsmallest(3, "a")

   a  b    c
0 -2  a  1.0
1 -1  b  2.0
6 -1  f  4.0

In [ ]:
df.nsmallest(5, ["a", "c"])

   a  b    c
0 -2  a  1.0
1 -1  b  2.0
6 -1  f  4.0
2  1  d  4.0
4  8  e  NaN

In [ ]:
# How to use .pipe()
df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US")

In [ ]:
# Add rows with list
for n in range(11, 150):
    pick = random.choice(list_user)
    df_sponsorSenators.loc[n] = list([n+1, np.random.randint(300), pick[0], pick[1], pick[2],
                                 random.choice(list_message),
                                 random.choice(list_money),
                                 random.choice(list_email),
                                 random.choice(list_view)])

In [ ]:
# Load csv limiting number of rows
data = pd.read_csv('Directory/name.csv', nrows=10000)

In [ ]:
# Filter dataframe by dataframe example
  keys = list(df1.columns.values)
  i1 = df2.set_index(keys).index
  i2 = df1.set_index(keys).index
  df_year_replied_first_sent = df2[i1.isin(i2)]

In [ ]:
# Pandas contains ignore case example
temp_2020['re_counts'] = temp_2020['title'].str.findall('Re:', flags=re.I).str.len()
temp_2020['org_title'] = temp_2020['title'].str.replace(r'(Re:|Fwd:)', '',flags=re.I).str.strip()

In [ ]:
# to_dict() without index
hr[['EP_ID', 'Ï°∞ÏßÅÏΩîÎìú']].to_dict('r')

In [ ]:
# Using function with multiple attributes in df using numpy vectorize
def adding(x,y):
    return x + ' ' + y

mail_times['Í∑ºÎ¨¥Ï¢ÖÎ£å'] = np.vectorize(adding)(mail_times['Í∑ºÎ¨¥Ï¢ÖÎ£å'],mail_times['Í∑ºÎ¨¥_Ï¢ÖÎ£åÏãúÍ∞Ñ'])

In [ ]:
# use map method in pandas by index
df = pd.DataFrame({'one': {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}})
map_dict = {'A': 'every', 'B': 'good', 'C': 'boy', 'D': 'does', 'E': 'fine'}

df['two'] = df.index.to_series().map(map_dict)

In [ ]:
# How to read csv with error_bad_lines
df = pd.read_csv(data, error_bad_lines=False)

In [ ]:
# use diff method to caculate difference between two continuous values in a column
df_temp['Ï∞®Ïù¥'] = df_temp['ÌïòÏ∞®Ï¥ùÏäπÍ∞ùÏàò'].diff().abs()

In [ ]:
# count duplicated rows
df.groupby(df.columns.tolist()).size().reset_index().\
    rename(columns={0:'records'})

In [ ]:
# pandas contains a list of values
df_temp = bills[bills['Î∞úÏùòÏûê'].str.contains('|'.join(senator_list))]

In [ ]:
  # groupby applying multiple functions
  dict_groupby_data[i] = dict_data[i].groupby('ÏùºÏãú').agg({'Í∏∞Ïò®(¬∞Cx

In [ ]:
# rowÎßàÎã§ ÏΩîÎìúÎ•º Ïã§ÌñâÏãúÏºúÏïº Ìï† Îïå itertuplesÎ•º Ïì∞Ïûê
# iterrowsÎ≥¥Îã§ itertuplesÍ∞Ä ÏÑ±Îä•Ïù¥ Ï¢ãÎã§.
for row in df.itertuples():
    yield TaggedDocument(words=dict(row._asdict())['all_orders'].split(),tags=[dict(row._asdict())['user_id']])

for row in df.itertuples():
    row._asdict()

In [ ]:
# How to use apply method in groupby
prior_orders.groupby("user_id").apply(lambda order: ' '.join(order['product_id'].tolist()))

In [ ]:
# column.dropLevel(0)
feature_department.columns = feature_department.columns.droplevel(0)

In [ ]:
# Making corpus using orders and products (Word2Vec ÌïôÏäµ)
product_corpus = []     
sentence = []
new_order_id = order_product_list[0][0]
for (order_id, product_id) in tqdm(order_product_list):
    '''
    order_idÍ∞Ä Í∞ôÏúºÎ©¥ Í≥ÑÏÜç sentenceÏóê ÎÑ£Í≥†
    order_idÍ∞Ä Îã¨ÎùºÏßÄÎ©¥ sentenceÎ•º ÎπÑÏö∞Í≥† ÏÉàÎ°ú ÎÑ£Í∏∞
    Ï¶â, Í∞ôÏùÄ orderÏóê ÏûàÎäî productÎì§ÏùÑ ÌïòÎÇòÏùò corpusÎ°ú ÎßåÎì§Ïñ¥Ï£ºÎäî ÏûëÏóÖÏù¥Îã§.
    '''
    if new_order_id != order_id:
        product_corpus.append(sentence)
        sentence = []
        new_order_id = order_id
    sentence.append(str(product_id))


# ÏúÑÏ≤òÎüº Ìó§Îß§ÏßÄ ÎßêÍ≥† Ïù¥Î†áÍ≤å ÌïòÏûê (Doc2Vec ÌïôÏäµ)
prior_orders.groupby("user_id").apply(lambda order: ' '.join(order['product_id'].tolist()))

In [ ]:
# Sort values by multiple columns
# using ENTER in one code
 merge_order_product_ds\
    .sort_values(['user_id','order_id','add_to_cart_order'])

In [ ]:
# saving in different excel sheet
with pd.ExcelWriter('approval ver4.0.xlsx') as writer:
    emply.to_excel(writer, sheet_name = 'Employee')
    approval.to_excel(writer, sheet_name = 'Í≤∞Ïû¨')

In [ ]:
# list minus list not using list comprehension
outer_index = list(set(email_drop_dup.index) - set(inner.index))

In [ ]:
# Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÎπºÍ∏∞f
a = pd.DataFrame(data = {'col1' : [1, 2, 3, 4, 5], 'col2' : [10, 11, 12, 13, 14]}) 
b = pd.DataFrame(data = {'col1' : [1, 2, 3], 'col2' : [10, 11, 12]})

common = a.merge(b,on=['col1','col2'])

a[(~a.col1.isin(common.col1))&(~a.col2.isin(common.col2))]

In [ ]:
# columnÏóê ÌäπÏ†ï stringÏù¥ Ìè¨Ìï® ÏïàÎêòÏñ¥ÏûàÎäî Ïï†Îì§Îßå ÎΩëÍ∏∞
df[(~df["Ìè¥ÎçîÎ™Ö"].str.contains('Ïä§Ìå∏')) & 
   (~df["Ìè¥ÎçîÎ™Ö"].str.contains('Ï∞®Îã®')) &
   (~df["Ìè¥ÎçîÎ™Ö"].str.contains('ÏïÖÏÑ±')) &d
   (~df["Ìè¥ÎçîÎ™Ö"].str.contains('Ïä§Ìå∏Ïã†Í≥†'))]

In [ ]:
# pandas profiling Ïì∞Îäî Î≤ï (simple ver)
# profile ÎßåÎì§Í∏∞
profile = df.profile_report()
profile

# Ï†ÄÏû•ÌïòÍ∏∞
profile.to_file("profile.html")

In [ ]:
# pandas profiling Ïì∞Îäî Î≤ï
import tqdm
import pandas as pd
import pandas_profiling
############ ÌïúÍ∏Ä Ìè∞Ìä∏ ÏßÄÏ†ïÌïòÎäî Î∂ÄÎ∂Ñ #################
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# ÏúàÎèÑÏö∞Ïù∏ Í≤ΩÏö∞
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac Ïù∏ Í≤ΩÏö∞
    font_name = font_manager.FontProperties(fname="/Library/Fonts/NanumBarunGothic.ttf").get_name()
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False   
#Í∑∏ÎûòÌîÑÏóêÏÑú ÎßàÏù¥ÎÑàÏä§ Í∏∞Ìò∏Í∞Ä ÌëúÏãúÎêòÎèÑÎ°ù ÌïòÎäî ÏÑ§Ï†ïÏûÖÎãàÎã§.

# profile ÎßåÎì§Í∏∞
profile = ÏãùÎãπ.profile_report()
profile

# Ï†ÄÏû•ÌïòÍ∏∞
profile.to_file("profile.html")

In [ ]:
# replacing column value not using map method
df_temp.replace({"Î©îÎâ¥Î™Ö": dict_menu})

In [ ]:
# Dataframe to dictionary (for json)
T2_model.everytime_scheduler(T2_model.all_combinations())[0].fillna('0').T.to_dict()

In [ ]:
# listÏóê ÏûàÎäî column valueÎ•º strÏúºÎ°ú ÌíÄÏñ¥Ï£ºÎäî Î∞©Î≤ï
df_without_nan['list2str'] = [' '.join(map(str, l)) for l in df_without_nan['proposed_senators']]

# Ïù¥Î†áÍ≤åÎèÑ Í∞ÄÎä•
def list2str(data):
    result = ' '.join(data)
    return result

df['BOW'] = (df['ingredient'] + df['taglst']).apply(list2str)

In [ ]:
# changing value with loc in dataframe
df_final.loc[(df_final['x'] == df_final.iloc[41]['x']) & (df_final['y']==df_final.iloc[41]['y']), ['ÏÜåÏÜçÏúÑÏõêÌöå']] ='Í≥ºÌïôÍ∏∞Ïà†Ï†ïÎ≥¥Î∞©ÏÜ°ÌÜµÏã†ÏúÑÏõêÌöå'
df_final.loc[(df_final['x'] == df_final.iloc[42]['x']) & (df_final['y']==df_final.iloc[42]['y']), ['ÏÜåÏÜçÏúÑÏõêÌöå']] ='ÌñâÏ†ïÏïàÏ†ÑÏúÑÏõêÌöå'

In [ ]:
# pandas progress_apply Ìï®Ïàò ÏÇ¨Ïö©Î≤ï
from tqdm import tqdm

tqdm.pandas()

bills['tokenized'] = bills['Î≤ïÏïàÎ™Ö_Î≤ïÏïàÎÇ¥Ïö©'].progress_apply(tokenized_mecab)

# lambdaÎ•º Ïì∞Îäî Î≤ï
bills['cleared'] = bills['tokenized'].progress_apply(lambda x: out_stopwords(x, list_stopwords = list_stopword))

In [ ]:
# apply function with more than two arguments
def subtract_and_divide(x, sub, divide=1):
    return (x - sub) / divide

df.apply(subtract_and_divide, args=(5,), divide=3)

# Another example
def subtract(x, y, z):
    return x - y - z

df = df.apply(subtract, args=(1, 2))

# Another example
df['NewCol'] = df.apply(lambda x: \
                        functionName(x['TimeCol'], x['ResponseCol']), axis=1)

In [ ]:
# dataframeÏóê 2Í∞ÄÏßÄ ÎÑòÎäî argument Ìï®Ïàò Ï†ÅÏö©ÌïòÍ∏∞
bills['cleared'] = bills.apply(lambda x: out_stopwords(bills['tokenized'].str, "/Users/junghyunwoo/·Ñí·Öß·ÑÇ·ÖÆ·Ñã·Ö¶-·Ñã·Ö¥·Ñí·Ö°·Ü´-·Ñí·Öß·ÑÇ·ÖÆ·ÑÖ·Ö≥·ÜØ-·Ñã·Ö±·Ñí·Ö°·Ü´-·Ñí·Öß·ÑÇ·ÖÆ·Ñã·Ö¥/·ÑÄ·Ö©·Üº·Ñá·ÖÆ·ÑÄ·Ö©·Üº·Ñá·ÖÆ·ÑÄ·Ö©·Üº·Ñá·ÖÆ·ÑÄ·Ö©·Üº·Ñá·ÖÆ/·ÑÉ·Ö¢·Ñí·Ö°·Ü® ·Ñã·Öµ·Ñí·ÖÆ/·ÑÉ·Ö¢·Ñí·Ö°·Ü® ·ÑÄ·Ö™·Ü´·ÑÖ·Öß·Ü´/·Ñã·Öß·Ü´·Ñâ·Ö¶·ÑÉ·Ö¢·Ñí·Ö°·Ü®·ÑÄ·Ö≠/2020-1 3·Ñí·Ö°·Ü®·ÑÇ·Öß·Ü´ 2·Ñí·Ö°·Ü®·ÑÄ·Öµ/·ÑÉ·Ö¶·Ñã·Öµ·Ñê·Ö•·ÑÜ·Ö°·Ñã·Öµ·ÑÇ·Öµ·Üº·Ñã·Öµ·ÑÖ·Ö©·Ü´·ÑÜ·Öµ·Üæ·Ñã·Ö≥·Üº·Ñã·Ö≠·Üº (·Ñâ·Ö©·Ü´·Ñâ·Ö©·Ñã·Öß·Üº)/·Ñê·Öµ·Ü∑ ·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/·ÑÄ·Öµ·ÑÜ·Ö°·ÜØ ·Ñë·Ö≥·ÑÖ·Ö©·Ñå·Ö¶·Ü®·Ñê·Ö≥/1·Ñé·Ö°_stopwords ·Ñé·ÖÆ·ÑÄ·Ö°/stopwords ver1.0.txt"), axis=1)

# progress_applyÎ•º ÌôúÏö©ÌïòÎ©¥ÏÑú
bills['cleared'] = bills['tokenized'].progress_apply(lambda x: out_stopwords(x, list_stopwords = list_stopword))

In [ ]:
# ~ ÏòàÏãú
phar = phar[~phar['ÏÉÅÌò∏Î™Ö'].str.contains('Ï†ÑÏûêÎã¥Î∞∞')]

In [ ]:
# dataframe Ï†ÑÏ≤¥Ïóê forÎ¨∏ Ï†ÅÏö©Ìï† Îïå
for index in df.index:
  cost = df.loc[index].columnName
  # Ïù¥Îü∞ ÏãùÏúºÎ°ú indexÎ•º ÌõëÏùÑ Ïàò ÏûàÎã§!

In [ ]:
# multiple condition
temp[(temp['freq_sns1'] =='facebook') or (temp['freq_sns1'] =='instagram') or (temp['freq_sns1'] =='kakaostory')]

In [ ]:
# drop_duplicates keep, subset ÏòàÏãú
products.drop_duplicates(inplace=True, subset='StockCode', keep="last")

In [ ]:
# ÏõêÌïòÎäî ÏãúÍ∞ÑÎåÄ Í∞ÄÏ†∏Ïò§Í∏∞
data[pd.Timestamp("2012-01-01 09:00"):pd.Timestamp("2012-01-01 19:00")]

data['2012-01-01 09:00':'2012-01-01 19:00']

In [ ]:
# scatter_matrix ÏòàÏãú
from pandas.plotting import scatter_matrix

attributes = ["median_house_value", "median_income", "total_rooms",
              "housing_median_age"]
scatter_matrix(housing[attributes], figsize=(12, 8))
save_fig("scatter_matrix_plot")

In [ ]:
# corr_matrix ÏòàÏãú
corr_matrix = housing.corr()
corr_matrix["median_house_value"].sort_values(ascending=False)

In [ ]:
# ÌäπÏ†ïÌïú Í≤ÉÏùÑ Ìè¨Ìï®ÌïòÎäî ÌñâÎì§ÏùÑ Ï∞æÍ≥† Ïã∂ÏùÑ Îïå contains Ìï®Ïàò ÏÇ¨Ïö©
df[df['Name'].str.contains('al')].head()

In [ ]:
# startswith, str ÏòàÏãú
df[df['Name'].str.startswith('B')].head()

In [ ]:
# isin ÏòàÏãú
df[df['Name'].isin(['Braund, Mr. Owen Harris','Heikkinen, Miss. Laina'])]

In [ ]:
# column drop ÌïòÍ∏∞
df = df.drop(columns=['index'])

In [ ]:
# ÌäπÏ†ï columnÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÏàúÏÑúÎ•º Ï†ïÎ†¨ÌïòÍ≥† Ïã∂ÏùÑ Îïå
df.sort_values('Name',ascending=True)

In [ ]:
# .loc ÏòàÏãú
df.loc[df['ÏÑ±Î≥Ñ'] == 'male', 'ÏÑ±Î≥Ñ'] = 0 
df.loc[df['ÏÑ±Î≥Ñ'] == 'female', 'ÏÑ±Î≥Ñ'] = 1

df.loc[df['Í¥ÄÏã¨ÏÇ¨'] == 'Ï∂ïÍµ¨', 'Í¥ÄÏã¨ÏÇ¨'] = 0 
df.loc[df['Í¥ÄÏã¨ÏÇ¨'] == 'ÏïºÍµ¨'', 'Í¥ÄÏã¨ÏÇ¨'] = 1

In [ ]:
# dropna, subset, nanÍ∞íÏù¥ ÏûàÎäî columnÏùò rowÎ•º ÎÇ†Î¶¨Í∏∞, 
temp_dropna = temp_dropna.dropna(subset=['quota', 'participants'])

In [ ]:
# str, contain, na
df_final.loc[df_final['Name'].str.contains('Mr\.', na=False), 'Name' ] = 0
df_final.loc[df_final['Name'].str.contains('Mrs\.', na=False), 'Name' ] = 1
df_final.loc[df_final['Name'].str.contains('Miss\.', na=False), 'Name' ] = 2
df_final.head()

In [ ]:
# .cut()
## ÏòàÏãú1
kills = sample.copy()
kills['killsCategories'] = pd.cut(kills['kills'], 
                                  [-1, 0, 2, 5, 10, 60],
                                  labels=['0_kills','1-2_kills', '3-5_kills', '6-10_kills', '10+_kills'])

In [ ]:
# contain ÏòàÏãú
cs_df = course_df.loc[course_df['id'].str.contains('CSI')]

In [ ]:
# loc ÏòàÏãú
# temp(difference)Í∞Ä -6Î≥¥Îã§ ÏûëÏùÄ Îç∞Ïù¥ÌÑ∞Îäî -6ÏúºÎ°ú ÌÜµÏùºÏãúÏºúÏ§çÎãàÎã§.
train.loc[train["temp(difference)"] < -6, "temp(difference)"] = -6

# ÎπÑÏä∑ÌïòÍ≤å, temp(difference)Í∞Ä 0Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Îäî 0ÏúºÎ°ú ÌÜµÏùºÏãúÏºúÏ§çÎãàÎã§.
train.loc[train["temp(difference)"] >  0, "temp(difference)"] = 0

In [ ]:
# mul ÏòàÏãú
df.mul([1, 100], axis=0)

In [ ]:
# boolean column ÎßåÎì§Í∏∞
father_df['Ï†ÑÌôîÏ£ºÎ¨∏Í≥†Í∞ù'] =  father_df['Ï£ºÎ¨∏ÏûêID'].str[:2] == 'pp'

In [ ]:
# .quantile()
data = sample.copy()
data.loc[data['kills'] > data['kills'].quantile(0.99)] = '8+'
plt.figure(figsize=(15,10))
sns.countplot(data['kills'].astype('str').sort_values())d
plt.title("Kill Count",fontsize=15)
plt.show()

In [ ]:
# ÏÉòÌîå ÎΩëÍ∏∞
sample = train.sample(frac=0.1, random_state=20191005)

In [ ]:
# outlier Ï†úÍ±∞ÌïòÎäî Î∞©Î≤ï
train_X = train_X[train_X['LotFrontage'] <= 300]
train_X = train_X[train_X['Evaluate_Garage'] <= 200000]
train_X = train_X[train_X['Evaluate_Bsmt'] <= 4000000]

In [ ]:
# .corrwith()
corr_data = train_df[numerical_feature].corrwith(train_df['SalePrice']).sort_values(ascending=False)

In [ ]:
# .indexÎ°ú index ÏÑ§Ï†ïÌï¥Ï£ºÍ∏∞
Big_df.index = range(len(Big_df))

In [ ]:
# fillna()
X_train['Age']=X_train.Age.fillna(X_train.Age.mean())

In [ ]:
# creating new column
gender = {'male':0, 'female':1}
df_train['Sex'] = [gender[item] for item in df_train.Sex]
df_test['Sex'] = [gender[item] for item in df_test.Sex]
df_train.head()

In [ ]:
# pd.cut
bins = [0, 25, 50, 75, 100]
group_names = ['Low', 'Okay', 'Good', 'Great']
categories = pd.cut(df['postTestScore'], bins, labels=group_names)
categories

In [ ]:
# value_counts()
df['categories'] = pd.cut(df['postTestScore'], bins, labels=group_names)
pd.value_counts(df['categories'])

In [ ]:
# pandas matplotlib
fig = plt.figure()
fig.set_size_inches(10,5)
ax_1 = fig.add_subplot(1,2,1)
ax_2 = fig.add_subplot(1,2,2)
ax_1.plot(df_data["MEDV"])
ax_2.hist(df_data["MEDV"], bins=50)
ax_1.set_title("House price MEDV")
ax_2.set_title("Hous price MEDV")

In [ ]:
# enumerate
for i,child in enumerate(file["features"]) :
    print(i,child["properties"]["SIG_KOR_NM"])

In [ ]:
# .repeat
## ÏòàÏ†ú1
s = pd.Series(['a','b','c'])
s = pd.concat([s.repeat(2), s.repeat(3)])
s.head()
 
## ÏòàÏ†ú2
gangnam = pd.read_csv('data/gangnam_cctv.csv', encoding='cp949')
gangnam2 = gangnam[['ÏúÑÎèÑ','Í≤ΩÎèÑ','Ïπ¥Î©îÎùºÎåÄÏàò']]
gangnam2.shape
gangnam3 = (
    pd.concat([gangnam2["ÏúÑÎèÑ"].repeat(gangnam2["Ïπ¥Î©îÎùºÎåÄÏàò"]), 
                           gangnam["Í≤ΩÎèÑ"].repeat(gangnam["Ïπ¥Î©îÎùºÎåÄÏàò"])], 
                           axis=1)
        .reset_index(drop = True))
gangnam3

In [ ]:
# .factorize() „ÖàÏòàÏãú
housing_cat_encoded, housing_categories = housing_cat.factorize()
housing_cat_encoded[:10]

In [ ]:
# .hist()
df['Age'].hist()

In [ ]:
# set_index, reset_index
df = df.set)index(['A', 'B'])

result = df['C'].unstack()

df = result.stack().reset_index(name='C')

In [ ]:
# .mapÍ≥º dictÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑú column Ï±ÑÏö∞Í∏∞
weight_dict = {3:"M", 4:"L", 5:"XL"}
edges["weight_sign"] = edges["weight"].map(weight_dict)
edges

In [ ]:
# get_dummies()
df_dum = pd.get_dummies(df['pclass'])

df_train = pd.get_dummies(df_train, prefix = ['Cabin'], columns=['Cabin'])

df_dum = pd.get_dummies(df)

temp = pd.get_dummies(temp, columns = ['Age_cut'])

In [ ]:
# DataFrame ÎßåÎì§Í∏∞

## ÏòàÏ†ú1
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df


## ÏòàÏ†ú2
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a


## ÏòàÏ†ú3
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
df_countries = pd.DataFrame(data)
df_countries
.pivot(index=, columns
       
       
## ÏòàÏ†ú4
df = pd.DataFrame({'Fare': [7.25, 71.2833, 51.8625, 30.0708, 7.8542, 13.0],
                   'Pclass': [3, 1, 1, 2, 3, 2],
                   'Sex': ['male', 'female', 'male', 'female', 'female', 'male'],
                   'Survived': [0, 1, 0, 1, 0, 1]})

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [ ]:
# del: ÏÇ≠Ï†úÌïòÍ∏∞
del df['city']
df

  first_name last_name  age
0      Jason    Miller   42
1      Molly  Jacobson   52
2       Tina       Ali   36
3       Jake    Milner   24
4        Amy     Cooze   73

In [ ]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [ ]:
df.age > 40

0     True
1     True
2    False
3    False
4     True
Name: age, dtype: bool

In [ ]:
df['debt'] = df.age > 40
df

  first_name last_name  age           city   debt
0      Jason    Miller   42  San Francisco   True
1      Molly  Jacobson   52      Baltimore   True
2       Tina       Ali   36          Miami  False
3       Jake    Milner   24        Douglas  False
4        Amy     Cooze   73         Boston   True

In [ ]:
df_train['Age_mean'] = df_train.Age_mean.fillna(df_train.Title.map({'Master':5, 'Miss':22, 'Mr':33, 'Mrs':36, 'Other':46}))

In [ ]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
example_obj = Series(dict_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [ ]:
example_obj.to_dict()

In [ ]:
example_obj.values

In [ ]:
example_obj.index

In [ ]:
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

In [ ]:
s = pd.Series([0.1, 0.2, 0.3, 0.4])

In [ ]:
# .index: Index Ï†ïÎ≥¥Î•º ÏïåÎ†§Ï§å
s.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# .values: Value Í∞íÎì§ÏùÑ Î≥¥Ïó¨Ï§å
s.values

array([0.1, 0.2, 0.3, 0.4])

In [ ]:
# Indexing
s[0]

0.1

In [ ]:
# DictÏùÑ Series dataÎ°ú ÎßåÎìúÎäî Î∞©Î≤ï
pop_dict = {'Germany': 81.3, 
            'Belgium': 11.3, 
            'France': 64.3, 
            'United Kingdom': 64.9, 
            'Netherlands': 16.9}
population = pd.Series(pop_dict)
population

Germany           81.3
Belgium           11.3
France            64.3
United Kingdom    64.9
Netherlands       16.9
dtype: float64

In [ ]:
population / 100

Germany           0.813
Belgium           0.113
France            0.643
United Kingdom    0.649
Netherlands       0.169
dtype: float64

In [ ]:
# .mean(): Î∞îÎ°ú Ïó∞ÏÇ∞ÏùÑ Ìï¥ÎèÑ Îê®
population.mean()

47.739999999999995

In [ ]:
# Dataframe ÎßåÎì§Í∏∞
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

In [ ]:
# .index: indexÎ•º Î≥¥Ïó¨Ï§å
countries.index

Index(['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'], dtype='object', name='country')

In [ ]:
# .columns: columnsÎ•º Î≥¥Ïó¨Ï§å
countries.columns

Index(['population', 'area', 'capital'], dtype='object')

In [ ]:
# .dtypes: ColumnsÎì§Ïùò typeÏùÑ Î≥¥Ïó¨Ï§å
countries.dtypes

population    float64
area            int64
capital        object
dtype: object

In [ ]:
# .info(): index, columns Í∞ØÏàò, type Îì±ÏùÑ Î≥¥Ïó¨Ï§å
countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Belgium to United Kingdom
Data columns (total 3 columns):
population    5 non-null float64
area          5 non-null int64
capital       5 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [ ]:
# .values: Í∞Å indexÏùò value Í∞íÎì§ÏùÑ Î≥¥Ïó¨Ï§å
countries.values

array([[11.3, 30510, 'Brussels'],
       [64.3, 671308, 'Paris'],
       [81.3, 357050, 'Berlin'],
       [16.9, 41526, 'Amsterdam'],
       [64.9, 244820, 'London']], dtype=object)

In [ ]:
countries.columns

Index(['population', 'area', 'capital'], dtype='object')

In [ ]:
# .set_index(' '): Ìï¥Îãπ columnÏùÑ indexÎ°ú Î∞îÍøîÏ§å
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries['area']

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

In [ ]:
countries['population'] / countries['area']

country
Belgium           0.000370
France            0.000096
Germany           0.000228
Netherlands       0.000407
United Kingdom    0.000265
dtype: float64

In [ ]:
# 1Í∞úÏùò columnÏùÑ ÎΩëÏïÑÏÑú min, max, mean, median Îì±Ïùò Ïó∞ÏÇ∞ÎèÑ Í∞ÄÎä•
countries['area'].min()

30510

In [ ]:
# .loc ÏòàÏãú
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries.loc['Germany', 'area']

357050

In [ ]:
countries.loc[countries['density'] > 300, ['capital', 'population']]

               capital  population
country
Belgium       Brussels        11.3
Netherlands  Amsterdam        16.9

In [ ]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

In [ ]:
# .iloc ÏòàÏãú
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries.iloc[0:2,1:3]

           area   capital
country
Belgium   30510  Brussels
France   671308     Paris

In [ ]:
# Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ ÎΩëÍ∏∞
## List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
cast = cast[cast.name == 'Cary Grant']
cast = cast[cast.year // 10 == 194]
cast = cast[cast.n == 2]
cast = cast.sort('year')
cast

In [ ]:
# Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ ÎΩëÍ∏∞
df = df[df.line_race != 0]

In [ ]:
df = pd.read_csv("data/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df_info = df[["Age","Fare"]]
df_info.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [ ]:
f = lambda x : x.max() - x.min()
df_info.apply(f)

Age      79.5800
Fare    512.3292
dtype: float64

In [ ]:
df_info.apply(sum)

Age            NaN
Fare    28693.9493
dtype: float64

In [ ]:
def f(x):
    return Series([x.min(), x.max(), x.mean()], 
                    index=["min", "max", "mean"])
df_info.apply(f)

            Age        Fare
min    0.420000    0.000000
max   80.000000  512.329200
mean  29.699118   32.204208

In [ ]:
f = lambda x : -x
df_info.applymap(f).head(5)

    Age     Fare
0 -22.0  -7.2500
1 -38.0 -71.2833
2 -26.0  -7.9250
3 -35.0 -53.1000
4 -35.0  -8.0500

In [ ]:
f = lambda x : -x
df_info["Age"].apply(f).head(5)

0   -22.0
1   -38.0
2   -26.0
3   -35.0
4   -35.0
Name: Age, dtype: float64

In [ ]:
users[lambda x: x.gender == 'F']

In [ ]:
# isin
countries[lambda x: x.capital.isin(['Berlin', "London"])]

                population    area capital     density
country
Germany               81.3  357050  Berlin  227.699202
United Kingdom        64.9  244820  London  265.092721

In [ ]:
#stratswith
countries['capital'].str.startswith('B')

country
Belgium            True
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

In [ ]:
countries[countries['capital'].str.len() > 7]

             population   area    capital     density
country
Belgium            11.3  30510   Brussels  370.370370
Netherlands        16.9  41526  Amsterdam  406.973944

In [ ]:
countries[countries['capital'].str.contains('am')]

             population   area    capital     density
country
Netherlands        16.9  41526  Amsterdam  406.973944

In [ ]:
# sort
titles[titles.title == 'Treasure Island'].sort('year')

In [ ]:
# sort
titles.sort('year').head(2)

In [ ]:
# Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ groupbyÌïòÍ∏∞
df_phone[df_phone['item'] == 'call'].groupby('month')['duration'].sum()

In [ ]:
# endswith
files = [file_name for file_name in os.listdir("./data") if file_name.endswith("xlsx")]
files.remove("excel-comp-data.xlsx")
files.remove('df_routes.xlsx')
files

In [ ]:
# astype(), str ÌòïÌÉúÎ°ú column Î∞îÍæ∏Í∏∞
## ÏòàÏ†ú1
df[['A','C'].astype(str) 

## ÏòàÏ†ú2
int_but_object_data =['BsmtFullBath', 'BsmtHalfBath', 'MSSubClass']
for col in int_but_object_data:
    Big_df[col] = Big_df[col].astype('object')

In [ ]:
# .isin
df = df[df["subclass"].isin(list("ABCEDFGHIJKLMNOPQRSTUVWXYZ"))]

In [ ]:
# .tolist
dz_list = dizhi.values.tolist()

## üîé Save and Read files

- **pd. read_csv ( " Îç∞Ïù¥ÌÑ∞ Ïù¥Î¶Ñ Î∞è Ï£ºÏÜå " , sep = ' ÎπàÍ≥µÍ∞ÑÏúºÎ°ú ÏßÄÏ†ï ' , header = ' ', index_col = , parse_dates=True, usecols = [ ' ' ] ,  na_values= " " )**: ÌååÏùº Î∂àÎü¨Ïò§Í∏∞, parse_datesÎ•º TrueÎ°ú ÎÜìÏúºÎ©¥ datetimeÏúºÎ°ú ÏùΩÏñ¥Ïò®Îã§. ÏïÑÎãàÎ©¥ parse_date=['ÏπºÎüº Ïù¥Î¶Ñ'] Ïù¥Î†áÍ≤å Ìï¥ÎèÑ ÎêúÎã§.
<br>
na_valuesÎ•º ÏÑ§Ï†ïÌï¥Ï£ºÎ©¥ Ìï¥Îãπ Í∞íÏùÑ NaNÏúºÎ°ú Î≥ÄÌôòÌï¥ÏÑú Î∂àÎü¨Ïò®Îã§.

  **pd. read_csv ( " index_col = [ 0 ] )** : Ïù¥Î†áÍ≤å ÌïòÎ©¥ ÏïûÏóê unnamed:0 columnÏùÑ ÏóÜÏï® Ïàò ÏûàÏùå
- **.to_excel ( " Ï†úÎ™©.xlsx " ,  sheet_name = ' Ïù¥Î¶Ñ ' )**: ÏóëÏÖÄÎ°ú Ï†ÄÏû•ÌïòÍ∏∞
- **.to_csv ( " Ï†úÎ™©.csv " , index = False , encoding = " euc-kr ")**: ÏóëÏÖÄÎ°ú Ï†ÄÏû•ÌïòÍ∏∞. Îí§Ïóê encoding Ï†ÄÎ†áÍ≤å ÌïòÎ©¥ Í∑∏ÎÉ• Ïó¥ÏóàÏùÑ Îïå ÌïúÍ∏ÄÏù¥ Ïïà Íπ®Ïßê

<h2> Using Openpyxl </h2>

- **openpyx .Workbook()** : ÏÉàÎ°úÏö¥ excel workbookÏùÑ ÎßåÎì§Ïñ¥ÎÉÑ
- **sheet .active**: ÌòÑÏû¨ ÌôúÏÑ±ÌôîÎêú worksheetÏùÑ Î≥¥Ïó¨Ï§å
- **sheet .append**: Î¶¨Ïä§Ìä∏ ÌòïÏãùÏúºÎ°ú Î∂ôÏûÑ
- **sheet .title**: sheet Ïù¥Î¶ÑÏùÑ Î≥ÄÍ≤Ω
- **openpyxl .Workbook() .create_sheet ( " sheet Ïù¥Î¶Ñ " )**: ÏÉàÎ°úÏö¥ ÏãúÌä∏Î•º ÎßåÎì§Í∏∞
- **sheet [ ' cell location ' ] = str or int**: ÌäπÏ†ï cellÏóê Í∞íÏùÑ ÎÑ£Ïñ¥Ï£ºÍ≥† Ïã∂ÏùÑ Îïå
 
  **sheet. cell ( row = , column = ) .value = str or int**: Ïù¥Î†áÍ≤å cellÏóê Í∞íÏùÑ ÎÑ£Ïñ¥Ï§Ñ ÏàòÎèÑ ÏûàÏùå
- **openpyxl.Workbook().save('Ïù¥Î¶Ñ.ÌòïÏãù')** : Ï†ÄÏû•ÌïòÍ∏∞

### üìî Examples

In [ ]:
# ÏòàÏãú 4
wb = openpyxl.Workbook()

# sheet1ÏùÄ ÌôúÏÑ±ÌôîÎêò ÏûàÎäî ÏãúÌä∏Î•º ÏÑ†ÌÉù
sheet1 = wb.active
# sheet1Ïùò ÏãúÌä∏Ïù¥Î¶Ñ Î≥ÄÍ≤Ω
sheet1.title = "1st sheet"

# ÏÉàÎ°úÏö¥ ÏãúÌä∏ ÎßåÎì§Í≥† sheet2Ïóê Ï†ÄÏû•
sheet2 = wb.create_sheet("2nd sheet")

# sheet1Í≥º sheet2Ïóê ÎèôÏãúÏóê Îç∞Ïù¥ÌÑ∞ Ïì∞Í∏∞
for i in range(1, 10):
    sheet1.cell(row=i, column=1).value = i
    sheet2.cell(row=1, column=i).value = i

wb.save('test.xlsx')

In [ ]:
# ÏòàÏãú 3
# openpyxlÏùÑ Í∞ÄÏ†∏ÏòµÎãàÎã§.
import openpyxl

# ÏõåÌÅ¨Î∂Å(ÏóëÏÖÄÌååÏùº)ÏùÑ ÏÉàÎ°ú ÎßåÎì≠ÎãàÎã§.
wb = openpyxl.Workbook()

# ÌòÑÏû¨ ÌôúÏÑ±ÌôîÎêú ÏãúÌä∏Î•º ÏÑ†ÌÉùÌï©ÎãàÎã§.
sheet = wb.active
# A1ÏÖÄÏóê hello world!Î•º ÏûÖÎ†•Ìï©ÎãàÎã§.
sheet['A1'] = 'hello world!'

sheet.cell(row=3, column=3).value = "hello world"


# ÏõåÌÅ¨Î∂Å(ÏóëÏÖÄÌååÏùº)ÏùÑ ÏõêÌïòÎäî Ïù¥Î¶ÑÏúºÎ°ú Ï†ÄÏû•Ìï©ÎãàÎã§.
wb.save('test.xlsx')

In [ ]:
# Openpyxl ÏòàÏãú 1
# ÎÑ§Ïù¥Î≤Ñ eÎ∂Å Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Í≤∞Í≥º ÌååÏùºÎ°ú Ï†ÄÏû•ÌïòÍ∏∞
wb = openpyxl.Workbook()
sheet = wb.active
sheet.append(["Ï±ÖÏ†úÎ™©", "Ï†ÄÏûê"])

for n in range(1, 6):
    raw = requests.get("https://series.naver.com/ebook/top100List.nhn?page="+str(n), 
                  headers={'User-Agent':'Mozilla/5.0'})
    html = BeautifulSoup(raw.text, "html.parser")
    container = html.select("div.lst_thum_wrap li")
    try:
        for cont in container:
            title = cont.select_one("a strong").text.strip()
            author = cont.select_one("span.writer").text.strip()
            sheet.append([title, author])
    except:
        continue

wb.save("week4_homework_1.xlsx")

In [ ]:
# Openpyxl ÏòàÏãú 2
# Ïª®ÌÖåÏù¥ÎÑà, Ï†úÎ™©, Í∏∞ÏÇ¨ÏöîÏïΩ
# ÌéòÏù¥ÏßÄ ÎÑòÏñ¥Í∞ÄÍ∏∞
wb = openpyxl.Workbook()
sheet = wb.active
sheet.append(["Í∏∞ÏÇ¨", "ÎÇ¥Ïö©"])

for n in range(1, 6):
    raw = requests.get("https://search.daum.net/search?w=news&q=ÏΩîÏïåÎùº&p="+str(n))
    html = BeautifulSoup(raw.text, 'html.parser')
    container = html.select("div.wrap_cont")
    
    for cont in container:
        title = cont.select_one("a.f_link_b").text.strip()
        summary = cont.select_one("p.f_eb.desc").text.strip()
        sheet.append([title, summary])
wb.save("week4_homework_2.xlsx")

## üîé Simple Plotting

- **plt .figure ( ) .set_size_inches ( , )**: Í∑∏Î¶ºÏù¥ Í∑∏Î†§Ïßà ÏÇ¨Ïù¥Ï¶àÎ•º Ï†ïÌï®
- **.add_supbplot ( )**: Í∑∏Î¶ºÏù¥ Ïñ¥ÎîîÏóê ÏúÑÏπòÌï†ÏßÄ Ï†ïÌï¥Ï§å
- **.set_title ( " Ï†úÎ™© " )**: Ï†úÎ™©ÏùÑ Îã¨ÏïÑÏ§å
- **.scatter ( data1 , data2, color = ' ' , label = ' ' )**: scatter plot Í∑∏Î¶¨Í∏∞
- **.hist ( data, bins = )**: histogramÏùÑ Í∑∏Î†§Ï§å, binsÎäî Í∏∞Îë•Ïùò Í∞ØÏàò
- **.plot ( )**: Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò graphÎ•º Í∑∏Î†§Ï§å
 
  **.plot ( kind = ' ' , xlim = [ , ], ylim = [ , ] , figsize = ( , ) )**: ÏõêÌïòÎäî plotÏùÑ Í∑∏Î†§Ï§å
  - kind: bar, pie, hist, kde, box, scatter, area
  - xlim: xÏ∂ïÏùò ÏµúÏÜåÍ∞í~ÏµúÎåÄÍ∞íÏùÑ ÏÑ§Ï†ï
  - ylim: yÏ∂ïÏùò ÏµúÏÜåÍ∞í~ÏµúÎåÄÍ∞íÏùÑ ÏÑ§Ï†ï
  - figsize: ÌÅ¨Í∏∞Î•º Í≤∞Ï†ï
- **pd .scatter_matirx ( data, diagonal = " ", alpha = , figsize = ( , ))**: scatter matrixÍ∑∏Î¶¨Í∏∞!

### üìî Examples

In [ ]:
# .plot
## ÏòàÏ†ú1
no2['BASCH'].plot(kind='hist', bins=50)

## ÏòàÏ†ú2
no2.plot(figsize=(20,6))

## ÏòàÏ†ú3
no2[-500:].plot(figsize=(12,6))        # Í∞ÄÏû• ÏµúÍ∑º 500Í∞ú Îç∞Ïù¥ÌÑ∞Îßå Î∂àÎü¨Ïò§Í∏∞

## ÏòàÏ†ú4
df.plot(kind='box', ylim=[0,250])

## ÏòàÏ†ú5, ÏãúÍ≥ÑÏó¥, time series
data['1999':].resample('M').mena().plot(ylim=[0,120])

In [ ]:
# ÏõêÌïòÎäî Data ÎΩëÍ∏∞
fig, ax = plt.subplots()
data.loc['2011':'2012', 'L06_347'].resample('M').mean().plot(ax=ax)
data.loc['2011':'2012', 'L06_347'].resample('M').median().plot(ax=ax)
ax.legend(["mean", "median"])

# Ïù¥Î†áÍ≤åÎèÑ Í∞ÄÎä•!
data.loc['2011':'2012', 'L06_347'].resample('M').agg(['mean', 'median']).plot()

In [ ]:
# ÏõêÌïòÎäî dataÎßå ÎΩëÏïÑÏÑú Í∞ÄÎ°ú bar plot Í∑∏Î¶¨Í∏∞
fig, ax = plt.subplots()
data['2013'].mean().plot(kind='barh', ax=ax)

## üîé Pandas with Regular Expression

[Ï†ïÍ∑úÏãùÏùÄ Ïó¨Í∏∞ Ï∞∏Ï°∞!](https://wikidocs.net/4308)
> Î¨∏Ïûê ÌÅ¥ÎûòÏä§ [ ]
- [ ]ÏÇ¨Ïù¥Ïùò Î¨∏ÏûêÎì§Í≥º Îß§ÏπòÌïòÎùºÎäî ÏùòÎØ∏
- [ ]ÏïàÏùò Îëê Î¨∏Ïûê ÏÇ¨Ïù¥Ïóê ÌïòÏù¥Ìîà(-)ÏùÑ ÏÇ¨Ïö©ÌïòÎ©¥ Îëê Î¨∏Ïûê ÏÇ¨Ïù¥Ïùò Î≤îÏúÑÎ•º ÏùòÎØ∏Ìï®
- [a-zA-Z]: ÏïåÌååÎ≤≥ Î™®Îëê
- [0-9]: Ïà´Ïûê Î™®Îëê

> .
- . Î©îÌÉÄ Î¨∏ÏûêÎäî Ï§ÑÎ∞îÍøà Î¨∏ÏûêÏù∏ \nÏùÑ Ï†úÏô∏Ìïú Î™®Îì† Î¨∏ÏûêÏôÄ Îß§ÏπòÌï®ÏùÑ ÏùòÎØ∏

> *
- Ï†ïÍ∑úÌëúÌòÑÏãùÏùò *ÏùÄ * Î∞îÎ°ú ÏïûÏóê ÏûàÎäî Î¨∏ÏûêÍ∞Ä 0Î∂ÄÌÑ∞ Î¨¥ÌïúÎåÄÎ°ú Î∞òÎ≥µÎê† Ïàò ÏûàÎã§Îäî ÏùòÎØ∏

> +
- +Îäî ÏµúÏÜå 1Î≤à Ïù¥ÏÉÅ Î∞òÎ≥µÎê† Îïå ÏÇ¨Ïö©ÌïúÎã§. Ï¶â *Í∞Ä Î∞òÎ≥µ ÌöüÏàò 0Î∂ÄÌÑ∞ÎùºÎ©¥ +Îäî Î∞òÎ≥µ ÌöüÏàò 1Î∂ÄÌÑ∞Ïù∏ Í≤ÉÏù¥Îã§.

> {m,n}
- mÌöåÏóêÏÑú nÌöåÍπåÏßÄÎßå Î∞òÎ≥µÎê®ÏùÑ ÏùòÎØ∏

> ?
- Î∞òÎ≥µÏù¥ Îê†ÏàòÎèÑ, ÏïàÎê†ÏàòÎèÑ ÏûàÎã§Îäî ÏùòÎØ∏. {0,1}Í≥º Í∞ôÏùÄ Ïö©ÎèÑ

> $
- Î¨∏ÏûêÏó¥Ïùò ÎßàÏßÄÎßâÏùÑ ÏùòÎØ∏.

### üìî Examples

In [ ]:
# Ï¢ÖÎ™©Î≤àÌò∏Ïóê K ÎòêÎäî LÏù¥ Îì§Ïñ¥Í∞Ñ Ï£ºÏãùÏùÑ Ï∞æÍ≥† Ïã∂Îã§Î©¥
df[df['Ï¢ÖÎ™©Î≤àÌò∏'].str.contains('[KL]', regex=True)]

In [ ]:
# ÏΩîÎ°ú ÏãúÏûëÌï¥ÏÑú ÌîºÎ°ú ÎÅùÎÇòÎäî Í≤ÉÏùÑ Ï∞æÍ≥† Ïã∂Îã§Î©¥
df[df['ÏãúÏû•Íµ¨Î∂Ñ'].str.contains('ÏΩî.Ìîº', regex=True)]

In [ ]:
# ÏºÄÏù¥ÌïòÍ≥† Ïî®Í∞Ä Î∞òÎ≥µÎêòÎäî Í≤ÉÏùÑ Ï∞æÍ≥† Ïã∂ÏúºÎ©¥
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('ÏºÄÏù¥Ïî®*', regex=True)]

# ÏºÄÏù¥Ïî®Í∞Ä Î∞òÎ≥µÎêòÎäî Í≤ÉÏùÑ Ï∞æÏúºÎ†§Î©¥
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('(ÏºÄÏù¥Ïî®)*', regex=True)]

In [ ]:
# Ï¢ÖÎ™© Ï§ëÏóêÏÑú 'ÏºÄÏù¥'ÌïòÍ≥† 'Ïî®'Í∞Ä 1Î≤à Ïù¥ÏÉÅ Î∞òÎ≥µÎêòÎäî Ï¢ÖÎ™©Îì§
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('ÏºÄÏù¥Ïî®+', regex=True)]

In [ ]:
# 'ÏºÄÏù¥' Îí§Ïóê 'Ïî®'Í∞Ä 2Î≤à Î∞òÎ≥µÌïòÎäî Í≤ÉÏùÑ Ï∞æÍ∏∞
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('ÏºÄÏù¥Ïî®{2}', regex=True)]

In [ ]:
# 'Ïä§'Î°ú ÎÅùÎÇòÎäî Ï¢ÖÎ™©ÏùÑ Ï∞æÍ∏∞
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('Ïä§$', regex=True)]

In [ ]:
# Ï¢ÖÎ™© Ï§ëÏóêÏÑú 'Ïö∞'Î°ú ÎÅùÎÇòÍ±∞ÎÇò 'Ïö∞' Îí§Ïóê 1Í∏ÄÏûêÍ∞Ä Îçî Î∂ôÏùÑ Îïå
df[df['Ï¢ÖÎ™©Î™Ö'].str.contains('Ïö∞.?$', regex=True)]

## üîé Groupby, Pivot table, crosstab

> groupbyÎûÄ?  
- ÏÇ¨Ïö©ÏûêÍ∞Ä Ìñâ Ïù∏Îç±Ïä§, Ïó¥ Ïù∏Îç±Ïä§Î°ú ÏÇ¨Ïö©ÌïòÏó¨ Ìï¥ÎãπÌïòÎäî Îç∞Ïù¥ÌÑ∞ Î∞òÌôò

- **.groupby ( key ) [ column ] .operation( )**: GroupbyÏùò Í∏∞Î≥∏ Î¨∏Î≤ï
- **.groupby ( key , as_index = Falese ) [ column ] .operation( )**: Ïù¥Îü¨Î©¥ index ÏÑ§Ï†ïÏùÑ ÎßâÏùÑ Ïàò ÏûàÏùå
- **.groupby ( key ) [ [ column ] ] .operation( )**	Groupby Í≤∞Í≥ºÎ•º DataframeÏúºÎ°ú Î≥¥Í∏∞
- **.groupby ( ' key ' ) .aggregate ( )**: aggregate ÏïàÏóê ÏõêÌïòÎäî Î∂ÑÏÑù Î©îÏÜåÎìúÎ•º ÎÑ£ÏùÑ Ïàò ÏûàÏùå e.g) np.sum
- **.groupby ( [ ' key1 ' , ' key2 ' ] ) .agg([oper1] )**: aggÏóê ÏõêÌïòÎäî Î∂ÑÏÑù Î©îÏÜåÎìúÎ•º ÎÑ£ÏùÑ Ïàò ÏûàÏùå

  **.agg([oper1, oper2, oper3]**: operationÏùÑ ÎßéÏù¥ ÎÑ£Í≥† Ïã∂ÏúºÎ©¥ Ïù¥Î†áÍ≤å ÌïòÎ©¥ Îê®!
- **.groupby ( [ ' value ' , ' value2 ' ] ) .agg ( { ' column1 ' : oper1, ' column2 ': oper2, ' column3 ' : oper3 } )**: Í∞ÅÍ∞Å Îã§Î•∏ columnÏóê func, operationÏùÑ Îã§Î•¥Í≤å ÌïòÍ≥† Ïã∂ÏùÑ Îïå

 **.groupby ( [ ' value1 ' , ' value2 ' ] ) .agg ( { ' column1 ' : oper1 , ' column2 ': oper2, ' column3 ' : [oper3, ' oper4 ', oper5] } )**: Ïó¨Îü¨ Í∞ú operationÏùÑ ÎÑ£Í≥† Ïã∂ÏúºÎ©¥ Ïù¥Î†áÍ≤å ÌïòÎ©¥ Îê®!
 
 **.groupby ( ' key ' ) .agg ( { "column" :  [oper1 , oper2 ] } )**: Í∞ÑÎã®ÌïòÍ≤å Ï†ïÎ¶¨ÌïòÎ©¥ ÏöîÎ°úÎ°úÏΩ§!
 
- **.unstack( )**: dataframeÏúºÎ°ú ÎßåÎì§Ïñ¥Ï§å
- **.stack( )**: dataframeÏùÑ Î∂ÄÏà®
- **.swaplevel()**: ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ¶¨
- **.sort_values()**: valueÎ•º ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ¶¨

  **.sort_values(by=['column1', 'column2'], ascending=False)**: sort_valueÏóêÏÑú columnÏùÑ ÏßÄÏ†ïÌï¥Ï§Ñ Ïàò ÏûàÍ≥† ascendingÏùÑ falseÎ°ú Ìï¥ÏÑú ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ¶¨Í∞ÄÎä•
- **.sort_index()**: index ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ¶¨
- **.transform(func)**: valueÎ•º funcÏóê Îî∞ÎùºÏÑú Î≥ÄÌôò
- **.filter(func)**: funcÏóê ÎßûÎäî valueÎßå Î∞òÌôò
- **.droplevel ( level = )**: levelÏùÑ dropÌïúÎã§.


> Pivot table, crosstab  
- Îëê Í∞úÏùò Ïó¥ÏùÑ Ìñâ index, Ïó¥ indexÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÌëúÎ°ú ÎÇòÌÉÄÎÇ∏ Í≤É.

- **pivot_table ( data, index = None, columns = None, values = None, aggfunc = ' mean ', fill_value = None, margins = False, margins_name = ' All ')**
  - data: Î∂ÑÏÑùÌï† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ (Î©îÏÑúÎìúÏùº ÎïåÎäî ÌïÑÏöîÌïòÏßÄ ÏïäÏùå)
  - values: Î∂ÑÏÑùÌï† Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú Î∂ÑÏÑùÌï† Ïó¥
  - index: Ìñâ Ïù∏Îç±Ïä§Î°ú Îì§Ïñ¥Í∞à ÌÇ§ Ïó¥ ÎòêÎäî ÌÇ§ Ïó¥Ïùò Î¶¨Ïä§Ìä∏
  - columns: Ïó¥ Ïù∏Îç±Ïä§Î°ú Îì§Ïñ¥Í∞à ÌÇ§ Ïó¥ ÎòêÎäî ÌÇ§ Ïó¥Ïùò Î¶¨Ïä§Ìä∏
  - aggfunc: Î∂ÑÏÑù Î©îÏÑúÎìú
  - fill_value: NaN ÎåÄÏ≤¥ Í∞í
  - margins: Î™®Îì† Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌïú Í≤∞Í≥ºÎ•º Ïò§Î•∏Ï™ΩÍ≥º ÏïÑÎûòÏóê Î∂ôÏùºÏßÄ Ïó¨Î∂Ä
  - margins_name: ÎßàÏßÑ Ïó¥(Ìñâ)Ïùò Ïù¥Î¶Ñ

- **.pivot_table ( [ 'Title' ], index = , columns = , aggfunc = ' ', fill_value = )**: pivot table ÎßåÎì§Í∏∞

  **.pivot_table ( [ 'Title' ], index = , columns = , values = , aggfunc = ' ' )**: pivot table ÎßåÎì§Í∏∞
- **pd .met ( )**: pivot tableÏùÑ pivotÌïòÍ∏∞ Ï†Ñ ÏõêÎûòÏùò ÌòïÌÉúÎ°ú ÎèåÎ†§Ï§ÄÎã§.

- **pd.crosstab ( index, columns, values = , aggrunc = )**: crosstab ÎßåÎìúÎäî Í∏∞Î≥∏ Í≥µÏãù

### üìî Examples

In [ ]:
# pd.melt
pd.melt(pivoted)

In [ ]:
# groupby
users.groupby('gender')['age'].mean()

In [ ]:
# groupby
df.groupby(["Student", "Active"]).size().unstack()

In [ ]:
# groupby
df.groupby(['Pclass', 'Sex'])['Survived'].mean()

In [ ]:
# groupby
users.groupby('gender')[['age']].mean()

In [ ]:
# groupby
df.groupby('key').aggregate(np.sum)

In [ ]:
# groupby, aggregate
def ratio(x):
 			       return x.sum() / x.count()
df.groupby('Sex')['Survived'].aggregate(ratio)

In [ ]:
# groupby, agg
df.groupby('A').agg(['min', 'max'])

In [ ]:
# groupby, agg
df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

In [ ]:
# groupby, agg
df_movie.groupby(["critic","title"]).agg({"rating":"first"}).unstack().fillna(0)

In [ ]:
# groupby, agg
grouped = abalone.groupby(['sex', 'length_cat'])

function_list = ['size', 'mean', 'std']

groupby_result = grouped['whole_weight', 'shell_weight'].agg(function_list)

groupby_result

In [ ]:
# transform
score = lambda x: (x - x.mean()) / x.std()
grouped.transform(score)

In [ ]:
# filter
df.groupby('Team').filter(lambda x: len(x) >= 3)

In [ ]:
# filter
df.groupby('Team').filter(lambda x: x["Points"].max() > 800)

In [ ]:
# Ïó¨Îü¨ columnÍ≥º Í∑∏Ïóê Îî∞Î•∏ Îã§Î•∏ Ìï®ÏàòÍ∞Ä Ïò¨ Ïàò ÏûàÍ≤å ÌïòÍ∏∞
df_phone.groupby(['month', 'item']).agg({'duration':sum,      # find the sum of the durations for each group
                                     'network_type': "count", # find the number of network type entries
                                     'date': 'first'})    # get the first date per group

In [ ]:
# Ïó¨Îü¨ Í∞ú column, operation ÎÑ£Í∏∞
df_phone.groupby(['month', 'item']).agg({'duration': [min],      # find the min, max, and sum of the duration column
                                     'network_type': "count", # find the number of network type entries
                                     'date': [min, 'first', 'nunique']})    # get the min, first, and number of unique dates

In [ ]:
# pivot table ÎßåÎì§Í∏∞
df.pivot_table ( [ "title" ] ,
                index = [ df.column1, df.columns2 ] ,
                columns = df.column3, aggfunc = "sum", fill_value = 0)

In [ ]:
# pivot example
## ÏòàÏ†ú1
df.pivot(index='Pclass', columns='Sex', values='Fare')

## ÏòàÏ†ú2
df.pivot_table(index='Sex', columns='Pclass', values='Fare', aggfunc='count')

## ÏòàÏ†ú3
df.pivot_table(index='Pclass', columns='Sex', values='Survived', aggfunc='mean')

In [ ]:
# groupby, reset_index(), sort_values(by=), ascending=Flase
merge_df.groupby(["status","name_x"])["quantity","ext price"].sum().reset_index().sort_values(
    by=["status","quantity"], ascending=False)

## üîé Merge, Concat, Append

> MergeÎûÄ?
- ÏúÑ Í∑∏Î¶ºÏùÄ Ïó¨Îü¨Í∞ÄÏßÄ mergeÏùò Î∞©Î≤ïÏóê ÎåÄÌï¥ ÎÇòÌÉÄÎÇ∏ Í∑∏Î¶ºÏûÖÎãàÎã§. <br>
- ÌïòÎÇòÏùò columnÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îëê dataframeÏùÑ ÌïòÎÇòÎ°ú Ìï©Ïπ† Îïå
- <font color = '#d9544d'>ÌïúÏ™ΩÏóêÎßå Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Ïñ¥ÎñªÍ≤å Ï≤òÎ¶¨Ìï† Í≤ÉÏù∏Í∞Ä</font>Ïóê Îî∞Îùº Í∑∏ Í≤∞Í≥ºÍ∞Ä Îã¨ÎùºÏßëÎãàÎã§. <br>
- <br>
- ÏòàÎ•º Îì§Ïñ¥ scoresÏôÄ yearsÎ•º 'name' columnÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÏπúÎã§Í≥† Ìï† Îïå, <br>
- scoresÎÇò years Ï§ë Ìïú Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÎßå Ï°¥Ïû¨ÌïòÎäî ÏÇ¨Îûå(ÏßÄÌö®, ÏØîÏúÑ)ÏùÑ Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ïÏóê Îî∞Îùº <br>
- mergeÏùò Ï¢ÖÎ•òÍ∞Ä Ï†ïÌï¥ÏßëÎãàÎã§.<br>
- <br>
- ÏïÑÎûòÎäî Í∑∏ ÏòàÏãúÏûÖÎãàÎã§. <br>
- howÎäî mergeÏùò Î∞©Î≤ï, onÏùÄ Í∏∞Ï§ÄÏù¥ ÎêòÎäî column Ïù¥Î¶ÑÏùÑ ÎÇòÌÉÄÎÉÖÎãàÎã§. <br>
![join](https://letsdobigdata.files.wordpress.com/2016/03/joins.png)
 - pd.merge(df1, df2, on='Í≥†Í∞ùÎ™Ö')
 
- **pd.merge ( df1 , df2 , on = ' column name ' )**: Í∞ÄÏû• basicÌïú merge Í≥µÏãù
   
   **pd.merge ( df1 , df2 , on = ' column name ' , how = ' ' )**: Ïó¨Í∏∞ÏÑú howÎûÄ?
     - left, right: Í∏∞Ï§ÄÏù¥ ÎêòÎäî dataframe(df1 or df2)Î•º Ï†ïÌïòÎäî Í≤É
     - outer: Îëê dataframe Ï§ë Ïñ¥Îäê Ìïú Í≥≥Ïóê Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞ 
     - inner: Îëê dataframeÏóê Î™®Îëê Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞
 
 
 
 > ConcatÏù¥ÎûÄ?
 - concatenateÏùò Ï§ÑÏûÑÎßêÎ°ú ÏÑúÎ°ú Îã§Î•∏ ÎëêÍ∞úÏùò dataframeÏùÑ ÏïÑÎûòÎ°ú Ïù¥Ïñ¥Î∂ôÏùº Îïå ÏÇ¨Ïö©
 - appendÏôÄ Ïú†ÏÇ¨ÌïòÎã§
 
 - **pd.concat ( [ df1 , df2 ] ) .reset_index ( )**: Ïù¥Î†áÍ≤å concatÌïòÎ©¥ Îê®
 
   **pd.concat ( [ df1 , df2 ] , axis = 1 )**: Ïù¥Î†áÍ≤å ÌïòÎ©¥ Ïó¥ ÏòÜÏúºÎ°ú Î∂ôÏûÑ. Îö±Îö±Ìï¥Ïßê
 - **df1.append ( df2, ignore_index = True)**: Ïù¥Î†áÍ≤å appendÌïòÎ©¥ Îê®

### üìî Examples

In [ ]:
# crosstab
pd.crosstab(df_train['Title'], df_train['Sex']).T.style.background_gradient(cmap='summer_r')

In [ ]:
# inner join - Îëê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóê Î™®Îëê Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞Îßå
scores.merge(years, how='inner', on='name')

In [ ]:
# left join - scoresÏóê Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞ Í∏∞Ï§Ä
scores.merge(years, how='left', on='name')

In [ ]:
# right join - yearsÏóê Ï°¥Ïû¨ÌïòÎäî Îç∞Ïù¥ÌÑ∞ Í∏∞Ï§Ä
scores.merge(years, how='right', on='name')

In [ ]:
# full join - Îëê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ï§ë Ïñ¥Îäê Ìïú Í≥≥Ïóê Ï°¥Ïû¨ÌïòÎäî 
scores.merge(years, how='outer', on='name')

**Q. Îëê dataframeÏùò key columnÎ™ÖÏù¥ Îã§Î•∏ Í≤ΩÏö∞Îäî Ïñ¥ÎñªÍ≤å Ìï†ÍπåÏöî?**

(key columnÏùÄ Í∏∞Ï§ÄÏù¥ ÎêòÎäî columnÏùÑ ÎßêÌï©ÎãàÎã§.) <br>
ÏòàÎ•º Îì§Ïñ¥ yearsÏùò 'name' column Ïù¥Î™ÖÏùÑ Î∞îÍøî years1 Î°ú Ï†ÄÏû•Ìï¥Î≥¥Í≤†ÏäµÎãàÎã§. <br>
Ïù¥Îïå 'on' ÎåÄÏã†Ïóê 'left_on'Í≥º 'right_on'ÏùÑ ÏÇ¨Ïö©ÌïòÎ©¥ Îê©ÎãàÎã§.

In [ ]:
years1 = years.rename(columns={'name':'Ïù¥Î¶Ñ'})
scores.merge(years1, left_on="name", right_on="Ïù¥Î¶Ñ", how="inner")

## üîé Dealing with Time series data


> ÏãúÍ∞Ñ ÏàúÏÑúÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞Îì§. 'datatime', 'dateutil' moduleÏùÑ ÏÇ¨Ïö©ÌïúÎã§.
  - datatime: ÏÇ¨Ïö©ÏûêÍ∞Ä ÌòïÏãù Î¨∏ÏûêÏó¥ÏùÑ Ï†úÍ≥µÌï¥Ïïº ÌïòÏßÄÎßå
  - dateutil: ÏûêÎèôÏúºÎ°ú ÌòïÏãù Î¨∏ÏûêÏó¥ÏùÑ Ï∞æÏïÑÏÑú datetime.datetime ÌÅ¥ÎûòÏä§ Í∞ùÏ≤¥Î•º ÏÉùÏÑ±

- **datetime .datetime ( year = , month = , day = , hour = , minute = , seconde = , microsecond = )**: ÏãúÍ∞Ñ ÏÑ§Ï†ïÌïòÍ∏∞
- **.weekday ( )**: ÏöîÏùº Î∞òÌôò (0:Ïõî, 1:Ìôî, 2:Ïàò, 3:Î™©, 4:Í∏à, 5:ÌÜ†, 6:Ïùº)
- **.strftime()**: Î¨∏ÏûêÏó¥Î°ú Î∞îÍøîÏ§ÄÎã§!
  - %Y:	Ïó∞ÎèÑ 
  - %m:	Ïõî 
  - %d:	Ïùº 
  - %H:	ÏãúÍ∞Ñ 
  - %M:	Î∂Ñ 
  - %S:	Ï¥à 
  - %A:	ÏöîÏùº
  - %B:	Ïõî 
- **df .column .apply ( dateutil .parser .parse, dayfirst = True )** : ÏãúÍ∞Ñ Îç∞Ïù¥ÌÑ∞Î°ú Î≥ÄÌôòÌï¥Ï£ºÍ∏∞
 
  **pd.to_datetime(df.column)**: Ïù¥Î†áÍ≤å Î∞îÍøîÏ§Ñ ÏàòÎèÑ ÏûàÏùå
- **df .groupby ( ' time ' ) [ ' columns ' ] .operation( )**: dateutilÏùÑ Ìïú Îã§ÏùåÏóêÎäî Ïù¥Ï†ú timeÏóê date, month, year Îì±ÏúºÎ°ú groupby Í∞ÄÎä•
- **datetime.timedelta (days = , seconds = )**: 
  - .days: ÏùºÏàò
  - .seconds: Ï¥à
  - .microseconds: ÎßàÏù¥ÌÅ¨Î°úÏ¥à
  - .total_seconds(): Î™®Îì† ÏÜçÏÑ±ÏùÑ Ï¥àÎã®ÏúÑÎ°ú ÌôòÏÇ∞
- **pd.Timestamp()**: time stampÎ•º Î∞òÌôò
- **pd .to_datetime ( " YYYY - MM - DD ", dayfist = True, formot = )**: datetimeÏúºÎ°ú Î∞îÍøîÏ§å, dayfirstÎ•º trueÎ°ú ÌïòÎ©¥ Ï†úÏùº Ï≤òÏùåÏóê ÎÇòÏò§Îäî strÎ•º dayÎ°ú Ïù∏Ïãù. formatÏùÄ .strftime ÌòïÏãùÏóê ÎßûÏ∂îÎ©¥ Í∞ÄÎä•
- **.dt.hour**: ÏãúÍ∞ÑÏùÑ Î∞òÌôò
- **.day**: ÎÇ†ÏßúÎ•º Î∞òÌôò
- **.dayofyear**: 1ÎÖÑ Îã®ÏúÑÎ°ú ÎÇ†ÏßúÎ•º Î∞òÌôò
- **.year**: Ïó∞ÎèÑÎ•º Î∞òÌôò
- **.dt.weekday**: ÏöîÏùºÏùÑ Î∞òÌôò

  **.dt.day_name()**: ÏöîÏùºÏùÑ Î∞òÌôò
- **pd .date_range ( start = "YYYY-MM-DD", periods = , freq = ' ' )**: ÏãúÍ∞ÑÎåÄÎ•º ÎßåÎì§Ïñ¥Ï§Ñ ÏàòÎèÑ ÏûàÏùå!!!

  **pd .date_range ( " YYYY-MM-DD " : " YYYY-MM-DD " )**: Ïù¥Î†áÍ≤å ÎßåÎì§Ïñ¥Ï§Ñ ÏàòÎèÑ ÏûàÏùå!
- **df [ ' time_stamp1 ' : ' time_stamp2 ' ]**: time series dataÏóêÏÑú data Í≥®ÎùºÏò§Îäî Ìé∏Ìïú Î∞©Î≤ï! time data indexing
  
  **df [ ' 20xx ' ]**: Ïù¥Í≤å Îçî Ìé∏Ìï®
- **.between_time ( ' time1 ' , ' time2 ' )**: time1~time2ÍπåÏßÄÏùò Îç∞Ïù¥ÌÑ∞Î•º ÎΩëÏïÑÏ§å
- **resample()**: ÏßÄÏ†ïÌï¥Ï§Ä time frequencyÎåÄÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ïû¨Î∞∞Ïó¥ÌïúÎã§.
  - 'D': Ïùº Îã®ÏúÑ
  - 'W': Ï£º Îã®ÏúÑ
  - 'M': Ïõî Îã®ÏúÑ
  - 'Y', 'A': Ïó∞ Îã®ÏúÑ
  - 'H': ÏãúÍ∞Ñ Îã®ÏúÑ
  - 'T': Î∂Ñ Îã®ÏúÑ
  - 'S': Ï¥à Îã®ÏúÑ
  - '10T': 10Î∂Ñ Îã®ÏúÑ

### üìî Examples

In [ ]:
srs

2021-01-01   -0.501085
2021-01-02    1.439763
2021-01-03    1.054725
2021-01-04    0.017595
2021-01-05    0.468109
                ...
2021-03-17   -1.021388
2021-03-18    0.395117
2021-03-19   -0.545944
2021-03-20    0.994538
2021-03-21   -0.183844
Freq: D, Length: 80, dtype: float64

In [ ]:
rng = pd.date_range('20210101', periods=80)
srs = pd.Series(np.random.randn(len(rng)), rng)
srs.to_period()

2021-01-01   -0.501085
2021-01-02    1.439763
2021-01-03    1.054725
2021-01-04    0.017595
2021-01-05    0.468109
                ...
2021-03-17   -1.021388
2021-03-18    0.395117
2021-03-19   -0.545944
2021-03-20    0.994538
2021-03-21   -0.183844
Freq: D, Length: 80, dtype: float64

In [ ]:
# day_name() ÏòàÏãú
train["datetime-dayofweek"] = train["datetime"].dt.day_name()

In [ ]:
# datetime
dt = datetime.datetime(year=2016, month=12, day=19, hour=13, minute=30)
print(dt)

2016-12-19 13:30:00

In [ ]:
# weekday
print(dt.weekday())

0

In [ ]:
# strftime
print(dt.strftime("%d %B %Y"))

19 December 2016

In [ ]:
print(dt.strftime("%d %B %Y"))

19 December 2016

In [ ]:
df_phone['date'] = df_phone['date'].apply(dateutil.parser.parse, dayfirst=True)
df_phone.head()

In [ ]:
# Ï°∞Í±¥Ïóê ÎßûÎäî Îç∞Ïù¥ÌÑ∞ groupbyÌïòÍ∏∞
df_phone[df_phone['item'] == 'call'].groupby('month')['duration'].sum()

In [ ]:
# ÏõêÌïòÎäî ÌòïÌÉúÎ°ú groupbyÌïòÍ∏∞. date, count
df_phone.groupby(['month', 'item'])['date'].count().unstack()

In [ ]:
# 
df_phone.groupby('month', as_index=False).agg({"duration": "sum"})

In [ ]:
# Ïó¨Îü¨ columnÍ≥º Í∑∏Ïóê Îî∞Î•∏ Îã§Î•∏ Ìï®ÏàòÍ∞Ä Ïò¨ Ïàò ÏûàÍ≤å ÌïòÍ∏∞
df_phone.groupby(['month', 'item']).agg({'duration':sum,      # find the sum of the durations for each group
                                     'network_type': "count", # find the number of network type entries
                                     'date': 'first'})    # get the first date per group

In [ ]:
# Ïó¨Îü¨ Í∞ú column, operation ÎÑ£Í∏∞
df_phone.groupby(['month', 'item']).agg({'duration': [min],      # find the min, max, and sum of the duration column
                                     'network_type': "count", # find the number of network type entries
                                     'date': [min, 'first', 'nunique']})    # get the min, first, and number of unique dates

In [ ]:
# parse
parse('2016-04-16')

datetime.datetime(2016, 4, 16, 0, 0)

In [ ]:
# parse
parse("Apr 16, 2016 04:05:32 PM")

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [ ]:
# timedelta
dt1 = datetime.datetime(2016, 2, 19, 14)
dt2 = datetime.datetime(2016, 1, 2, 13)
td = dt1 - dt2

In [ ]:
# timedelta
td.days, td.seconds, td.microseconds

(48, 3600, 0)

In [ ]:
# timedelta
to_date

datetime.datetime(2018, 11, 30, 14, 0)

In [ ]:
# Timestamp
ts = pd.Timestamp('2016-12-19')
print(ts.month)
print(ts + pd.Timedelta('5 days'))

12
2016-12-24 00:00:00

In [ ]:
td.days

48

In [ ]:
# .to_datetime
## ÏòàÏ†ú1
pd.to_datetime(df.col1)

## ÏòàÏ†ú2
pd.to_datetime("2016-12-09")

## ÏòàÏ†ú3
pd.to_datetime("09/12/2016", format="%d/%m/%Y")

## ÏòàÏ†ú4
data['Time'] = pd.to_datetime(data['Time'])

In [ ]:
# pd.date_range
pd.Series(pd.date_range(start="2016-01-01", periods=10, freq='3H'))

0   2016-01-01 00:00:00
1   2016-01-01 03:00:00
2   2016-01-01 06:00:00
3   2016-01-01 09:00:00
4   2016-01-01 12:00:00
5   2016-01-01 15:00:00
6   2016-01-01 18:00:00
7   2016-01-01 21:00:00
8   2016-01-02 00:00:00
9   2016-01-02 03:00:00
dtype: datetime64[ns]

In [ ]:
# pd.date_range
pd.date_range("2018-4-1", "2018-4-30")
pd.date_range(start="2018-4-1", periods=30)

In [ ]:
# columnÏùÑ datetimeÏúºÎ°ú Î≥ÄÌòïÌïòÍ∏∞
data = pd.read_csv("data/flowdata.csv")

In [ ]:
# 1Ïõî Îç∞Ïù¥ÌÑ∞Îßå Î∂àÎü¨Ïò§Í∏∞
data[data.index.month == 1]

In [ ]:
# ÏõêÌïòÎäî month Îç∞Ïù¥ÌÑ∞Îßå Î∂àÎü¨Ïò§Í∏∞  e.g 1,2,3Ïõî / .isin
data['months'] = data.index.month
data[data['months'].isin([1, 2, 3])]

In [ ]:
# resample
## ÏòàÏ†ú1
data.resample('D').mean().head()

## ÏòàÏ†ú2
data.resample('D').max().head()

## üîé Save and Read as Different Data Form

- Ï†ÑÎ∞òÏ†ÅÏúºÎ°ú FeatherÍ∞Ä Îç∞Ïù¥ÌÑ∞ Ïö©Îüâ, Ï†ÄÏû•ÏÜçÎèÑ, Î°úÎî©ÏÜçÎèÑ Îì±ÏóêÏÑú performanceÍ∞Ä Ï†úÏùº Ï¢ãÎã§. 
  (Among CSV, Feather, HDF, messagePack, Parquet, Pickle)
- StringÏùÑ Ï†ÑÎ∂Ä CategoricalÎ°ú Î∞îÍæ∏Î©¥ ÏÑ±Îä•Ïù¥ Îçî Ï¢ãÎã§.

> Feather
- **.to_feather**: Save as Feather
- **.read_feather**: Read feather file

> SAS
- **.read_sas( )**: Read SAS file

### üìî Examples

In [ ]:
# Save as Feather
df.to_feather("df.ftr")

In [ ]:
pd.read_feather("df.ftr", use_threads=True)

In [ ]:
df = pd.read_sas("sas_data.sas7bdat")

## üîé Optimize speed and memory

<h3> Performance Comparision Table </h3>

![](https://miro.medium.com/max/1400/1*p4zjrqG97C4bFmOXU5UQog.png)

In [ ]:
# Crude looping
def haversine_looping(df):
    distance_list = []
    for i in range(0, len(df)):
        d = haversine(40.671, -73.985, df.iloc[i]['latitude'], df.iloc[i]['longitude'])
        distance_list.append(d)
    return distance_list

df['distance'] = haversine_looping(df)

# Looping with  iterrows()
haversine_series = []
for index, row in df.iterrows():
    haversine_series.append(haversine(40.671, -73.985, row['latitude'], row['longitude']))
df['distance'] = haversine_series

# Looping with apply()
df['distance'] = df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis=1)
%lprun -f haversine df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis=1)

# Vectorization with Pandas series
df['distance'] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

# Vectorization with NumPy arrays
df['distance'] = haversine(40.671, -73.985, df['latitude'].values, df['longitude'].values)

<h3> Memory Optimization</h3>

- Codes below are column optimizating code that can reduce memory.

In [ ]:
import pandas as pd
from typing import List


def optimize_floats(df: pd.DataFrame) -> pd.DataFrame:
    floats = df.select_dtypes(include=['float64']).columns.tolist()
    df[floats] = df[floats].apply(pd.to_numeric, downcast='float')
    return df


def optimize_ints(df: pd.DataFrame) -> pd.DataFrame:
    ints = df.select_dtypes(include=['int64']).columns.tolist()
    df[ints] = df[ints].apply(pd.to_numeric, downcast='integer')
    return df


def optimize_objects(df: pd.DataFrame, datetime_features: List[str]) -> pd.DataFrame:
    for col in df.select_dtypes(include=['object']):
        if col not in datetime_features:
            num_unique_values = len(df[col].unique())
            num_total_values = len(df[col])
            if float(num_unique_values) / num_total_values < 0.5:
                df[col] = df[col].astype('category')
        else:
            df[col] = pd.to_datetime(df[col])
    return df



def optimize(df: pd.DataFrame, datetime_features: List[str] = []):
    return optimize_floats(optimize_ints(optimize_objects(df, datetime_features)))
view rawadvanced-pandas-memory-methods.py hosted with ‚ù§ by GitHub

<h3> Merge or Lookup</h3>

- Since pandas has optimized operations based on indices, using index will improve speed in lookup or merging tables.  
- Set primary key as index and using .at methods for lookup performs best.

In [ ]:
%%timeit
listings.merge(reviews, on='listing_id')
# 439 ms ¬± 24.5 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

%%timeit
reviews_ = reviews.set_index('listing_id')
listings_ = listings.set_index('listing_id')
listings_.merge(reviews_, left_index=True, right_index=True)
# 393 ms ¬± 17.4 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [ ]:
listings = listings.set_index('listing_id', drop=False)

%%timeit
listings.loc[29844866, 'name']
# 10.1 ¬µs ¬± 1.25 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100000 loops each)

%%timeit
listings.at[29844866, 'name']
# 5.34 ¬µs ¬± 474 ns per loop (mean ¬± std. dev. of 7 runs, 100000 loops each)

listings = listings.reset_index(drop=True)

%%timeit
listings.loc[listings['listing_id'] == 29844866, 'name']
# 593 ¬µs ¬± 30 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1000 loops each)

%%timeit 
listings.iloc[22529]['name']
# 252 ¬µs ¬± 45.9 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1000 loops each)

<h3> Vectorize Operations</h3>

- `for` loops are costly for reading and writing operations.  
- Examples below compare operation time using .iloc[ ], .iterrows( ), .loc[ ], .map( ), .apply( )

In [ ]:
# .iloc[]
%%timeit
norm_prices = np.zeros(len(listings,))
for i in range(len(listings)):
    norm_prices[i] = (listings.iloc[i]['price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 8.91 s ¬± 479 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

# iterrows()
%%timeit
norm_prices = np.zeros(len(listings,))
for i, row in listings.iterrows():
    norm_prices[i] = (row['price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 3.99 s ¬± 346 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

# .loc[]
%%timeit
norm_prices = np.zeros(len(listings,))
for i in range(len(norm_prices)):
    norm_prices[i] = (listings.loc[i, 'price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 408 ms ¬± 61.2 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

# .map()
%%timeit 
listings['norm_price'] = listings['price'].map(lambda x: (x - min_price) / (max_price - min_price))
# 39.8 ms ¬± 2.33 ms per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

# Vectorize
%%timeit
listings['norm_price'] = (listings['price'] - min_price) / (max_price - min_price)
# 1.76 ms ¬± 107 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)
view rawadvanced-pandas-operations.py hosted with ‚ù§ by GitHub

<h3> üìå REMEMBER </h3>

Before doing something with dataframe

- Step 1) Normalize dataframes and optimize column types
- Step 2) Merge Dataframes if necessary (Don't forget to use index when merging)
- Step 3) When doing operations, try using Numpy vectorization as possible, if not use .at method or map( )

### üìî Examples

- functionName(df.to_numpy()) is the fasttest!

In [ ]:
# Custom function without numba
%timeit df["col1_doubled"] = df["a"].apply(double_every_value_nonumba)  # noqa E501
1000 loops, best of 3: 797 us per loop

# Standard implementation (faster than a custom function)
%timeit df["col1_doubled"] = df["a"] * 2
1000 loops, best of 3: 233 us per loop

# Custom function with numba
%timeit df["col1_doubled"] = double_every_value_withnumba(df["a"].to_numpy())
1000 loops, best of 3: 145 us per loop

# ‚úèÔ∏è Tips collection

- Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ, Ïù∏Îç±Ïã± Îì±ÏúºÎ°ú ÏµúÏ†ÅÌôîÌïòÎäîÍ±∞ Î¨¥Ï°∞Í±¥ Í∏∞Ïñµ!
- applyÎäî numpy( )Î°ú Î∞îÍøîÏÑú Ìï®Ïàò ÏÜçÏóê df ÎÑ£Í∏∞
- atÏù¥ Ï†úÏùº Ï†ëÍ∑ºÏÜçÎèÑÍ∞Ä Îπ†Î•¥Îã§.
- pipe( )Î•º Ïç®ÏÑú ÏΩîÎìúÎäî ÌïúÏ§ÑÎ°ú ÍπîÎÅîÌûà!