---
# ğŸ“ Hyun's Code collection (Pandas) 
---

### <h3 align="right">ğŸ¥‡ Authored by <strong>Hyun</strong></h3>

# âœï¸  What is **Pandas**?

- PandasëŠ” ë°ì´í„° ì¡°ì‘ ë° ë¶„ì„ì„ ìœ„í•´ Python í”„ë¡œê·¸ë˜ë° ì–¸ì–´ë¡œ ì‘ì„±ëœ ì†Œí”„íŠ¸ì›¨ì–´ ë¼ì´ë¸ŒëŸ¬ë¦¬
- í–‰ê³¼ ì—´ë¡œ ì´ë£¨ì–´ì§„ ë°ì´í„° ê°ì²´ë¥¼ ë§Œë“¤ì–´ ë‹¤ë£° ìˆ˜ ìˆì–´ ë³´ë‹¤ ì•ˆì •ì ìœ¼ë¡œ ëŒ€ìš©ëŸ‰ì˜ ë°ì´í„°ë“¤ì„ ì²˜ë¦¬í•˜ëŠ”ë° ë§¤ìš° í¸ë¦¬í•œ ë„êµ¬
- ëŒ€ë”°ëŒ€ë”°ëŒ€ë”° ë§ì´ ì“°ì„

# âœï¸ Importing Libraries

In [ ]:
# Basic Setting
import openpyxl
import pandas as pd
from pandas import Series, DataFrame
import pandas_profiling

# Time Series Data
import calendar
import dateutil
from dateutil.parser import parse
import datetime

# tqdm thing
from tqdm.notebook import tqdm
import time

# row, column setting
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 200)

# âœï¸  Methods and Examples

## ğŸ” Basic Methods

- **pd. Series ( data , index= [ index names ] )**: series data ë§Œë“¤ê¸°
- **pd. DataFrame ( data , columns = [ " column1 " , " column2 " ] )**: dataframe ë§Œë“¤ê¸°
- **.array** : Change to array
- **.to_numpy( )** : Change to Numpy Array
- **np .asarray( <Dataframe> )** : Change to Numpy Array
- **series.name**: Show name for Series
- **series.rename( < New Name > )**: Rename Series's name attribute
- **type ( )**: typeì„ ë³´ì—¬ì¤Œ
- **.shape**: í•´ë‹¹ dataframeì˜ row, column ìˆ˜ë¥¼ ë°˜í™˜
- **.columns**: columnsë¥¼ ë³´ì—¬ì¤Œ 
- **.info ( )**: index, columns ê°¯ìˆ˜, type ë“±ì„ ë°˜í™˜
- **.dtypes**: Columnsë“¤ì˜ typeì„ ë³´ì—¬ì¤Œ
- ğŸŒŸ**.describe ( )**: ê¸°ìˆ í†µê³„ë¥¼ ë³´ì—¬ì¤Œ
- **.describe ( include = [ " object " ] )**: Categorial dataì˜ í†µê³„ë¥¼ ë³´ì—¬ì¤Œ
- **pandas_profiling.ProfileReport()**: pandas profiling ë³´ê¸°
- **.corr ( )**: ìƒê´€ê´€ê³„ë¥¼ ë³´ì—¬ì¤Œ
- **a.corrwith ( b )**: aì™€ bì˜ ìƒê´€ê´€ê³„ë¥¼ ë³´ì—¬ì¤Œ
- **.index**: indexë¥¼ ë³´ì—¬ì¤Œ
- **.values**: ê° indexì˜ value ê°’ë“¤ì„ ë³´ì—¬ì¤Œ
- **.tolist ( )**: ë°ì´í„° í”„ë ˆì„ì„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜
- **.to_dict ( )**: dataframeì„ dictionary í˜•íƒœë¡œ ë°˜í™˜
- **.sum ( )**: í•©
- **.mean ( )**: mean (Column perspective)
- ğŸŒŸ**.mean ( 1 )**: mean (row perspective)
- **.median ( )**: ì¤‘ì•™ê°’
- **.std ( )**: í‘œì¤€í¸ì°¨
- **.max ( )**: ìµœëŒ€ê°’
- **.min ( )**: ìµœì†Œê°’
- **.idxmin()** : return index of minimum value
- **.idxmax()** : return index of maximum value
- **.corr( )**: í”¼ì–´ìŠ¨ ìƒê´€ê³„ìˆ˜ êµ¬í•˜ê¸°
- **.DESCR**: ë°ì´í„° ëŒ€ëµì ì¸ ë¬˜ì‚¬
- **inplace=True**: ë°˜í™˜ ë°›ì§€ ì•Šê³  ë°ì´í„°í”„ë ˆì„ì„ ë°”ë¡œ ë³€í˜•í•˜ê²Œ í•˜ëŠ” ê²ƒ

- **divmod ( <pd.Sereis>, <num> ) **: Takes floor division and modulo operation at the same time. Return two-tuple

- **.eq()** : Same (==)
- **.ne()** : Different (!=)
- **.lt()** : less than (<)
- **.gt()** : greater than (>)
- **.le()** : less or equal (<=)
- **.ge()** : grater or equal (>=)

- **.to_numpy()**: numpy array í˜•íƒœë¡œ ë°”ê¿”ì¤€ë‹¤. ë‹¨ index, column labelì€ ì—†ìŒ.
- ğŸŒŸ**.sort_index(axis=1)**: Sort by columns
- ğŸŒŸ**.iat[ ]**: Fast iloc. Get Scalar value
- ğŸŒŸ**.at[ ]**: Fast loc. Get Scalar value

- **df .at[ dates[0], < Column > ] = 0**: Setting values by label
- **df .iat[ 1, 1 ] = 0**: Setting values by position

- **.cat** : Select series as Categorical values
- ğŸŒŸ**pd .Categorical( < Column Name > )**: Changing Column type to Categorical 

- **.insert( < Location >, < Column Name >, < Column Value > )**: How to insert new column using insert method

- **pd .set_option ( ' display .max_columns ' , 500 )** : Set max column upto 500
- **pd .set_option ( ' display .max_rows ' , 500 )** : Set max rows upto 500
- **pd .set_option ( ' compute .use_bottleneck ' , False)** : Don't use bottleneck
- **pd .set_option ( ' compute .use_numexpr ' , False)** : don't use numexpr

### ğŸ“” Examples

In [ ]:
# Ignoring pandas warnings
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Reading multiple files
import glob
import os

files = glob.glob("file_*.csv")
result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

In [ ]:
# Comparision between Dataframes
df.gt(df2)

df.ne(df2)

In [ ]:
# divmod function example
s = pd.Series(np.arange(10))

div, rem = divmod(s, 3)
print("div", '\n', div)
print("rem", '\n', rem)

div
 0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
9    3
dtype: int64
rem
 0    0
1    1
2    2
3    0
4    1
5    2
6    0
7    1
8    2
9    0
dtype: int64

In [ ]:
div, rem = divmod(s, 3)

In [ ]:
# Using Boolean operators with dataframes
df1 & df2

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creating MultiIndexed Frame
pd.DataFrame(np.arange(16).reshape(4,4),

                         index = [[1,1,2,2],['s1','s2','s1','s2']],

                         columns = [['apple','apple','banana','banana'], ['price','qty','price','qty']],

                         )

     apple     banana
     price qty  price qty
1 s1     0   1      2   3
  s2     4   5      6   7
2 s1     8   9     10  11
  s2    12  13     14  15

In [ ]:
# Creating MultiIndexed Frame
pd.DataFrame(
    {
        ("a", "b"): {("A", "B"): 1, ("A", "C"): 2},
        ("a", "a"): {("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"): {("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"): {("A", "C"): 7, ("A", "B"): 8},
        ("b", "b"): {("A", "D"): 9, ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [ ]:
# Change ojbect column to Categorical Column
'''
Categorical Column consumes less data and performs much faster than plain text data
'''
df['BILL_NAME'] = pd.Categorical(df['BILL_NAME'])

In [ ]:
# Group by Categorical column
df.groupby("grade").size()

In [ ]:
# Rename categories
df['grade'].cat.categories = ['Top', "Middle", "Bottom"]

In [ ]:
# Setting with Numpy Array
df.loc[:, "Column1"] = np.array([5] * len(df))

In [ ]:
# Using iat
df.iat[1, 1]

0.17319709573267061

In [ ]:
# Select by locations
df.iloc[[0,1,2,5], [0,1,3]]

                   ê°€         ë‚˜         ë¼
2021-01-01  0.431141  0.090399  0.228538
2021-01-02  0.752557  0.173197  0.943318
2021-01-03  0.989908  0.003252  0.815100
2021-01-06  0.982183  0.907697  0.027438

In [ ]:
# Dataframe slicing by rows
df = pd.DataFrame(np.random.rand(6, 4), index=pd.date_range("20210101", periods=6), columns=list("ê°€ë‚˜ë‹¤ë¼"))
df[0:3], df['20210101':"20210104"]

(                   ê°€         ë‚˜         ë‹¤         ë¼
 2021-01-01  0.431141  0.090399  0.808965  0.228538
 2021-01-02  0.752557  0.173197  0.166219  0.943318
 2021-01-03  0.989908  0.003252  0.468438  0.815100,
                    ê°€         ë‚˜         ë‹¤         ë¼
 2021-01-01  0.431141  0.090399  0.808965  0.228538
 2021-01-02  0.752557  0.173197  0.166219  0.943318
 2021-01-03  0.989908  0.003252  0.468438  0.815100
 2021-01-04  0.294465  0.886099  0.652429  0.935328)

In [ ]:
# Create column index with list
df = pd.DataFrame(np.random.rand(6, 4), index=pd.date_range("20210101", periods=6), columns=list("ê°€ë‚˜ë‹¤ë¼"))
df

                   ê°€         ë‚˜         ë‹¤         ë¼
2021-01-01  0.834211  0.094163  0.683797  0.265670
2021-01-02  0.906947  0.640139  0.216136  0.567177
2021-01-03  0.291280  0.625926  0.864745  0.133311
2021-01-04  0.494852  0.650316  0.539068  0.698920
2021-01-05  0.178426  0.173516  0.915425  0.777598
2021-01-06  0.803201  0.995424  0.952416  0.511463

In [ ]:
# Create Time Datarange
pd.date_range("20210101", periods=15)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Creating Series data
pd.Series([6,1,5, np.nan, 11, 2])

## ğŸ” Handle data by columns, rows, boolean

- **df [ [ ' ' , ' ' ] ]** : column ì„ íƒí•˜ê¸°
- **df .loc [ [ ' ' , ' ' ] ]** : row ì„ íƒí•˜ê¸°
- **df .loc [ [ ' ' ] , [ ' ' ] ]** : column/row ì„ íƒí•˜ê¸°
- **df mul( , axis = )**: rowì— ê°ê° ë‹¤ë¥¸ ê°’ì„ ê³±í•  ë•Œ
- **.sample ( frac = , random_state = )**: sample ë½‘ê¸°
- **df [ ' column ' ]**: ì›í•˜ëŠ” column ë³´ê¸°
- **df [ ' column ì´ë¦„ ' ] = np.nan** : í…… ë¹ˆ column ë§Œë“¤ì–´ì£¼ê¸°
- **df [ ' new column ' ]**: column ì¶”ê°€í•˜ê¸°
- **df [ [ 'column1' , 'column2' , 'column3' ] ]**: ì›í•˜ëŠ” columnë“¤ ë¶ˆëŸ¬ì˜¤ê¸°

- ğŸŒŸ **.pipe( )**: í•¨ìˆ˜ë¥¼ ì—°ì†í•´ì„œ ì‹¤í–‰í•˜ê³ ì í•  ë•Œ

- **.set_index ( [ ' column ' ] )**: í•´ë‹¹ columnì„ indexë¡œ ë°”ê¿”ì¤Œ

  **.set_index ( [ ' index1 ' , ' index2 ' ] )**: indexë¥¼ ì—¬ëŸ¬ ê°œë¡œ ì„¤ì •í•˜ê¸°
- **.reset_index ( name = ' ' )**: ê¸°ì¡´ì˜ í–‰ indexë¥¼ ì œê±°í•˜ê³  indexë¥¼ ë°ì´í„° ì—´ë¡œ ì¶”ê°€
- **.loc [ 'index', 'columns' ]**: locì€ Indexê°€ ê°€ì§€ê³  ìˆëŠ” ê°’ì„ ë°˜í™˜. selection by label

  **.loc [ ' index1 ' , ' index2 ' ,  [ ' columns1 ' , ' columns2 ' ] ]**: ì—¬ëŸ¬ ê°œì˜ indexë¥¼ ê°€ì ¸ì˜¤ë ¤ë©´ ì´ëŸ¬ë¡œì½¤. indexìë¦¬ì— ì¡°ê±´ì„ ë„£ì–´ì¤˜ë„ ë¨
  
  **df.loc [ 'index' , ' column ' ] = 'value'**: ì´ë ‡ê²Œ í•´ë‹¹ valueë¥¼ ë°”ê¿”ì¤„ ìˆ˜ë„ ìˆìŒ

  **df .loc [ ì¡°ê±´, ' columns ' ] = value** : ì´ë ‡ê²Œ ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ê°’ì„ ë°”ê¿€ ìˆ˜ ìˆìŒ
- **chain indexing**

  **df [ ' column ' ]  [ ' index ' ] = 'value'**: ì´ë ‡ê²Œ í•´ë‹¹ valueë¥¼ ë°”ê¿”ì¤„ ìˆ˜ë„ ìˆìŒ. ì´ ë°©ë²•ë³´ë‹¤ëŠ” locì„ ì¶”ì²œ
  
- **df [ ' index1 ' : ' index2 ']**: ì›í•˜ëŠ” indexë“¤ slicingí•˜ê¸°

- **.iloc [ ]**: ilocì€ indexì˜ ìœ„ì¹˜ ê¸°ì¤€ìœ¼ë¡œ ë™ì‘í•©ë‹ˆë‹¤.(ì •ìˆ˜ë§Œ ì‚¬ìš©). selection by position
- **str .contain( 'ì •ê·œì‹', na = False )**: columnì— strì„ ë§¤ì¹­ì‹œí‚¤ëŠ” ëŠë‚Œ
- **.drop ( )**: ë°ì´í„° ì‚­ì œ

  **.drop ( index )**: í•´ë‹¹ row, indexë¥¼ ì‚­ì œ. axis=0ì´ defaultì„
  
  **.drop ( columns = [ ' column1 ' , ' column2 ' ] )**: í•´ë‹¹ columnì„ ì‚­ì œ
 
  ğŸŒŸ **.drop ( [ <indexName> ] , axis = 0 )**: Delete rows
  
  **.drop ( [ <ColumnName> ] , axis = 1 )**: Delete columns

  **.drop ( ' column1 ' , axis = 1)**: ì´ë ‡ê²Œ column ì‚­ì œë„ ê°€ëŠ¥
- **.isnull ( ) .sum ( ) / len ( )**: nullê°’ ë¹„ìœ¨ êµ¬í•˜ê¸°
- **.dropna ( axis = 0 )**: ê²°ì¸¡ê°’ ìˆëŠ” í–‰ì„ ì‚­ì œ
  
  **.dropna ( axis = 1 )**: ê²°ì¸¡ê°’ ìˆëŠ” ì—´ì„ ì‚­ì œ
 
  **.dropna ( how = ' all ' )**: ê²°ì¸¡ê°’ ìˆëŠ” ëª¨ë“  í–‰ê³¼ ì—´ì„ ì‚­ì œ

  **.dropna ( subset = [ 'column1' , 'column2' ] )** : íŠ¹ì • columnì˜ nanê°’ì´ ìˆëŠ” rowë¥¼ ë‚ ë ¤ì£¼ê¸°
- **.unique ( )**: í•´ë‹¹ column, dataframeì˜ valueë“¤ì„ ë³´ì—¬ì¤Œ
- **.nunique ( )**: ì„œë¡œ ë‹¤ë¥¸ valueì˜ ê°¯ìˆ˜ë¥¼ ë°˜í™˜
- **.value_counts( )**: valueì˜ ì´ ê°¯ìˆ˜ë¥¼ ë°˜í™˜. column ë‚´ ì›í•˜ëŠ” valueì˜ ìˆ˜ë¥¼ ë°˜í™˜
- **del**: ì‚­ì œì‹œí‚´
- **.repeat( )**: ê°€ë¡œ ì•ˆì— ë“¤ì–´ê°€ëŠ” ê°’ë§Œí¼ ë°˜ë³µí•¨
- **.index = df [ ' column1e ' ]** : í•´ë‹¹ columnì„ indexë¡œ 
 
  **.index = list ( range ( a , b ) )** : ì´ë ‡ê²Œ indexë¥¼ ì„¤ì •í•  ìˆ˜ë„ ìˆìŒ
- **.rename ( columns = { ' column name ' : ' new name ' } )** : column ì´ë¦„ ë³€ê²½í•˜ê¸°

  **.columns = [ ' ì›í•˜ëŠ” columns name 1 ' , ' ì›í•˜ëŠ” column name 2 ' , ... ]** : ì´ë ‡ê²Œ ë°”ê¿”ì¤„ ìˆ˜ë„ ìˆìŒ
- **.duplicated ( [ ' columns1' ] )** : boolean í˜•íƒœë¡œ ì¤‘ë³µê°’ì— Trueë¥¼ ë°˜í™˜
- **.drop_duplicates ( [ ' column1 ' , ' column2 ' ] )**: ì¤‘ë³µê°’ì„ ì‚­ì œ (ë‚˜ëŠ” ì´ ë°©ë²• ë¹„ì¶”ì²œ)
- **df = df [ [ ' my_order1 ' , 'my_oder2' , 'my_order3' , 'my_order4' ] ]**: column ìˆœì„œ ë°”ê¾¸ê¸°
- **df.copy ( )**: dfë¥¼ ë˜‘ê°™ì´ ë³µì‚¬í•¨
- **.isnull( ).sum( )**: ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ë°˜í™˜
- **.notnull( ).sum( )**: ê²°ì¸¡ì¹˜ê°€ ì•„ë‹Œ ê°’ë“¤ ìˆ˜ë¥¼ ë°˜í™˜
- **.add_prefix ( " prefix " )**: column ì´ë¦„ì— ëª¨ë‘ ì ‘ë‘ì‚¬ë¥¼ ì¶”ê°€
- **.astype ( type )**: ì…ë ¥í•œ typeìœ¼ë¡œ ë³€ê²½í•´ì¤€ë‹¤.
- **.isdigit( )**: ìˆ«ìì¸ì§€ ì•„ë‹Œì§€ íŒë³„í•´ì£¼ëŠ” ë©”ì†Œë“œ
- **get_dummies ( [ " column name " ] , prefix = " prefix ")**: ë”ë¯¸ë³€ìˆ˜ ìƒì„±
- **Boolean indexing**
 
 **df. column + ì¡°ê±´**: ì¡°ê±´ì„ ë„£ì–´ì£¼ë©´ ë¨. e.g.>, ==, !=, >=

 **df [ df .column + ì¡°ê±´ ]** ì•„ë‹ˆë©´ **df [ df [ ' column ' ] + ì¡°ê±´ ]**: ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° ë”°ë¡œ ë¹¼ê¸°
- **. fillna ( )**: ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

  **.filnna( ì¡°ê±´ , inplace = True)**: ì¡°ê±´ì— ë§ê²Œ ê²°ì¸¡ì¹˜ë¥¼ ì±„ì›€
- **inplace = True** : ë³€ìˆ˜ë¥¼ ì§ì ‘ ë³€ê²½í•œë‹¤ëŠ” ëœ»
- **df [ ' column ' ] . replace ( [ ' ê¸°ì¡´ value ' ] , [ ' ë°”ê¾¸ê³  ì‹¶ì€ value ' ] , inplace = True)**: ì›í•˜ëŠ” ê°’ìœ¼ë¡œ ë°”ê¾¸ê¸°

 **df [ ' column ' ] . replace ( { " ê¸°ì¡´ value " : int, "ê¸°ì¡´ value" : "str" } , inplace = True)**: ì´ë ‡ê²Œ í•´ë„ ë¨
 
 **df [ ' column ' ] = df. column. map ( { " ê¸°ì¡´ value1 " : ìƒˆ ê°’ ( int ) , " ê¸°ì¡´ value2 " : " ìƒˆ ê°’ ( str ) " } )**: ì›í•˜ëŠ” ê°’ìœ¼ë¡œ ë°”ê¾¸ëŠ” ë‹¤ë¥¸ ë°©ë²•
 
- **apply, applymap** : ì›í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì ìš©í•  ë•Œ ì‚¬ìš©
- **df [ lambda x : x. column â€¦ ]**: ì¡°ê±´ì— ë§ëŠ” ë°ì´í„°ë§Œ ë½‘ì•„ ë³´ê¸°
- **df [ ( df .column1 + ì¡°ê±´) & ( df [ ' column2 '] + ì¡°ê±´ ) ]**: ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° ë½‘ê¸°
- **.isin( [ ' value1 ', ' value2 ' ] )**: value1ì´ê±°ë‚˜ value2ì¸ ê°’ë“¤ì„ ë°˜í™˜
- **.str .startswith ( ' str ' )**: strë¡œ ì‹œì‘í•˜ëŠ” valueë“¤ì„ ë°˜í™˜
- **.endswith ( ' str ' )**: strë¡œ ëë‚  ë•Œ
- **.str .contains ( ' str ' )**: strë¥¼ í¬í•¨í•˜ëŠ” valueë“¤ì„ ë°˜í™˜
- **df .sort ( ' column ' )**: ìˆœì„œëŒ€ë¡œ ì •ë ¬
- **pd.cut(data, bins, labels= )**: ì‹¤ìˆ˜ê°’ì„ ë‹¤ìŒì²˜ëŸ¼ ì¹´í…Œê³ ë¦¬ ê°’ìœ¼ë¡œ ë°”ê¿€ ìˆ˜ ìˆìŒ!! bins ì¸ìˆ˜ëŠ” ì¹´í…Œê³ ë¦¬ë¥¼ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ê°’ì´ê³  ì˜ì—­ì„ ë„˜ëŠ” ê°’ì€ NaNìœ¼ë¡œ ì²˜ë¦¬ëœë‹¤.
- **.cut( ë°ì´í„°, [ ë²”ìœ„ , ë° , êµ¬ê°„ ] , labels = [ ë ˆì´ë¸” , ì„¤ì •, í•´ì£¼ë©´ ë¨ ] )**: ì›í•˜ëŠ” êµ¬ê°„ë³„ë¡œ categoric ë³€ìˆ˜ë¡œ ë§Œë“¤ì–´ ì¤„ ìˆ˜ ìˆìŒ
- **.contains ( ' str, int' , regex=False  )** : valueì—ì„œ íŠ¹ì • ë¬¸ì í˜¹ì€ ìˆ«ìë¥¼ í¬í•¨ ì—¬ë¶€ì— ë”°ë¼ Booleanìœ¼ë¡œ ë°˜í™˜. regex=Trueì´ë©´ ì •ê·œì‹ìœ¼ë¡œ ì¸ì‹
- **.factorize()**: ì¹´í…Œê³ ë¦¬ë¥¼ ë‹¤ë¥¸ ì •ìˆ«ê°’ìœ¼ë¡œ ë§¤í•‘. Label encoding
- **.lower( )** : Change to lowercase


> Differnece btw map, apply methods
- Map: Can be used only with Series Type
- Apply: Can be also used with Dataframe Type

### ğŸ“” Examples

In [ ]:
# Using eval( ) 
%timeit df1 + df2 + df3 + df4

%timeit pd.eval("df1 + df2 + df3 + df4")

# eval( ) is 10 times faster than simple column computations

In [ ]:
# Query example
for idx in df.query("ë²•ì•ˆë‚´ìš©.str.contains('ì „í†µì‹œì¥') and ë²•ì•ˆë‚´ìš©.str.contains('ëŒ€ê·œëª¨') ", engine='python').index:
    print(idx, df.loc[idx]['ë²•ì•ˆëª…'])
    print(df.loc[idx]['ë²•ì•ˆë‚´ìš©'])
    print("*"*80)

In [ ]:
# Display more than 2 dataframes at once
from IPython.display import display_html
def display_side_by_side(*args):
    """ì—¬ëŸ¬ ë°ì´í„°í”„ë ˆì„ ë¹„êµê°€ ì‰½ê²Œ ì˜†ìª½ìœ¼ë¡œ í‘œì‹œí•œë‹¤"""
    html_str=''
    for df in args:
        html_str += df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'), raw=True)

In [ ]:
## How to use query methods
# Using variable name in query 1
num_age = 10
num_weight = 30
str_expr = "(age == @num_age) and (weight >= @num_weight)"
df_q = df.query(str_expr, inplace=True)     

# Using variable name in query 2
num_age = 10
num_weight = 30
str_expr = f"(age == {num_age}) and (weight >= {num_weight})"
df_q = df.query(str_expr) 

# Using function in query
def my_max(x, y):
    return max(x,y)
str_expr = "age >= @my_max(1,22)"
df_q = df.query(str_expr) 

# Filter by index
str_expr = "index >= 2" 
df_q = df.query(str_expr)  

# query in string contains
str_expr = "name.str.contains('tiger')" 
df_q = df.query(str_expr)  

# query in string startswith/endswith
str_expr = "name.str.startswith('Tiger')"
df_q = df.query(str_expr)            

str_expr = "name.str.endswith('tiger')" 
df_q = df.query(str_expr)

In [ ]:
# Using query methods for filtering
df[(df['a'] < df['b']) & (df['b'] < df['c'])]
df.query('(a < b) & (b < c)')
df.query('a < b and b < c')

# Example 2
df[~df['a'].isin(df['b'])]
df.query('a not in b')

# Example 3
df[df['b'].isin(["a", "b", "c"])]
df.query('c == [1, 2]')

In [ ]:
# Seleting by label
df.loc['c':]

# Selecting Rows and Columns
df.loc[['a', 'b', 'd'], :]

In [ ]:
# Setting value by slicing
df[:5] = 0

In [ ]:
# Slicing 2n rows
df[::2]

In [ ]:
# Changing Column value by iloc and dictionary
df.iloc[1] = {'Column_A': 9, 'Column_B': 99}

In [ ]:
# nlargest, nssmallest example
df = pd.DataFrame(
     {
         "a": [-2, -1, 1, 10, 8, 11, -1],
         "b": list("abdceff"),
         "c": [1.0, 2.0, 4.0, 3.2, np.nan, 3.0, 4.0],
     }
 )

In [ ]:
df

    a  b    c
0  -2  a  1.0
1  -1  b  2.0
2   1  d  4.0
3  10  c  3.2
4   8  e  NaN
5  11  f  3.0
6  -1  f  4.0

In [ ]:
df.nlargest(3, "a")

    a  b    c
5  11  f  3.0
3  10  c  3.2
4   8  e  NaN

In [ ]:
df.nlargest(5, ["a", "c"])

    a  b    c
5  11  f  3.0
3  10  c  3.2
4   8  e  NaN
2   1  d  4.0
6  -1  f  4.0

In [ ]:
df.nsmallest(3, "a")

   a  b    c
0 -2  a  1.0
1 -1  b  2.0
6 -1  f  4.0

In [ ]:
df.nsmallest(5, ["a", "c"])

   a  b    c
0 -2  a  1.0
1 -1  b  2.0
6 -1  f  4.0
2  1  d  4.0
4  8  e  NaN

In [ ]:
# How to use .pipe()
df_p.pipe(extract_city_name).pipe(add_country_name, country_name="US")

In [ ]:
# Add rows with list
for n in range(11, 150):
    pick = random.choice(list_user)
    df_sponsorSenators.loc[n] = list([n+1, np.random.randint(300), pick[0], pick[1], pick[2],
                                 random.choice(list_message),
                                 random.choice(list_money),
                                 random.choice(list_email),
                                 random.choice(list_view)])

In [ ]:
# Load csv limiting number of rows
data = pd.read_csv('Directory/name.csv', nrows=10000)

In [ ]:
# Filter dataframe by dataframe example
  keys = list(df1.columns.values)
  i1 = df2.set_index(keys).index
  i2 = df1.set_index(keys).index
  df_year_replied_first_sent = df2[i1.isin(i2)]

In [ ]:
# Pandas contains ignore case example
temp_2020['re_counts'] = temp_2020['title'].str.findall('Re:', flags=re.I).str.len()
temp_2020['org_title'] = temp_2020['title'].str.replace(r'(Re:|Fwd:)', '',flags=re.I).str.strip()

In [ ]:
# to_dict() without index
hr[['EP_ID', 'ì¡°ì§ì½”ë“œ']].to_dict('r')

In [ ]:
# Using function with multiple attributes in df using numpy vectorize
def adding(x,y):
    return x + ' ' + y

mail_times['ê·¼ë¬´ì¢…ë£Œ'] = np.vectorize(adding)(mail_times['ê·¼ë¬´ì¢…ë£Œ'],mail_times['ê·¼ë¬´_ì¢…ë£Œì‹œê°„'])

In [ ]:
# use map method in pandas by index
df = pd.DataFrame({'one': {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}})
map_dict = {'A': 'every', 'B': 'good', 'C': 'boy', 'D': 'does', 'E': 'fine'}

df['two'] = df.index.to_series().map(map_dict)

In [ ]:
# How to read csv with error_bad_lines
df = pd.read_csv(data, error_bad_lines=False)

In [ ]:
# use diff method to caculate difference between two continuous values in a column
df_temp['ì°¨ì´'] = df_temp['í•˜ì°¨ì´ìŠ¹ê°ìˆ˜'].diff().abs()

In [ ]:
# count duplicated rows
df.groupby(df.columns.tolist()).size().reset_index().\
    rename(columns={0:'records'})

In [ ]:
# pandas contains a list of values
df_temp = bills[bills['ë°œì˜ì'].str.contains('|'.join(senator_list))]

In [ ]:
  # groupby applying multiple functions
  dict_groupby_data[i] = dict_data[i].groupby('ì¼ì‹œ').agg({'ê¸°ì˜¨(Â°Cx

In [ ]:
# rowë§ˆë‹¤ ì½”ë“œë¥¼ ì‹¤í–‰ì‹œì¼œì•¼ í•  ë•Œ itertuplesë¥¼ ì“°ì
# iterrowsë³´ë‹¤ itertuplesê°€ ì„±ëŠ¥ì´ ì¢‹ë‹¤.
for row in df.itertuples():
    yield TaggedDocument(words=dict(row._asdict())['all_orders'].split(),tags=[dict(row._asdict())['user_id']])

for row in df.itertuples():
    row._asdict()

In [ ]:
# How to use apply method in groupby
prior_orders.groupby("user_id").apply(lambda order: ' '.join(order['product_id'].tolist()))

In [ ]:
# column.dropLevel(0)
feature_department.columns = feature_department.columns.droplevel(0)

In [ ]:
# Making corpus using orders and products (Word2Vec í•™ìŠµ)
product_corpus = []     
sentence = []
new_order_id = order_product_list[0][0]
for (order_id, product_id) in tqdm(order_product_list):
    '''
    order_idê°€ ê°™ìœ¼ë©´ ê³„ì† sentenceì— ë„£ê³ 
    order_idê°€ ë‹¬ë¼ì§€ë©´ sentenceë¥¼ ë¹„ìš°ê³  ìƒˆë¡œ ë„£ê¸°
    ì¦‰, ê°™ì€ orderì— ìˆëŠ” productë“¤ì„ í•˜ë‚˜ì˜ corpusë¡œ ë§Œë“¤ì–´ì£¼ëŠ” ì‘ì—…ì´ë‹¤.
    '''
    if new_order_id != order_id:
        product_corpus.append(sentence)
        sentence = []
        new_order_id = order_id
    sentence.append(str(product_id))


# ìœ„ì²˜ëŸ¼ í—¤ë§¤ì§€ ë§ê³  ì´ë ‡ê²Œ í•˜ì (Doc2Vec í•™ìŠµ)
prior_orders.groupby("user_id").apply(lambda order: ' '.join(order['product_id'].tolist()))

In [ ]:
# Sort values by multiple columns
# using ENTER in one code
 merge_order_product_ds\
    .sort_values(['user_id','order_id','add_to_cart_order'])

In [ ]:
# saving in different excel sheet
with pd.ExcelWriter('approval ver4.0.xlsx') as writer:
    emply.to_excel(writer, sheet_name = 'Employee')
    approval.to_excel(writer, sheet_name = 'ê²°ì¬')

In [ ]:
# list minus list not using list comprehension
outer_index = list(set(email_drop_dup.index) - set(inner.index))

In [ ]:
# ë°ì´í„°í”„ë ˆì„ì—ì„œ ë°ì´í„°í”„ë ˆì„ ë¹¼ê¸°f
a = pd.DataFrame(data = {'col1' : [1, 2, 3, 4, 5], 'col2' : [10, 11, 12, 13, 14]}) 
b = pd.DataFrame(data = {'col1' : [1, 2, 3], 'col2' : [10, 11, 12]})

common = a.merge(b,on=['col1','col2'])

a[(~a.col1.isin(common.col1))&(~a.col2.isin(common.col2))]

In [ ]:
# columnì— íŠ¹ì • stringì´ í¬í•¨ ì•ˆë˜ì–´ìˆëŠ” ì• ë“¤ë§Œ ë½‘ê¸°
df[(~df["í´ë”ëª…"].str.contains('ìŠ¤íŒ¸')) & 
   (~df["í´ë”ëª…"].str.contains('ì°¨ë‹¨')) &
   (~df["í´ë”ëª…"].str.contains('ì•…ì„±')) &d
   (~df["í´ë”ëª…"].str.contains('ìŠ¤íŒ¸ì‹ ê³ '))]

In [ ]:
# pandas profiling ì“°ëŠ” ë²• (simple ver)
# profile ë§Œë“¤ê¸°
profile = df.profile_report()
profile

# ì €ì¥í•˜ê¸°
profile.to_file("profile.html")

In [ ]:
# pandas profiling ì“°ëŠ” ë²•
import tqdm
import pandas as pd
import pandas_profiling
############ í•œê¸€ í°íŠ¸ ì§€ì •í•˜ëŠ” ë¶€ë¶„ #################
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# ìœˆë„ìš°ì¸ ê²½ìš°
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac ì¸ ê²½ìš°
    font_name = font_manager.FontProperties(fname="/Library/Fonts/NanumBarunGothic.ttf").get_name()
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False   
#ê·¸ë˜í”„ì—ì„œ ë§ˆì´ë„ˆìŠ¤ ê¸°í˜¸ê°€ í‘œì‹œë˜ë„ë¡ í•˜ëŠ” ì„¤ì •ì…ë‹ˆë‹¤.

# profile ë§Œë“¤ê¸°
profile = ì‹ë‹¹.profile_report()
profile

# ì €ì¥í•˜ê¸°
profile.to_file("profile.html")

In [ ]:
# replacing column value not using map method
df_temp.replace({"ë©”ë‰´ëª…": dict_menu})

In [ ]:
# Dataframe to dictionary (for json)
T2_model.everytime_scheduler(T2_model.all_combinations())[0].fillna('0').T.to_dict()

In [ ]:
# listì— ìˆëŠ” column valueë¥¼ strìœ¼ë¡œ í’€ì–´ì£¼ëŠ” ë°©ë²•
df_without_nan['list2str'] = [' '.join(map(str, l)) for l in df_without_nan['proposed_senators']]

# ì´ë ‡ê²Œë„ ê°€ëŠ¥
def list2str(data):
    result = ' '.join(data)
    return result

df['BOW'] = (df['ingredient'] + df['taglst']).apply(list2str)

In [ ]:
# changing value with loc in dataframe
df_final.loc[(df_final['x'] == df_final.iloc[41]['x']) & (df_final['y']==df_final.iloc[41]['y']), ['ì†Œì†ìœ„ì›íšŒ']] ='ê³¼í•™ê¸°ìˆ ì •ë³´ë°©ì†¡í†µì‹ ìœ„ì›íšŒ'
df_final.loc[(df_final['x'] == df_final.iloc[42]['x']) & (df_final['y']==df_final.iloc[42]['y']), ['ì†Œì†ìœ„ì›íšŒ']] ='í–‰ì •ì•ˆì „ìœ„ì›íšŒ'

In [ ]:
# pandas progress_apply í•¨ìˆ˜ ì‚¬ìš©ë²•
from tqdm import tqdm

tqdm.pandas()

bills['tokenized'] = bills['ë²•ì•ˆëª…_ë²•ì•ˆë‚´ìš©'].progress_apply(tokenized_mecab)

# lambdaë¥¼ ì“°ëŠ” ë²•
bills['cleared'] = bills['tokenized'].progress_apply(lambda x: out_stopwords(x, list_stopwords = list_stopword))

In [ ]:
# apply function with more than two arguments
def subtract_and_divide(x, sub, divide=1):
    return (x - sub) / divide

df.apply(subtract_and_divide, args=(5,), divide=3)

# Another example
def subtract(x, y, z):
    return x - y - z

df = df.apply(subtract, args=(1, 2))

# Another example
df['NewCol'] = df.apply(lambda x: \
                        functionName(x['TimeCol'], x['ResponseCol']), axis=1)

In [ ]:
# dataframeì— 2ê°€ì§€ ë„˜ëŠ” argument í•¨ìˆ˜ ì ìš©í•˜ê¸°
bills['cleared'] = bills.apply(lambda x: out_stopwords(bills['tokenized'].str, "/Users/junghyunwoo/á„’á…§á„‚á…®á„‹á…¦-á„‹á…´á„’á…¡á†«-á„’á…§á„‚á…®á„…á…³á†¯-á„‹á…±á„’á…¡á†«-á„’á…§á„‚á…®á„‹á…´/á„€á…©á†¼á„‡á…®á„€á…©á†¼á„‡á…®á„€á…©á†¼á„‡á…®á„€á…©á†¼á„‡á…®/á„ƒá…¢á„’á…¡á†¨ á„‹á…µá„’á…®/á„ƒá…¢á„’á…¡á†¨ á„€á…ªá†«á„…á…§á†«/á„‹á…§á†«á„‰á…¦á„ƒá…¢á„’á…¡á†¨á„€á…­/2020-1 3á„’á…¡á†¨á„‚á…§á†« 2á„’á…¡á†¨á„€á…µ/á„ƒá…¦á„‹á…µá„á…¥á„†á…¡á„‹á…µá„‚á…µá†¼á„‹á…µá„…á…©á†«á„†á…µá†¾á„‹á…³á†¼á„‹á…­á†¼ (á„‰á…©á†«á„‰á…©á„‹á…§á†¼)/á„á…µá†· á„‘á…³á„…á…©á„Œá…¦á†¨á„á…³/á„€á…µá„†á…¡á†¯ á„‘á…³á„…á…©á„Œá…¦á†¨á„á…³/1á„á…¡_stopwords á„á…®á„€á…¡/stopwords ver1.0.txt"), axis=1)

# progress_applyë¥¼ í™œìš©í•˜ë©´ì„œ
bills['cleared'] = bills['tokenized'].progress_apply(lambda x: out_stopwords(x, list_stopwords = list_stopword))

In [ ]:
# ~ ì˜ˆì‹œ
phar = phar[~phar['ìƒí˜¸ëª…'].str.contains('ì „ìë‹´ë°°')]

In [ ]:
# dataframe ì „ì²´ì— forë¬¸ ì ìš©í•  ë•Œ
for index in df.index:
  cost = df.loc[index].columnName
  # ì´ëŸ° ì‹ìœ¼ë¡œ indexë¥¼ í›‘ì„ ìˆ˜ ìˆë‹¤!

In [ ]:
# multiple condition
temp[(temp['freq_sns1'] =='facebook') or (temp['freq_sns1'] =='instagram') or (temp['freq_sns1'] =='kakaostory')]

In [ ]:
# drop_duplicates keep, subset ì˜ˆì‹œ
products.drop_duplicates(inplace=True, subset='StockCode', keep="last")

In [ ]:
# ì›í•˜ëŠ” ì‹œê°„ëŒ€ ê°€ì ¸ì˜¤ê¸°
data[pd.Timestamp("2012-01-01 09:00"):pd.Timestamp("2012-01-01 19:00")]

data['2012-01-01 09:00':'2012-01-01 19:00']

In [ ]:
# scatter_matrix ì˜ˆì‹œ
from pandas.plotting import scatter_matrix

attributes = ["median_house_value", "median_income", "total_rooms",
              "housing_median_age"]
scatter_matrix(housing[attributes], figsize=(12, 8))
save_fig("scatter_matrix_plot")

In [ ]:
# corr_matrix ì˜ˆì‹œ
corr_matrix = housing.corr()
corr_matrix["median_house_value"].sort_values(ascending=False)

In [ ]:
# íŠ¹ì •í•œ ê²ƒì„ í¬í•¨í•˜ëŠ” í–‰ë“¤ì„ ì°¾ê³  ì‹¶ì„ ë•Œ contains í•¨ìˆ˜ ì‚¬ìš©
df[df['Name'].str.contains('al')].head()

In [ ]:
# startswith, str ì˜ˆì‹œ
df[df['Name'].str.startswith('B')].head()

In [ ]:
# isin ì˜ˆì‹œ
df[df['Name'].isin(['Braund, Mr. Owen Harris','Heikkinen, Miss. Laina'])]

In [ ]:
# column drop í•˜ê¸°
df = df.drop(columns=['index'])

In [ ]:
# íŠ¹ì • columnì„ ê¸°ì¤€ìœ¼ë¡œ ìˆœì„œë¥¼ ì •ë ¬í•˜ê³  ì‹¶ì„ ë•Œ
df.sort_values('Name',ascending=True)

In [ ]:
# .loc ì˜ˆì‹œ
df.loc[df['ì„±ë³„'] == 'male', 'ì„±ë³„'] = 0 
df.loc[df['ì„±ë³„'] == 'female', 'ì„±ë³„'] = 1

df.loc[df['ê´€ì‹¬ì‚¬'] == 'ì¶•êµ¬', 'ê´€ì‹¬ì‚¬'] = 0 
df.loc[df['ê´€ì‹¬ì‚¬'] == 'ì•¼êµ¬'', 'ê´€ì‹¬ì‚¬'] = 1

In [ ]:
# dropna, subset, nanê°’ì´ ìˆëŠ” columnì˜ rowë¥¼ ë‚ ë¦¬ê¸°, 
temp_dropna = temp_dropna.dropna(subset=['quota', 'participants'])

In [ ]:
# str, contain, na
df_final.loc[df_final['Name'].str.contains('Mr\.', na=False), 'Name' ] = 0
df_final.loc[df_final['Name'].str.contains('Mrs\.', na=False), 'Name' ] = 1
df_final.loc[df_final['Name'].str.contains('Miss\.', na=False), 'Name' ] = 2
df_final.head()

In [ ]:
# .cut()
## ì˜ˆì‹œ1
kills = sample.copy()
kills['killsCategories'] = pd.cut(kills['kills'], 
                                  [-1, 0, 2, 5, 10, 60],
                                  labels=['0_kills','1-2_kills', '3-5_kills', '6-10_kills', '10+_kills'])

In [ ]:
# contain ì˜ˆì‹œ
cs_df = course_df.loc[course_df['id'].str.contains('CSI')]

In [ ]:
# loc ì˜ˆì‹œ
# temp(difference)ê°€ -6ë³´ë‹¤ ì‘ì€ ë°ì´í„°ëŠ” -6ìœ¼ë¡œ í†µì¼ì‹œì¼œì¤ë‹ˆë‹¤.
train.loc[train["temp(difference)"] < -6, "temp(difference)"] = -6

# ë¹„ìŠ·í•˜ê²Œ, temp(difference)ê°€ 0ë³´ë‹¤ í° ë°ì´í„°ëŠ” 0ìœ¼ë¡œ í†µì¼ì‹œì¼œì¤ë‹ˆë‹¤.
train.loc[train["temp(difference)"] >  0, "temp(difference)"] = 0

In [ ]:
# mul ì˜ˆì‹œ
df.mul([1, 100], axis=0)

In [ ]:
# boolean column ë§Œë“¤ê¸°
father_df['ì „í™”ì£¼ë¬¸ê³ ê°'] =  father_df['ì£¼ë¬¸ìID'].str[:2] == 'pp'

In [ ]:
# .quantile()
data = sample.copy()
data.loc[data['kills'] > data['kills'].quantile(0.99)] = '8+'
plt.figure(figsize=(15,10))
sns.countplot(data['kills'].astype('str').sort_values())d
plt.title("Kill Count",fontsize=15)
plt.show()

In [ ]:
# ìƒ˜í”Œ ë½‘ê¸°
sample = train.sample(frac=0.1, random_state=20191005)

In [ ]:
# outlier ì œê±°í•˜ëŠ” ë°©ë²•
train_X = train_X[train_X['LotFrontage'] <= 300]
train_X = train_X[train_X['Evaluate_Garage'] <= 200000]
train_X = train_X[train_X['Evaluate_Bsmt'] <= 4000000]

In [ ]:
# .corrwith()
corr_data = train_df[numerical_feature].corrwith(train_df['SalePrice']).sort_values(ascending=False)

In [ ]:
# .indexë¡œ index ì„¤ì •í•´ì£¼ê¸°
Big_df.index = range(len(Big_df))

In [ ]:
# fillna()
X_train['Age']=X_train.Age.fillna(X_train.Age.mean())

In [ ]:
# creating new column
gender = {'male':0, 'female':1}
df_train['Sex'] = [gender[item] for item in df_train.Sex]
df_test['Sex'] = [gender[item] for item in df_test.Sex]
df_train.head()

In [ ]:
# pd.cut
bins = [0, 25, 50, 75, 100]
group_names = ['Low', 'Okay', 'Good', 'Great']
categories = pd.cut(df['postTestScore'], bins, labels=group_names)
categories

In [ ]:
# value_counts()
df['categories'] = pd.cut(df['postTestScore'], bins, labels=group_names)
pd.value_counts(df['categories'])

In [ ]:
# pandas matplotlib
fig = plt.figure()
fig.set_size_inches(10,5)
ax_1 = fig.add_subplot(1,2,1)
ax_2 = fig.add_subplot(1,2,2)
ax_1.plot(df_data["MEDV"])
ax_2.hist(df_data["MEDV"], bins=50)
ax_1.set_title("House price MEDV")
ax_2.set_title("Hous price MEDV")

In [ ]:
# enumerate
for i,child in enumerate(file["features"]) :
    print(i,child["properties"]["SIG_KOR_NM"])

In [ ]:
# .repeat
## ì˜ˆì œ1
s = pd.Series(['a','b','c'])
s = pd.concat([s.repeat(2), s.repeat(3)])
s.head()
 
## ì˜ˆì œ2
gangnam = pd.read_csv('data/gangnam_cctv.csv', encoding='cp949')
gangnam2 = gangnam[['ìœ„ë„','ê²½ë„','ì¹´ë©”ë¼ëŒ€ìˆ˜']]
gangnam2.shape
gangnam3 = (
    pd.concat([gangnam2["ìœ„ë„"].repeat(gangnam2["ì¹´ë©”ë¼ëŒ€ìˆ˜"]), 
                           gangnam["ê²½ë„"].repeat(gangnam["ì¹´ë©”ë¼ëŒ€ìˆ˜"])], 
                           axis=1)
        .reset_index(drop = True))
gangnam3

In [ ]:
# .factorize() ã…ˆì˜ˆì‹œ
housing_cat_encoded, housing_categories = housing_cat.factorize()
housing_cat_encoded[:10]

In [ ]:
# .hist()
df['Age'].hist()

In [ ]:
# set_index, reset_index
df = df.set)index(['A', 'B'])

result = df['C'].unstack()

df = result.stack().reset_index(name='C')

In [ ]:
# .mapê³¼ dictì„ ì‚¬ìš©í•´ì„œ column ì±„ìš°ê¸°
weight_dict = {3:"M", 4:"L", 5:"XL"}
edges["weight_sign"] = edges["weight"].map(weight_dict)
edges

In [ ]:
# get_dummies()
df_dum = pd.get_dummies(df['pclass'])

df_train = pd.get_dummies(df_train, prefix = ['Cabin'], columns=['Cabin'])

df_dum = pd.get_dummies(df)

temp = pd.get_dummies(temp, columns = ['Age_cut'])

In [ ]:
# DataFrame ë§Œë“¤ê¸°

## ì˜ˆì œ1
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df


## ì˜ˆì œ2
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a


## ì˜ˆì œ3
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
df_countries = pd.DataFrame(data)
df_countries
.pivot(index=, columns
       
       
## ì˜ˆì œ4
df = pd.DataFrame({'Fare': [7.25, 71.2833, 51.8625, 30.0708, 7.8542, 13.0],
                   'Pclass': [3, 1, 1, 2, 3, 2],
                   'Sex': ['male', 'female', 'male', 'female', 'female', 'male'],
                   'Survived': [0, 1, 0, 1, 0, 1]})

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [ ]:
# del: ì‚­ì œí•˜ê¸°
del df['city']
df

  first_name last_name  age
0      Jason    Miller   42
1      Molly  Jacobson   52
2       Tina       Ali   36
3       Jake    Milner   24
4        Amy     Cooze   73

In [ ]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'city'])
df

  first_name last_name  age           city
0      Jason    Miller   42  San Francisco
1      Molly  Jacobson   52      Baltimore
2       Tina       Ali   36          Miami
3       Jake    Milner   24        Douglas
4        Amy     Cooze   73         Boston

In [ ]:
df.age > 40

0     True
1     True
2    False
3    False
4     True
Name: age, dtype: bool

In [ ]:
df['debt'] = df.age > 40
df

  first_name last_name  age           city   debt
0      Jason    Miller   42  San Francisco   True
1      Molly  Jacobson   52      Baltimore   True
2       Tina       Ali   36          Miami  False
3       Jake    Milner   24        Douglas  False
4        Amy     Cooze   73         Boston   True

In [ ]:
df_train['Age_mean'] = df_train.Age_mean.fillna(df_train.Title.map({'Master':5, 'Miss':22, 'Mr':33, 'Mrs':36, 'Other':46}))

In [ ]:
dict_data = {"a":1, "b":2, "c":3, "d":4, "e":5}
example_obj = Series(dict_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [ ]:
example_obj.to_dict()

In [ ]:
example_obj.values

In [ ]:
example_obj.index

In [ ]:
example_obj.name = "number"
example_obj.index.name = "alphabet"
example_obj

In [ ]:
s = pd.Series([0.1, 0.2, 0.3, 0.4])

In [ ]:
# .index: Index ì •ë³´ë¥¼ ì•Œë ¤ì¤Œ
s.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# .values: Value ê°’ë“¤ì„ ë³´ì—¬ì¤Œ
s.values

array([0.1, 0.2, 0.3, 0.4])

In [ ]:
# Indexing
s[0]

0.1

In [ ]:
# Dictì„ Series dataë¡œ ë§Œë“œëŠ” ë°©ë²•
pop_dict = {'Germany': 81.3, 
            'Belgium': 11.3, 
            'France': 64.3, 
            'United Kingdom': 64.9, 
            'Netherlands': 16.9}
population = pd.Series(pop_dict)
population

Germany           81.3
Belgium           11.3
France            64.3
United Kingdom    64.9
Netherlands       16.9
dtype: float64

In [ ]:
population / 100

Germany           0.813
Belgium           0.113
France            0.643
United Kingdom    0.649
Netherlands       0.169
dtype: float64

In [ ]:
# .mean(): ë°”ë¡œ ì—°ì‚°ì„ í•´ë„ ë¨
population.mean()

47.739999999999995

In [ ]:
# Dataframe ë§Œë“¤ê¸°
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries

          country  population    area    capital
0         Belgium        11.3   30510   Brussels
1          France        64.3  671308      Paris
2         Germany        81.3  357050     Berlin
3     Netherlands        16.9   41526  Amsterdam
4  United Kingdom        64.9  244820     London

In [ ]:
# .index: indexë¥¼ ë³´ì—¬ì¤Œ
countries.index

Index(['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'], dtype='object', name='country')

In [ ]:
# .columns: columnsë¥¼ ë³´ì—¬ì¤Œ
countries.columns

Index(['population', 'area', 'capital'], dtype='object')

In [ ]:
# .dtypes: Columnsë“¤ì˜ typeì„ ë³´ì—¬ì¤Œ
countries.dtypes

population    float64
area            int64
capital        object
dtype: object

In [ ]:
# .info(): index, columns ê°¯ìˆ˜, type ë“±ì„ ë³´ì—¬ì¤Œ
countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Belgium to United Kingdom
Data columns (total 3 columns):
population    5 non-null float64
area          5 non-null int64
capital       5 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 320.0+ bytes

In [ ]:
# .values: ê° indexì˜ value ê°’ë“¤ì„ ë³´ì—¬ì¤Œ
countries.values

array([[11.3, 30510, 'Brussels'],
       [64.3, 671308, 'Paris'],
       [81.3, 357050, 'Berlin'],
       [16.9, 41526, 'Amsterdam'],
       [64.9, 244820, 'London']], dtype=object)

In [ ]:
countries.columns

Index(['population', 'area', 'capital'], dtype='object')

In [ ]:
# .set_index(' '): í•´ë‹¹ columnì„ indexë¡œ ë°”ê¿”ì¤Œ
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries['area']

country
Belgium            30510
France            671308
Germany           357050
Netherlands        41526
United Kingdom    244820
Name: area, dtype: int64

In [ ]:
countries['population'] / countries['area']

country
Belgium           0.000370
France            0.000096
Germany           0.000228
Netherlands       0.000407
United Kingdom    0.000265
dtype: float64

In [ ]:
# 1ê°œì˜ columnì„ ë½‘ì•„ì„œ min, max, mean, median ë“±ì˜ ì—°ì‚°ë„ ê°€ëŠ¥
countries['area'].min()

30510

In [ ]:
# .loc ì˜ˆì‹œ
# redefining the example objects

# series
population = pd.Series({'Germany': 81.3, 'Belgium': 11.3, 'France': 64.3, 
                        'United Kingdom': 64.9, 'Netherlands': 16.9})

# dataframe
data = {'country': ['Belgium', 'France', 'Germany', 'Netherlands', 'United Kingdom'],
        'population': [11.3, 64.3, 81.3, 16.9, 64.9],
        'area': [30510, 671308, 357050, 41526, 244820],
        'capital': ['Brussels', 'Paris', 'Berlin', 'Amsterdam', 'London']}
countries = pd.DataFrame(data)
countries = countries.set_index('country')
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries.loc['Germany', 'area']

357050

In [ ]:
countries.loc[countries['density'] > 300, ['capital', 'population']]

               capital  population
country
Belgium       Brussels        11.3
Netherlands  Amsterdam        16.9

In [ ]:
countries.loc['France':'Germany', ['area', 'population']]

           area  population
country
France   671308        64.3
Germany  357050        81.3

In [ ]:
# .iloc ì˜ˆì‹œ
countries

                population    area    capital
country
Belgium               11.3   30510   Brussels
France                64.3  671308      Paris
Germany               81.3  357050     Berlin
Netherlands           16.9   41526  Amsterdam
United Kingdom        64.9  244820     London

In [ ]:
countries.iloc[0:2,1:3]

           area   capital
country
Belgium   30510  Brussels
France   671308     Paris

In [ ]:
# ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° ë½‘ê¸°
## List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.
cast = cast[cast.name == 'Cary Grant']
cast = cast[cast.year // 10 == 194]
cast = cast[cast.n == 2]
cast = cast.sort('year')
cast

In [ ]:
# ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° ë½‘ê¸°
df = df[df.line_race != 0]

In [ ]:
df = pd.read_csv("data/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df_info = df[["Age","Fare"]]
df_info.head()

    Age     Fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

In [ ]:
f = lambda x : x.max() - x.min()
df_info.apply(f)

Age      79.5800
Fare    512.3292
dtype: float64

In [ ]:
df_info.apply(sum)

Age            NaN
Fare    28693.9493
dtype: float64

In [ ]:
def f(x):
    return Series([x.min(), x.max(), x.mean()], 
                    index=["min", "max", "mean"])
df_info.apply(f)

            Age        Fare
min    0.420000    0.000000
max   80.000000  512.329200
mean  29.699118   32.204208

In [ ]:
f = lambda x : -x
df_info.applymap(f).head(5)

    Age     Fare
0 -22.0  -7.2500
1 -38.0 -71.2833
2 -26.0  -7.9250
3 -35.0 -53.1000
4 -35.0  -8.0500

In [ ]:
f = lambda x : -x
df_info["Age"].apply(f).head(5)

0   -22.0
1   -38.0
2   -26.0
3   -35.0
4   -35.0
Name: Age, dtype: float64

In [ ]:
users[lambda x: x.gender == 'F']

In [ ]:
# isin
countries[lambda x: x.capital.isin(['Berlin', "London"])]

                population    area capital     density
country
Germany               81.3  357050  Berlin  227.699202
United Kingdom        64.9  244820  London  265.092721

In [ ]:
#stratswith
countries['capital'].str.startswith('B')

country
Belgium            True
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

In [ ]:
countries[countries['capital'].str.len() > 7]

             population   area    capital     density
country
Belgium            11.3  30510   Brussels  370.370370
Netherlands        16.9  41526  Amsterdam  406.973944

In [ ]:
countries[countries['capital'].str.contains('am')]

             population   area    capital     density
country
Netherlands        16.9  41526  Amsterdam  406.973944

In [ ]:
# sort
titles[titles.title == 'Treasure Island'].sort('year')

In [ ]:
# sort
titles.sort('year').head(2)

In [ ]:
# ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° groupbyí•˜ê¸°
df_phone[df_phone['item'] == 'call'].groupby('month')['duration'].sum()

In [ ]:
# endswith
files = [file_name for file_name in os.listdir("./data") if file_name.endswith("xlsx")]
files.remove("excel-comp-data.xlsx")
files.remove('df_routes.xlsx')
files

In [ ]:
# astype(), str í˜•íƒœë¡œ column ë°”ê¾¸ê¸°
## ì˜ˆì œ1
df[['A','C'].astype(str) 

## ì˜ˆì œ2
int_but_object_data =['BsmtFullBath', 'BsmtHalfBath', 'MSSubClass']
for col in int_but_object_data:
    Big_df[col] = Big_df[col].astype('object')

In [ ]:
# .isin
df = df[df["subclass"].isin(list("ABCEDFGHIJKLMNOPQRSTUVWXYZ"))]

In [ ]:
# .tolist
dz_list = dizhi.values.tolist()

## ğŸ” Save and Read files

- **pd. read_csv ( " ë°ì´í„° ì´ë¦„ ë° ì£¼ì†Œ " , sep = ' ë¹ˆê³µê°„ìœ¼ë¡œ ì§€ì • ' , header = ' ', index_col = , parse_dates=True, usecols = [ ' ' ] ,  na_values= " " )**: íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸°, parse_datesë¥¼ Trueë¡œ ë†“ìœ¼ë©´ datetimeìœ¼ë¡œ ì½ì–´ì˜¨ë‹¤. ì•„ë‹ˆë©´ parse_date=['ì¹¼ëŸ¼ ì´ë¦„'] ì´ë ‡ê²Œ í•´ë„ ëœë‹¤.
<br>
na_valuesë¥¼ ì„¤ì •í•´ì£¼ë©´ í•´ë‹¹ ê°’ì„ NaNìœ¼ë¡œ ë³€í™˜í•´ì„œ ë¶ˆëŸ¬ì˜¨ë‹¤.

  **pd. read_csv ( " index_col = [ 0 ] )** : ì´ë ‡ê²Œ í•˜ë©´ ì•ì— unnamed:0 columnì„ ì—†ì•¨ ìˆ˜ ìˆìŒ
- **.to_excel ( " ì œëª©.xlsx " ,  sheet_name = ' ì´ë¦„ ' )**: ì—‘ì…€ë¡œ ì €ì¥í•˜ê¸°
- **.to_csv ( " ì œëª©.csv " , index = False , encoding = " euc-kr ")**: ì—‘ì…€ë¡œ ì €ì¥í•˜ê¸°. ë’¤ì— encoding ì €ë ‡ê²Œ í•˜ë©´ ê·¸ëƒ¥ ì—´ì—ˆì„ ë•Œ í•œê¸€ì´ ì•ˆ ê¹¨ì§

<h2> Using Openpyxl </h2>

- **openpyx .Workbook()** : ìƒˆë¡œìš´ excel workbookì„ ë§Œë“¤ì–´ëƒ„
- **sheet .active**: í˜„ì¬ í™œì„±í™”ëœ worksheetì„ ë³´ì—¬ì¤Œ
- **sheet .append**: ë¦¬ìŠ¤íŠ¸ í˜•ì‹ìœ¼ë¡œ ë¶™ì„
- **sheet .title**: sheet ì´ë¦„ì„ ë³€ê²½
- **openpyxl .Workbook() .create_sheet ( " sheet ì´ë¦„ " )**: ìƒˆë¡œìš´ ì‹œíŠ¸ë¥¼ ë§Œë“¤ê¸°
- **sheet [ ' cell location ' ] = str or int**: íŠ¹ì • cellì— ê°’ì„ ë„£ì–´ì£¼ê³  ì‹¶ì„ ë•Œ
 
  **sheet. cell ( row = , column = ) .value = str or int**: ì´ë ‡ê²Œ cellì— ê°’ì„ ë„£ì–´ì¤„ ìˆ˜ë„ ìˆìŒ
- **openpyxl.Workbook().save('ì´ë¦„.í˜•ì‹')** : ì €ì¥í•˜ê¸°

### ğŸ“” Examples

In [ ]:
# ì˜ˆì‹œ 4
wb = openpyxl.Workbook()

# sheet1ì€ í™œì„±í™”ë˜ ìˆëŠ” ì‹œíŠ¸ë¥¼ ì„ íƒ
sheet1 = wb.active
# sheet1ì˜ ì‹œíŠ¸ì´ë¦„ ë³€ê²½
sheet1.title = "1st sheet"

# ìƒˆë¡œìš´ ì‹œíŠ¸ ë§Œë“¤ê³  sheet2ì— ì €ì¥
sheet2 = wb.create_sheet("2nd sheet")

# sheet1ê³¼ sheet2ì— ë™ì‹œì— ë°ì´í„° ì“°ê¸°
for i in range(1, 10):
    sheet1.cell(row=i, column=1).value = i
    sheet2.cell(row=1, column=i).value = i

wb.save('test.xlsx')

In [ ]:
# ì˜ˆì‹œ 3
# openpyxlì„ ê°€ì ¸ì˜µë‹ˆë‹¤.
import openpyxl

# ì›Œí¬ë¶(ì—‘ì…€íŒŒì¼)ì„ ìƒˆë¡œ ë§Œë“­ë‹ˆë‹¤.
wb = openpyxl.Workbook()

# í˜„ì¬ í™œì„±í™”ëœ ì‹œíŠ¸ë¥¼ ì„ íƒí•©ë‹ˆë‹¤.
sheet = wb.active
# A1ì…€ì— hello world!ë¥¼ ì…ë ¥í•©ë‹ˆë‹¤.
sheet['A1'] = 'hello world!'

sheet.cell(row=3, column=3).value = "hello world"


# ì›Œí¬ë¶(ì—‘ì…€íŒŒì¼)ì„ ì›í•˜ëŠ” ì´ë¦„ìœ¼ë¡œ ì €ì¥í•©ë‹ˆë‹¤.
wb.save('test.xlsx')

In [ ]:
# Openpyxl ì˜ˆì‹œ 1
# ë„¤ì´ë²„ eë¶ ë°ì´í„° ìˆ˜ì§‘ ê²°ê³¼ íŒŒì¼ë¡œ ì €ì¥í•˜ê¸°
wb = openpyxl.Workbook()
sheet = wb.active
sheet.append(["ì±…ì œëª©", "ì €ì"])

for n in range(1, 6):
    raw = requests.get("https://series.naver.com/ebook/top100List.nhn?page="+str(n), 
                  headers={'User-Agent':'Mozilla/5.0'})
    html = BeautifulSoup(raw.text, "html.parser")
    container = html.select("div.lst_thum_wrap li")
    try:
        for cont in container:
            title = cont.select_one("a strong").text.strip()
            author = cont.select_one("span.writer").text.strip()
            sheet.append([title, author])
    except:
        continue

wb.save("week4_homework_1.xlsx")

In [ ]:
# Openpyxl ì˜ˆì‹œ 2
# ì»¨í…Œì´ë„ˆ, ì œëª©, ê¸°ì‚¬ìš”ì•½
# í˜ì´ì§€ ë„˜ì–´ê°€ê¸°
wb = openpyxl.Workbook()
sheet = wb.active
sheet.append(["ê¸°ì‚¬", "ë‚´ìš©"])

for n in range(1, 6):
    raw = requests.get("https://search.daum.net/search?w=news&q=ì½”ì•Œë¼&p="+str(n))
    html = BeautifulSoup(raw.text, 'html.parser')
    container = html.select("div.wrap_cont")
    
    for cont in container:
        title = cont.select_one("a.f_link_b").text.strip()
        summary = cont.select_one("p.f_eb.desc").text.strip()
        sheet.append([title, summary])
wb.save("week4_homework_2.xlsx")

## ğŸ” Simple Plotting & Styling

- **plt .figure ( ) .set_size_inches ( , )**: ê·¸ë¦¼ì´ ê·¸ë ¤ì§ˆ ì‚¬ì´ì¦ˆë¥¼ ì •í•¨
- **.add_supbplot ( )**: ê·¸ë¦¼ì´ ì–´ë””ì— ìœ„ì¹˜í• ì§€ ì •í•´ì¤Œ
- **.set_title ( " ì œëª© " )**: ì œëª©ì„ ë‹¬ì•„ì¤Œ
- **.scatter ( data1 , data2, color = ' ' , label = ' ' )**: scatter plot ê·¸ë¦¬ê¸°
- **.hist ( data, bins = )**: histogramì„ ê·¸ë ¤ì¤Œ, binsëŠ” ê¸°ë‘¥ì˜ ê°¯ìˆ˜
- **.plot ( )**: ì „ì²´ ë°ì´í„°ì˜ graphë¥¼ ê·¸ë ¤ì¤Œ
 
  **.plot ( kind = ' ' , xlim = [ , ], ylim = [ , ] , figsize = ( , ) )**: ì›í•˜ëŠ” plotì„ ê·¸ë ¤ì¤Œ
  - kind: bar, pie, hist, kde, box, scatter, area
  - xlim: xì¶•ì˜ ìµœì†Œê°’~ìµœëŒ€ê°’ì„ ì„¤ì •
  - ylim: yì¶•ì˜ ìµœì†Œê°’~ìµœëŒ€ê°’ì„ ì„¤ì •
  - figsize: í¬ê¸°ë¥¼ ê²°ì •
- **pd .scatter_matirx ( data, diagonal = " ", alpha = , figsize = ( , ))**: scatter matrixê·¸ë¦¬ê¸°!

### ğŸ“” Examples

In [ ]:
# Simple styling
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [ ]:
# Styling example 1
df.style.\
    applymap(color_negative_red).\
    apply(highlight_max)

In [ ]:
# Styling example 2
df.style.apply(highlight_max, subset=['B', 'C', 'D'])

In [ ]:
# Bar charts
df.style.bar(subset=['A', 'B'], color='#d65f5f')

In [ ]:
df.style.bar(subset=['A', 'B'], align='mid', color=['#d65f5f', '#5fba7d'])

In [ ]:
# Styling tables
from IPython.display import HTML

def hover(hover_color="#ffff99"):
    return dict(selector="tr:hover",
                props=[("background-color", "%s" % hover_color)])

styles = [
    hover(),
    dict(selector="th", props=[("font-size", "150%"),
                               ("text-align", "center")]),
    dict(selector="caption", props=[("caption-side", "bottom")])
]
df.style.set_table_styles(styles)\
          .set_caption("Hover to highlight.")

In [ ]:
# Hiding index
df.style.hide_index()

In [ ]:
# exports to excel with style
df.style.\
    applymap(color_negative_red).\
    apply(highlight_max).\
    to_excel('styled.xlsx', engine='openpyxl')

In [ ]:
# .plot
## ì˜ˆì œ1
no2['BASCH'].plot(kind='hist', bins=50)

## ì˜ˆì œ2
no2.plot(figsize=(20,6))

## ì˜ˆì œ3
no2[-500:].plot(figsize=(12,6))        # ê°€ì¥ ìµœê·¼ 500ê°œ ë°ì´í„°ë§Œ ë¶ˆëŸ¬ì˜¤ê¸°

## ì˜ˆì œ4
df.plot(kind='box', ylim=[0,250])

## ì˜ˆì œ5, ì‹œê³„ì—´, time series
data['1999':].resample('M').mena().plot(ylim=[0,120])

In [ ]:
# ì›í•˜ëŠ” Data ë½‘ê¸°
fig, ax = plt.subplots()
data.loc['2011':'2012', 'L06_347'].resample('M').mean().plot(ax=ax)
data.loc['2011':'2012', 'L06_347'].resample('M').median().plot(ax=ax)
ax.legend(["mean", "median"])

# ì´ë ‡ê²Œë„ ê°€ëŠ¥!
data.loc['2011':'2012', 'L06_347'].resample('M').agg(['mean', 'median']).plot()

In [ ]:
# ì›í•˜ëŠ” dataë§Œ ë½‘ì•„ì„œ ê°€ë¡œ bar plot ê·¸ë¦¬ê¸°
fig, ax = plt.subplots()
data['2013'].mean().plot(kind='barh', ax=ax)

## ğŸ” Pandas with Regular Expression

[ì •ê·œì‹ì€ ì—¬ê¸° ì°¸ì¡°!](https://wikidocs.net/4308)
> ë¬¸ì í´ë˜ìŠ¤ [ ]
- [ ]ì‚¬ì´ì˜ ë¬¸ìë“¤ê³¼ ë§¤ì¹˜í•˜ë¼ëŠ” ì˜ë¯¸
- [ ]ì•ˆì˜ ë‘ ë¬¸ì ì‚¬ì´ì— í•˜ì´í”ˆ(-)ì„ ì‚¬ìš©í•˜ë©´ ë‘ ë¬¸ì ì‚¬ì´ì˜ ë²”ìœ„ë¥¼ ì˜ë¯¸í•¨
- [a-zA-Z]: ì•ŒíŒŒë²³ ëª¨ë‘
- [0-9]: ìˆ«ì ëª¨ë‘

> .
- . ë©”íƒ€ ë¬¸ìëŠ” ì¤„ë°”ê¿ˆ ë¬¸ìì¸ \nì„ ì œì™¸í•œ ëª¨ë“  ë¬¸ìì™€ ë§¤ì¹˜í•¨ì„ ì˜ë¯¸

> *
- ì •ê·œí‘œí˜„ì‹ì˜ *ì€ * ë°”ë¡œ ì•ì— ìˆëŠ” ë¬¸ìê°€ 0ë¶€í„° ë¬´í•œëŒ€ë¡œ ë°˜ë³µë  ìˆ˜ ìˆë‹¤ëŠ” ì˜ë¯¸

> +
- +ëŠ” ìµœì†Œ 1ë²ˆ ì´ìƒ ë°˜ë³µë  ë•Œ ì‚¬ìš©í•œë‹¤. ì¦‰ *ê°€ ë°˜ë³µ íšŸìˆ˜ 0ë¶€í„°ë¼ë©´ +ëŠ” ë°˜ë³µ íšŸìˆ˜ 1ë¶€í„°ì¸ ê²ƒì´ë‹¤.

> {m,n}
- míšŒì—ì„œ níšŒê¹Œì§€ë§Œ ë°˜ë³µë¨ì„ ì˜ë¯¸

> ?
- ë°˜ë³µì´ ë ìˆ˜ë„, ì•ˆë ìˆ˜ë„ ìˆë‹¤ëŠ” ì˜ë¯¸. {0,1}ê³¼ ê°™ì€ ìš©ë„

> $
- ë¬¸ìì—´ì˜ ë§ˆì§€ë§‰ì„ ì˜ë¯¸.

### ğŸ“” Examples

In [ ]:
# replace string with regex
df.str.replace(r"-\$", "-", regex=True)

In [ ]:
# ì¢…ëª©ë²ˆí˜¸ì— K ë˜ëŠ” Lì´ ë“¤ì–´ê°„ ì£¼ì‹ì„ ì°¾ê³  ì‹¶ë‹¤ë©´
df[df['ì¢…ëª©ë²ˆí˜¸'].str.contains('[KL]', regex=True)]

In [ ]:
# ì½”ë¡œ ì‹œì‘í•´ì„œ í”¼ë¡œ ëë‚˜ëŠ” ê²ƒì„ ì°¾ê³  ì‹¶ë‹¤ë©´
df[df['ì‹œì¥êµ¬ë¶„'].str.contains('ì½”.í”¼', regex=True)]

In [ ]:
# ì¼€ì´í•˜ê³  ì”¨ê°€ ë°˜ë³µë˜ëŠ” ê²ƒì„ ì°¾ê³  ì‹¶ìœ¼ë©´
df[df['ì¢…ëª©ëª…'].str.contains('ì¼€ì´ì”¨*', regex=True)]

# ì¼€ì´ì”¨ê°€ ë°˜ë³µë˜ëŠ” ê²ƒì„ ì°¾ìœ¼ë ¤ë©´
df[df['ì¢…ëª©ëª…'].str.contains('(ì¼€ì´ì”¨)*', regex=True)]

In [ ]:
# ì¢…ëª© ì¤‘ì—ì„œ 'ì¼€ì´'í•˜ê³  'ì”¨'ê°€ 1ë²ˆ ì´ìƒ ë°˜ë³µë˜ëŠ” ì¢…ëª©ë“¤
df[df['ì¢…ëª©ëª…'].str.contains('ì¼€ì´ì”¨+', regex=True)]

In [ ]:
# 'ì¼€ì´' ë’¤ì— 'ì”¨'ê°€ 2ë²ˆ ë°˜ë³µí•˜ëŠ” ê²ƒì„ ì°¾ê¸°
df[df['ì¢…ëª©ëª…'].str.contains('ì¼€ì´ì”¨{2}', regex=True)]

In [ ]:
# 'ìŠ¤'ë¡œ ëë‚˜ëŠ” ì¢…ëª©ì„ ì°¾ê¸°
df[df['ì¢…ëª©ëª…'].str.contains('ìŠ¤$', regex=True)]

In [ ]:
# ì¢…ëª© ì¤‘ì—ì„œ 'ìš°'ë¡œ ëë‚˜ê±°ë‚˜ 'ìš°' ë’¤ì— 1ê¸€ìê°€ ë” ë¶™ì„ ë•Œ
df[df['ì¢…ëª©ëª…'].str.contains('ìš°.?$', regex=True)]

## ğŸ” Groupby, Pivot table, crosstab

> groupbyë€?  
- ì‚¬ìš©ìê°€ í–‰ ì¸ë±ìŠ¤, ì—´ ì¸ë±ìŠ¤ë¡œ ì‚¬ìš©í•˜ì—¬ í•´ë‹¹í•˜ëŠ” ë°ì´í„° ë°˜í™˜

- **.groupby ( key ) [ column ] .operation( )**: Groupbyì˜ ê¸°ë³¸ ë¬¸ë²•
- **.groupby ( key , as_index = Falese ) [ column ] .operation( )**: ì´ëŸ¬ë©´ index ì„¤ì •ì„ ë§‰ì„ ìˆ˜ ìˆìŒ
- **.groupby ( key ) [ [ column ] ] .operation( )**	Groupby ê²°ê³¼ë¥¼ Dataframeìœ¼ë¡œ ë³´ê¸°
- **.groupby ( ' key ' ) .aggregate ( )**: aggregate ì•ˆì— ì›í•˜ëŠ” ë¶„ì„ ë©”ì†Œë“œë¥¼ ë„£ì„ ìˆ˜ ìˆìŒ e.g) np.sum
- **.groupby ( [ ' key1 ' , ' key2 ' ] ) .agg([oper1] )**: aggì— ì›í•˜ëŠ” ë¶„ì„ ë©”ì†Œë“œë¥¼ ë„£ì„ ìˆ˜ ìˆìŒ

  **.agg([oper1, oper2, oper3]**: operationì„ ë§ì´ ë„£ê³  ì‹¶ìœ¼ë©´ ì´ë ‡ê²Œ í•˜ë©´ ë¨!
- **.groupby ( [ ' value ' , ' value2 ' ] ) .agg ( { ' column1 ' : oper1, ' column2 ': oper2, ' column3 ' : oper3 } )**: ê°ê° ë‹¤ë¥¸ columnì— func, operationì„ ë‹¤ë¥´ê²Œ í•˜ê³  ì‹¶ì„ ë•Œ

 **.groupby ( [ ' value1 ' , ' value2 ' ] ) .agg ( { ' column1 ' : oper1 , ' column2 ': oper2, ' column3 ' : [oper3, ' oper4 ', oper5] } )**: ì—¬ëŸ¬ ê°œ operationì„ ë„£ê³  ì‹¶ìœ¼ë©´ ì´ë ‡ê²Œ í•˜ë©´ ë¨!
 
 **.groupby ( ' key ' ) .agg ( { "column" :  [oper1 , oper2 ] } )**: ê°„ë‹¨í•˜ê²Œ ì •ë¦¬í•˜ë©´ ìš”ë¡œë¡œì½¤!
 
- **.unstack( )**: dataframeìœ¼ë¡œ ë§Œë“¤ì–´ì¤Œ
- **.stack( )**: dataframeì„ ë¶€ìˆ¨
- **.swaplevel()**: ìˆœì„œëŒ€ë¡œ ì •ë¦¬
- **.sort_values()**: valueë¥¼ ìˆœì„œëŒ€ë¡œ ì •ë¦¬

  **.sort_values(by=['column1', 'column2'], ascending=False)**: sort_valueì—ì„œ columnì„ ì§€ì •í•´ì¤„ ìˆ˜ ìˆê³  ascendingì„ falseë¡œ í•´ì„œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë¦¬ê°€ëŠ¥
- **.sort_index()**: index ìˆœì„œëŒ€ë¡œ ì •ë¦¬
- **.transform(func)**: valueë¥¼ funcì— ë”°ë¼ì„œ ë³€í™˜
- **.filter(func)**: funcì— ë§ëŠ” valueë§Œ ë°˜í™˜
- **.droplevel ( level = )**: levelì„ dropí•œë‹¤.


> Pivot table, crosstab  
- ë‘ ê°œì˜ ì—´ì„ í–‰ index, ì—´ indexë¥¼ ì‚¬ìš©í•˜ì—¬ í‘œë¡œ ë‚˜íƒ€ë‚¸ ê²ƒ.

- **pivot_table ( data, index = None, columns = None, values = None, aggfunc = ' mean ', fill_value = None, margins = False, margins_name = ' All ')**
  - data: ë¶„ì„í•  ë°ì´í„°í”„ë ˆì„ (ë©”ì„œë“œì¼ ë•ŒëŠ” í•„ìš”í•˜ì§€ ì•ŠìŒ)
  - values: ë¶„ì„í•  ë°ì´í„°í”„ë ˆì„ì—ì„œ ë¶„ì„í•  ì—´
  - index: í–‰ ì¸ë±ìŠ¤ë¡œ ë“¤ì–´ê°ˆ í‚¤ ì—´ ë˜ëŠ” í‚¤ ì—´ì˜ ë¦¬ìŠ¤íŠ¸
  - columns: ì—´ ì¸ë±ìŠ¤ë¡œ ë“¤ì–´ê°ˆ í‚¤ ì—´ ë˜ëŠ” í‚¤ ì—´ì˜ ë¦¬ìŠ¤íŠ¸
  - aggfunc: ë¶„ì„ ë©”ì„œë“œ
  - fill_value: NaN ëŒ€ì²´ ê°’
  - margins: ëª¨ë“  ë°ì´í„°ë¥¼ ë¶„ì„í•œ ê²°ê³¼ë¥¼ ì˜¤ë¥¸ìª½ê³¼ ì•„ë˜ì— ë¶™ì¼ì§€ ì—¬ë¶€
  - margins_name: ë§ˆì§„ ì—´(í–‰)ì˜ ì´ë¦„

- **.pivot_table ( [ 'Title' ], index = , columns = , aggfunc = ' ', fill_value = )**: pivot table ë§Œë“¤ê¸°

  **.pivot_table ( [ 'Title' ], index = , columns = , values = , aggfunc = ' ' )**: pivot table ë§Œë“¤ê¸°
- **pd .met ( )**: pivot tableì„ pivotí•˜ê¸° ì „ ì›ë˜ì˜ í˜•íƒœë¡œ ëŒë ¤ì¤€ë‹¤.

- **pd.crosstab ( index, columns, values = , aggrunc = )**: crosstab ë§Œë“œëŠ” ê¸°ë³¸ ê³µì‹

### ğŸ“” Examples

In [ ]:
# pd.melt
pd.melt(pivoted)

In [ ]:
# groupby
users.groupby('gender')['age'].mean()

In [ ]:
# groupby
df.groupby(["Student", "Active"]).size().unstack()

In [ ]:
# groupby
df.groupby(['Pclass', 'Sex'])['Survived'].mean()

In [ ]:
# groupby
users.groupby('gender')[['age']].mean()

In [ ]:
# groupby
df.groupby('key').aggregate(np.sum)

In [ ]:
# groupby, aggregate
def ratio(x):
 			       return x.sum() / x.count()
df.groupby('Sex')['Survived'].aggregate(ratio)

In [ ]:
# groupby, agg
df.groupby('A').agg(['min', 'max'])

In [ ]:
# groupby, agg
df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

In [ ]:
# groupby, agg
df_movie.groupby(["critic","title"]).agg({"rating":"first"}).unstack().fillna(0)

In [ ]:
# groupby, agg
grouped = abalone.groupby(['sex', 'length_cat'])

function_list = ['size', 'mean', 'std']

groupby_result = grouped['whole_weight', 'shell_weight'].agg(function_list)

groupby_result

In [ ]:
# transform
score = lambda x: (x - x.mean()) / x.std()
grouped.transform(score)

In [ ]:
# filter
df.groupby('Team').filter(lambda x: len(x) >= 3)

In [ ]:
# filter
df.groupby('Team').filter(lambda x: x["Points"].max() > 800)

In [ ]:
# ì—¬ëŸ¬ columnê³¼ ê·¸ì— ë”°ë¥¸ ë‹¤ë¥¸ í•¨ìˆ˜ê°€ ì˜¬ ìˆ˜ ìˆê²Œ í•˜ê¸°
df_phone.groupby(['month', 'item']).agg({'duration':sum,      # find the sum of the durations for each group
                                     'network_type': "count", # find the number of network type entries
                                     'date': 'first'})    # get the first date per group

In [ ]:
# ì—¬ëŸ¬ ê°œ column, operation ë„£ê¸°
df_phone.groupby(['month', 'item']).agg({'duration': [min],      # find the min, max, and sum of the duration column
                                     'network_type': "count", # find the number of network type entries
                                     'date': [min, 'first', 'nunique']})    # get the min, first, and number of unique dates

In [ ]:
# pivot table ë§Œë“¤ê¸°
df.pivot_table ( [ "title" ] ,
                index = [ df.column1, df.columns2 ] ,
                columns = df.column3, aggfunc = "sum", fill_value = 0)

In [ ]:
# pivot example
## ì˜ˆì œ1
df.pivot(index='Pclass', columns='Sex', values='Fare')

## ì˜ˆì œ2
df.pivot_table(index='Sex', columns='Pclass', values='Fare', aggfunc='count')

## ì˜ˆì œ3
df.pivot_table(index='Pclass', columns='Sex', values='Survived', aggfunc='mean')

In [ ]:
# groupby, reset_index(), sort_values(by=), ascending=Flase
merge_df.groupby(["status","name_x"])["quantity","ext price"].sum().reset_index().sort_values(
    by=["status","quantity"], ascending=False)

## ğŸ” Merge, Concat, Append

> Mergeë€?
- ìœ„ ê·¸ë¦¼ì€ ì—¬ëŸ¬ê°€ì§€ mergeì˜ ë°©ë²•ì— ëŒ€í•´ ë‚˜íƒ€ë‚¸ ê·¸ë¦¼ì…ë‹ˆë‹¤. <br>
- í•˜ë‚˜ì˜ columnì„ ê¸°ì¤€ìœ¼ë¡œ ë‘ dataframeì„ í•˜ë‚˜ë¡œ í•©ì¹  ë•Œ
- <font color = '#d9544d'>í•œìª½ì—ë§Œ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë¥¼ ì–´ë–»ê²Œ ì²˜ë¦¬í•  ê²ƒì¸ê°€</font>ì— ë”°ë¼ ê·¸ ê²°ê³¼ê°€ ë‹¬ë¼ì§‘ë‹ˆë‹¤. <br>
- <br>
- ì˜ˆë¥¼ ë“¤ì–´ scoresì™€ yearsë¥¼ 'name' columnì„ ê¸°ì¤€ìœ¼ë¡œ í•©ì¹œë‹¤ê³  í•  ë•Œ, <br>
- scoresë‚˜ years ì¤‘ í•œ ë°ì´í„°ì…‹ì—ë§Œ ì¡´ì¬í•˜ëŠ” ì‚¬ëŒ(ì§€íš¨, ì¯”ìœ„)ì„ ì²˜ë¦¬í•˜ëŠ” ë°©ë²•ì— ë”°ë¼ <br>
- mergeì˜ ì¢…ë¥˜ê°€ ì •í•´ì§‘ë‹ˆë‹¤.<br>
- <br>
- ì•„ë˜ëŠ” ê·¸ ì˜ˆì‹œì…ë‹ˆë‹¤. <br>
- howëŠ” mergeì˜ ë°©ë²•, onì€ ê¸°ì¤€ì´ ë˜ëŠ” column ì´ë¦„ì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. <br>
![join](https://letsdobigdata.files.wordpress.com/2016/03/joins.png)
 - pd.merge(df1, df2, on='ê³ ê°ëª…')
 
- **pd.merge ( df1 , df2 , on = ' column name ' )**: ê°€ì¥ basicí•œ merge ê³µì‹
   
   **pd.merge ( df1 , df2 , on = ' column name ' , how = ' ' , sort = True, indicator = True )**: ì—¬ê¸°ì„œ howë€?
     - left, right: ê¸°ì¤€ì´ ë˜ëŠ” dataframe(df1 or df2)ë¥¼ ì •í•˜ëŠ” ê²ƒ
     - outer: ë‘ dataframe ì¤‘ ì–´ëŠ í•œ ê³³ì— ì¡´ì¬í•˜ëŠ” ë°ì´í„° 
     - inner: ë‘ dataframeì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” ë°ì´í„°
     - sort: Falseë¡œ ë‘ì–´ì•¼ ì„±ëŠ¥ì´ ë†’ì•„ì§„ë‹¤.
     - indicator: mergeí•œ ë’¤ì— ì¹¼ëŸ¼ë³„ë¡œ ì–´ëŠ ë°ì´í„°í”„ë ˆì„ì— ìˆëŠ” ì• ë“¤ì¸ì§€ íƒœê·¸ë¥¼ 
 ë‚¨ê¹€
 
 
 > Concatì´ë€?
 - concatenateì˜ ì¤„ì„ë§ë¡œ ì„œë¡œ ë‹¤ë¥¸ ë‘ê°œì˜ dataframeì„ ì•„ë˜ë¡œ ì´ì–´ë¶™ì¼ ë•Œ ì‚¬ìš©
 - appendì™€ ìœ ì‚¬í•˜ë‹¤
 
 - **pd.concat ( [ df1 , df2 ] ) .reset_index ( )**: ì´ë ‡ê²Œ concatí•˜ë©´ ë¨
 
   **pd.concat ( [ df1 , df2 ] , axis = 1 )**: ì´ë ‡ê²Œ í•˜ë©´ ì—´ ì˜†ìœ¼ë¡œ ë¶™ì„. ëš±ëš±í•´ì§
 - **df1.append ( df2, ignore_index = True)**: ì´ë ‡ê²Œ appendí•˜ë©´ ë¨

### ğŸ“” Examples

In [ ]:
# Compare Example 1
df.compare(df2, align_axis=0)

# Compare Example 2
df.compare(df2, keep_shape=True)

In [ ]:
# Merge indicator examples
pd.merge(df1, df2, on="col1", how="outer", indicator="indicator_column")

In [ ]:
# How to append dictionary to dataframe
dicts = [{"A": 1, "B": 2, "C": 3, "X": 4}, {"A": 5, "B": 6, "C": 7, "Y": 8}]

result = df1.append(dicts, ignore_index=True, sort=False)

![](https://pandas.pydata.org/docs/_images/merging_append_dits.png)

In [ ]:
# crosstab
pd.crosstab(df_train['Title'], df_train['Sex']).T.style.background_gradient(cmap='summer_r')

In [ ]:
# inner join - ë‘ ë°ì´í„°í”„ë ˆì„ì— ëª¨ë‘ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ë§Œ
scores.merge(years, how='inner', on='name')

In [ ]:
# left join - scoresì— ì¡´ì¬í•˜ëŠ” ë°ì´í„° ê¸°ì¤€
scores.merge(years, how='left', on='name')

In [ ]:
# right join - yearsì— ì¡´ì¬í•˜ëŠ” ë°ì´í„° ê¸°ì¤€
scores.merge(years, how='right', on='name')

In [ ]:
# full join - ë‘ ë°ì´í„°í”„ë ˆì„ ì¤‘ ì–´ëŠ í•œ ê³³ì— ì¡´ì¬í•˜ëŠ” 
scores.merge(years, how='outer', on='name')

**Q. ë‘ dataframeì˜ key columnëª…ì´ ë‹¤ë¥¸ ê²½ìš°ëŠ” ì–´ë–»ê²Œ í• ê¹Œìš”?**

(key columnì€ ê¸°ì¤€ì´ ë˜ëŠ” columnì„ ë§í•©ë‹ˆë‹¤.) <br>
ì˜ˆë¥¼ ë“¤ì–´ yearsì˜ 'name' column ì´ëª…ì„ ë°”ê¿” years1 ë¡œ ì €ì¥í•´ë³´ê² ìŠµë‹ˆë‹¤. <br>
ì´ë•Œ 'on' ëŒ€ì‹ ì— 'left_on'ê³¼ 'right_on'ì„ ì‚¬ìš©í•˜ë©´ ë©ë‹ˆë‹¤.

In [ ]:
years1 = years.rename(columns={'name':'ì´ë¦„'})
scores.merge(years1, left_on="name", right_on="ì´ë¦„", how="inner")

## ğŸ” Dealing with Time series data


> ì‹œê°„ ìˆœì„œê°€ ìˆëŠ” ë°ì´í„°ë“¤. 'datatime', 'dateutil' moduleì„ ì‚¬ìš©í•œë‹¤.
  - datatime: ì‚¬ìš©ìê°€ í˜•ì‹ ë¬¸ìì—´ì„ ì œê³µí•´ì•¼ í•˜ì§€ë§Œ
  - dateutil: ìë™ìœ¼ë¡œ í˜•ì‹ ë¬¸ìì—´ì„ ì°¾ì•„ì„œ datetime.datetime í´ë˜ìŠ¤ ê°ì²´ë¥¼ ìƒì„±

- **datetime .datetime ( year = , month = , day = , hour = , minute = , seconde = , microsecond = )**: ì‹œê°„ ì„¤ì •í•˜ê¸°
- **.weekday ( )**: ìš”ì¼ ë°˜í™˜ (0:ì›”, 1:í™”, 2:ìˆ˜, 3:ëª©, 4:ê¸ˆ, 5:í† , 6:ì¼)
- **.strftime()**: ë¬¸ìì—´ë¡œ ë°”ê¿”ì¤€ë‹¤!
  - %Y:	ì—°ë„ 
  - %m:	ì›” 
  - %d:	ì¼ 
  - %H:	ì‹œê°„ 
  - %M:	ë¶„ 
  - %S:	ì´ˆ 
  - %A:	ìš”ì¼
  - %B:	ì›” 
- **df .column .apply ( dateutil .parser .parse, dayfirst = True )** : ì‹œê°„ ë°ì´í„°ë¡œ ë³€í™˜í•´ì£¼ê¸°
 
  **pd.to_datetime(df.column)**: ì´ë ‡ê²Œ ë°”ê¿”ì¤„ ìˆ˜ë„ ìˆìŒ
- **df .groupby ( ' time ' ) [ ' columns ' ] .operation( )**: dateutilì„ í•œ ë‹¤ìŒì—ëŠ” ì´ì œ timeì— date, month, year ë“±ìœ¼ë¡œ groupby ê°€ëŠ¥
- **datetime.timedelta (days = , seconds = )**: 
  - .days: ì¼ìˆ˜
  - .seconds: ì´ˆ
  - .microseconds: ë§ˆì´í¬ë¡œì´ˆ
  - .total_seconds(): ëª¨ë“  ì†ì„±ì„ ì´ˆë‹¨ìœ„ë¡œ í™˜ì‚°
- **pd.Timestamp()**: time stampë¥¼ ë°˜í™˜
- **pd .to_datetime ( " YYYY - MM - DD ", dayfist = True, formot = )**: datetimeìœ¼ë¡œ ë°”ê¿”ì¤Œ, dayfirstë¥¼ trueë¡œ í•˜ë©´ ì œì¼ ì²˜ìŒì— ë‚˜ì˜¤ëŠ” strë¥¼ dayë¡œ ì¸ì‹. formatì€ .strftime í˜•ì‹ì— ë§ì¶”ë©´ ê°€ëŠ¥
- **.dt.hour**: ì‹œê°„ì„ ë°˜í™˜
- **.day**: ë‚ ì§œë¥¼ ë°˜í™˜
- **.dayofyear**: 1ë…„ ë‹¨ìœ„ë¡œ ë‚ ì§œë¥¼ ë°˜í™˜
- **.year**: ì—°ë„ë¥¼ ë°˜í™˜
- **.dt.weekday**: ìš”ì¼ì„ ë°˜í™˜

  **.dt.day_name()**: ìš”ì¼ì„ ë°˜í™˜
- **pd .date_range ( start = "YYYY-MM-DD", periods = , freq = ' ' )**: ì‹œê°„ëŒ€ë¥¼ ë§Œë“¤ì–´ì¤„ ìˆ˜ë„ ìˆìŒ!!!

  **pd .date_range ( " YYYY-MM-DD " : " YYYY-MM-DD " )**: ì´ë ‡ê²Œ ë§Œë“¤ì–´ì¤„ ìˆ˜ë„ ìˆìŒ!
- **df [ ' time_stamp1 ' : ' time_stamp2 ' ]**: time series dataì—ì„œ data ê³¨ë¼ì˜¤ëŠ” í¸í•œ ë°©ë²•! time data indexing
  
  **df [ ' 20xx ' ]**: ì´ê²Œ ë” í¸í•¨
- **.between_time ( ' time1 ' , ' time2 ' )**: time1~time2ê¹Œì§€ì˜ ë°ì´í„°ë¥¼ ë½‘ì•„ì¤Œ
- **resample()**: ì§€ì •í•´ì¤€ time frequencyëŒ€ë¡œ ë°ì´í„°ë¥¼ ì¬ë°°ì—´í•œë‹¤.
  - 'D': ì¼ ë‹¨ìœ„
  - 'W': ì£¼ ë‹¨ìœ„
  - 'M': ì›” ë‹¨ìœ„
  - 'Y', 'A': ì—° ë‹¨ìœ„
  - 'H': ì‹œê°„ ë‹¨ìœ„
  - 'T': ë¶„ ë‹¨ìœ„
  - 'S': ì´ˆ ë‹¨ìœ„
  - '10T': 10ë¶„ ë‹¨ìœ„

### ğŸ“” Examples

In [ ]:
srs

2021-01-01   -0.501085
2021-01-02    1.439763
2021-01-03    1.054725
2021-01-04    0.017595
2021-01-05    0.468109
                ...
2021-03-17   -1.021388
2021-03-18    0.395117
2021-03-19   -0.545944
2021-03-20    0.994538
2021-03-21   -0.183844
Freq: D, Length: 80, dtype: float64

In [ ]:
rng = pd.date_range('20210101', periods=80)
srs = pd.Series(np.random.randn(len(rng)), rng)
srs.to_period()

2021-01-01   -0.501085
2021-01-02    1.439763
2021-01-03    1.054725
2021-01-04    0.017595
2021-01-05    0.468109
                ...
2021-03-17   -1.021388
2021-03-18    0.395117
2021-03-19   -0.545944
2021-03-20    0.994538
2021-03-21   -0.183844
Freq: D, Length: 80, dtype: float64

In [ ]:
# day_name() ì˜ˆì‹œ
train["datetime-dayofweek"] = train["datetime"].dt.day_name()

In [ ]:
# datetime
dt = datetime.datetime(year=2016, month=12, day=19, hour=13, minute=30)
print(dt)

2016-12-19 13:30:00

In [ ]:
# weekday
print(dt.weekday())

0

In [ ]:
# strftime
print(dt.strftime("%d %B %Y"))

19 December 2016

In [ ]:
print(dt.strftime("%d %B %Y"))

19 December 2016

In [ ]:
df_phone['date'] = df_phone['date'].apply(dateutil.parser.parse, dayfirst=True)
df_phone.head()

In [ ]:
# ì¡°ê±´ì— ë§ëŠ” ë°ì´í„° groupbyí•˜ê¸°
df_phone[df_phone['item'] == 'call'].groupby('month')['duration'].sum()

In [ ]:
# ì›í•˜ëŠ” í˜•íƒœë¡œ groupbyí•˜ê¸°. date, count
df_phone.groupby(['month', 'item'])['date'].count().unstack()

In [ ]:
# 
df_phone.groupby('month', as_index=False).agg({"duration": "sum"})

In [ ]:
# ì—¬ëŸ¬ columnê³¼ ê·¸ì— ë”°ë¥¸ ë‹¤ë¥¸ í•¨ìˆ˜ê°€ ì˜¬ ìˆ˜ ìˆê²Œ í•˜ê¸°
df_phone.groupby(['month', 'item']).agg({'duration':sum,      # find the sum of the durations for each group
                                     'network_type': "count", # find the number of network type entries
                                     'date': 'first'})    # get the first date per group

In [ ]:
# ì—¬ëŸ¬ ê°œ column, operation ë„£ê¸°
df_phone.groupby(['month', 'item']).agg({'duration': [min],      # find the min, max, and sum of the duration column
                                     'network_type': "count", # find the number of network type entries
                                     'date': [min, 'first', 'nunique']})    # get the min, first, and number of unique dates

In [ ]:
# parse
parse('2016-04-16')

datetime.datetime(2016, 4, 16, 0, 0)

In [ ]:
# parse
parse("Apr 16, 2016 04:05:32 PM")

datetime.datetime(2016, 4, 16, 16, 5, 32)

In [ ]:
# timedelta
dt1 = datetime.datetime(2016, 2, 19, 14)
dt2 = datetime.datetime(2016, 1, 2, 13)
td = dt1 - dt2

In [ ]:
# timedelta
td.days, td.seconds, td.microseconds

(48, 3600, 0)

In [ ]:
# timedelta
to_date

datetime.datetime(2018, 11, 30, 14, 0)

In [ ]:
# Timestamp
ts = pd.Timestamp('2016-12-19')
print(ts.month)
print(ts + pd.Timedelta('5 days'))

12
2016-12-24 00:00:00

In [ ]:
td.days

48

In [ ]:
# .to_datetime
## ì˜ˆì œ1
pd.to_datetime(df.col1)

## ì˜ˆì œ2
pd.to_datetime("2016-12-09")

## ì˜ˆì œ3
pd.to_datetime("09/12/2016", format="%d/%m/%Y")

## ì˜ˆì œ4
data['Time'] = pd.to_datetime(data['Time'])

In [ ]:
# pd.date_range
pd.Series(pd.date_range(start="2016-01-01", periods=10, freq='3H'))

0   2016-01-01 00:00:00
1   2016-01-01 03:00:00
2   2016-01-01 06:00:00
3   2016-01-01 09:00:00
4   2016-01-01 12:00:00
5   2016-01-01 15:00:00
6   2016-01-01 18:00:00
7   2016-01-01 21:00:00
8   2016-01-02 00:00:00
9   2016-01-02 03:00:00
dtype: datetime64[ns]

In [ ]:
# pd.date_range
pd.date_range("2018-4-1", "2018-4-30")
pd.date_range(start="2018-4-1", periods=30)

In [ ]:
# columnì„ datetimeìœ¼ë¡œ ë³€í˜•í•˜ê¸°
data = pd.read_csv("data/flowdata.csv")

In [ ]:
# 1ì›” ë°ì´í„°ë§Œ ë¶ˆëŸ¬ì˜¤ê¸°
data[data.index.month == 1]

In [ ]:
# ì›í•˜ëŠ” month ë°ì´í„°ë§Œ ë¶ˆëŸ¬ì˜¤ê¸°  e.g 1,2,3ì›” / .isin
data['months'] = data.index.month
data[data['months'].isin([1, 2, 3])]

In [ ]:
# resample
## ì˜ˆì œ1
data.resample('D').mean().head()

## ì˜ˆì œ2
data.resample('D').max().head()

## ğŸ” Save and Read as Different Data Form

- ì „ë°˜ì ìœ¼ë¡œ Featherê°€ ë°ì´í„° ìš©ëŸ‰, ì €ì¥ì†ë„, ë¡œë”©ì†ë„ ë“±ì—ì„œ performanceê°€ ì œì¼ ì¢‹ë‹¤. 
  (Among CSV, Feather, HDF, messagePack, Parquet, Pickle)
- Stringì„ ì „ë¶€ Categoricalë¡œ ë°”ê¾¸ë©´ ì„±ëŠ¥ì´ ë” ì¢‹ë‹¤.

> Feather
- **.to_feather**: Save as Feather
- **.read_feather**: Read feather file

> SAS
- **.read_sas( )**: Read SAS file

### ğŸ“” Examples

In [ ]:
# Save as Feather
df.to_feather("df.ftr")

In [ ]:
pd.read_feather("df.ftr", use_threads=True)

In [ ]:
df = pd.read_sas("sas_data.sas7bdat")

## ğŸ” Optimize speed and memory

<h3> Performance Comparision Table </h3>

![](https://miro.medium.com/max/1400/1*p4zjrqG97C4bFmOXU5UQog.png)

In [ ]:
# Crude looping
def haversine_looping(df):
    distance_list = []
    for i in range(0, len(df)):
        d = haversine(40.671, -73.985, df.iloc[i]['latitude'], df.iloc[i]['longitude'])
        distance_list.append(d)
    return distance_list

df['distance'] = haversine_looping(df)

# Looping with  iterrows()
haversine_series = []
for index, row in df.iterrows():
    haversine_series.append(haversine(40.671, -73.985, row['latitude'], row['longitude']))
df['distance'] = haversine_series

# Looping with apply()
df['distance'] = df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis=1)
%lprun -f haversine df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis=1)

# Vectorization with Pandas series
df['distance'] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

# Vectorization with NumPy arrays
df['distance'] = haversine(40.671, -73.985, df['latitude'].values, df['longitude'].values)

<h3> Memory Optimization</h3>

- Codes below are column optimizating code that can reduce memory.

In [ ]:
import pandas as pd
from typing import List


def optimize_floats(df: pd.DataFrame) -> pd.DataFrame:
    floats = df.select_dtypes(include=['float64']).columns.tolist()
    df[floats] = df[floats].apply(pd.to_numeric, downcast='float')
    return df


def optimize_ints(df: pd.DataFrame) -> pd.DataFrame:
    ints = df.select_dtypes(include=['int64']).columns.tolist()
    df[ints] = df[ints].apply(pd.to_numeric, downcast='integer')
    return df


def optimize_objects(df: pd.DataFrame, datetime_features: List[str]) -> pd.DataFrame:
    for col in df.select_dtypes(include=['object']):
        if col not in datetime_features:
            num_unique_values = len(df[col].unique())
            num_total_values = len(df[col])
            if float(num_unique_values) / num_total_values < 0.5:
                df[col] = df[col].astype('category')
        else:
            df[col] = pd.to_datetime(df[col])
    return df



def optimize(df: pd.DataFrame, datetime_features: List[str] = []):
    return optimize_floats(optimize_ints(optimize_objects(df, datetime_features)))
view rawadvanced-pandas-memory-methods.py hosted with â¤ by GitHub

<h3> Merge or Lookup</h3>

- Since pandas has optimized operations based on indices, using index will improve speed in lookup or merging tables.  
- Set primary key as index and using .at methods for lookup performs best.

In [ ]:
%%timeit
listings.merge(reviews, on='listing_id')
# 439 ms Â± 24.5 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

%%timeit
reviews_ = reviews.set_index('listing_id')
listings_ = listings.set_index('listing_id')
listings_.merge(reviews_, left_index=True, right_index=True)
# 393 ms Â± 17.4 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [ ]:
listings = listings.set_index('listing_id', drop=False)

%%timeit
listings.loc[29844866, 'name']
# 10.1 Âµs Â± 1.25 Âµs per loop (mean Â± std. dev. of 7 runs, 100000 loops each)

%%timeit
listings.at[29844866, 'name']
# 5.34 Âµs Â± 474 ns per loop (mean Â± std. dev. of 7 runs, 100000 loops each)

listings = listings.reset_index(drop=True)

%%timeit
listings.loc[listings['listing_id'] == 29844866, 'name']
# 593 Âµs Â± 30 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

%%timeit 
listings.iloc[22529]['name']
# 252 Âµs Â± 45.9 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

<h3> Vectorize Operations</h3>

- `for` loops are costly for reading and writing operations.  
- Examples below compare operation time using .iloc[ ], .iterrows( ), .loc[ ], .map( ), .apply( )

In [ ]:
# .iloc[]
%%timeit
norm_prices = np.zeros(len(listings,))
for i in range(len(listings)):
    norm_prices[i] = (listings.iloc[i]['price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 8.91 s Â± 479 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# iterrows()
%%timeit
norm_prices = np.zeros(len(listings,))
for i, row in listings.iterrows():
    norm_prices[i] = (row['price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 3.99 s Â± 346 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# .loc[]
%%timeit
norm_prices = np.zeros(len(listings,))
for i in range(len(norm_prices)):
    norm_prices[i] = (listings.loc[i, 'price'] - min_price) / (max_price - min_price)
listings['norm_price'] = norm_prices
# 408 ms Â± 61.2 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# .map()
%%timeit 
listings['norm_price'] = listings['price'].map(lambda x: (x - min_price) / (max_price - min_price))
# 39.8 ms Â± 2.33 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

# Vectorize
%%timeit
listings['norm_price'] = (listings['price'] - min_price) / (max_price - min_price)
# 1.76 ms Â± 107 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)
view rawadvanced-pandas-operations.py hosted with â¤ by GitHub

<h3> ğŸ“Œ REMEMBER </h3>

Before doing something with dataframe

- Step 1) Normalize dataframes and optimize column types
- Step 2) Merge Dataframes if necessary (Don't forget to use index when merging)
- Step 3) When doing operations, try using Numpy vectorization as possible, if not use .at method or map( )

### ğŸ“” Examples

- functionName(df.to_numpy()) is the fasttest!

In [ ]:
# Custom function without numba
%timeit df["col1_doubled"] = df["a"].apply(double_every_value_nonumba)  # noqa E501
1000 loops, best of 3: 797 us per loop

# Standard implementation (faster than a custom function)
%timeit df["col1_doubled"] = df["a"] * 2
1000 loops, best of 3: 233 us per loop

# Custom function with numba
%timeit df["col1_doubled"] = double_every_value_withnumba(df["a"].to_numpy())
1000 loops, best of 3: 145 us per loop

# âœï¸ Tips collection

- ë°ì´í„° íƒ€ì…, ì¸ë±ì‹± ë“±ìœ¼ë¡œ ìµœì í™”í•˜ëŠ”ê±° ë¬´ì¡°ê±´ ê¸°ì–µ!
- applyëŠ” numpy( )ë¡œ ë°”ê¿”ì„œ í•¨ìˆ˜ ì†ì— df ë„£ê¸°
- atì´ ì œì¼ ì ‘ê·¼ì†ë„ê°€ ë¹ ë¥´ë‹¤.
- pipe( )ë¥¼ ì¨ì„œ ì½”ë“œëŠ” í•œì¤„ë¡œ ê¹”ë”íˆ!
- Mergeí•  ë•ŒëŠ” .merge(sort = False)í•˜ë©´ ì„±ëŠ¥ì´ í–¥ìƒëœë‹¤.